@@include('../include/_head.html', {
	"page": "brand"
})

<body class="page-brand">

<div class="wrapper">
	@@include('../include/_header.html')
	
	<div class="contents board view">
        <div class="top-sect">
            <div class="container">
                <h2 class="sub-tit">누리숲 뉴스</h2>
                <p class="sub-txt">누리숲에서 뷰티 이슈와 피부건강 소식을 신속하게 전해드립니다.</p>
            </div>
        </div>
        
        <div class="view-sect">
            <div class="container">
                <div class="view-area">
                    <!-- 제목 -->
                    <div class="top-box">
                        <h3 class="view-tit">가을철 피부를 위해 주목해야 할 성분, 'EGF'란?</h3>
                        <div class="view-num-box">
                            <p class="view-num">
                                <span class="num-tit">작성일 :</span>
                                <span class="num-txt">2019.10.07</span>
                            </p>
                        </div>
                    </div>
                    
                    <!-- 내용 -->
                    <div class="view-box">
                        <p class="txt">
                            여성이라면 여름부터 쓰던 가벼운 제형의 세럼이나 로션, 크림이 어딘가 모르게 부족하다고 느껴지는 계절이다. 달라진 가을 날씨를 가장 먼저 느끼는 곳이 바로 피부이기 때문이다. <br>
                            건조하고 손상되기 쉬운 가을철 피부를 위해 지금 주목해야 할 성분으로 ‘EGF’가 있다.
                        </p>
                        <figure class="img">
                            <img src="http://src.hidoc.co.kr/image/lib/2016/10/7/20161007145556280_0.jpg" alt="가을철 피부를 위해 주목해야 할 성분, 'EGF'란?"><br>
                            <img src="http://src.hidoc.co.kr/image/lib/2016/10/7/20161007145556521_0.jpg" alt="가을철 피부를 위해 주목해야 할 성분, 'EGF'란?"><br>
                            <img src="http://src.hidoc.co.kr/image/lib/2016/10/7/20161007145556761_0.jpg" alt="가을철 피부를 위해 주목해야 할 성분, 'EGF'란?"><br>
                            <img src="http://src.hidoc.co.kr/image/lib/2016/10/7/20161007145556997_0.jpg" alt="가을철 피부를 위해 주목해야 할 성분, 'EGF'란?"><br>
                            <img src="http://src.hidoc.co.kr/image/lib/2016/10/7/20161007145557236_0.jpg" alt="가을철 피부를 위해 주목해야 할 성분, 'EGF'란?"><br>
                            <img src="http://src.hidoc.co.kr/image/lib/2016/10/7/20161007145557473_0.jpg" alt="가을철 피부를 위해 주목해야 할 성분, 'EGF'란?">
                           <figcaption>△MBC ‘파워매거진’ 방송캡쳐</figcaption>
                        </figure>
                        <p class="txt">EGF란 어떤 성분일까?</p>
                        <p class="txt">
                            EGF는 우리 몸의 피부 속에 존재하는 세포 생장 촉진 물질인 ‘상피세포성장인자’로, 피부의 상처를 아물게 하고 탄력을 유지시켜주며 손상된 피부를 안정화 시키는 역할을 한다.<br>
                            EGF의 주요 작용은 표피세포 내에 들어가 세포핵에 작용하여 표피세포의 분열과 증식속도를 촉진하고, 표피세포의 분열증식 속도 및 진피 재생 속도까지 조절해 피부 재생 전 과정의 리듬을 주도해 주는 것이다.<br>
                            이를 통해 상처 부위의 흉터를 최소화하고, 진피 구성성분인 콜라겐을 합성하는 섬유아 세포의 세포증식을 촉진하는 기능을 하는 것. 또한 피부 손상부위의 혈관 생성 및 재생촉진인자의 분비를 유도하고 피부 조직이 질서 있게 방향을 잡으며 망을 형성하게 하는 파이브로넥틴(Fibronectin)의 합성을 촉진하는 등 피부 재생에 핵심적인 역할을 한다.<br>
                            피부에 EGF를 보충해주면 새로운 세포가 신속하게 생성되고 노화된 세포는 각질화되어 탈락되는데, 이 과정에서 피부 탄력이 강화되며 주름이 열어지는 효과가 있다. 이렇게 새 세포의 비중이 증가하면 피부 속의 멜라닌 색소 및 티로시나제 생성 억제와 감소로 잡티가 차츰 옅어지는 미백 효과도 기대할 수 있다고 한다.
                        </p>
                        <p class="txt">EGF 재생크림, 어떤 제품이 있을까?</p>
                        <figure class="img">
                            <img src="http://src.hidoc.co.kr/image/lib/2016/10/7/20161007144754687_0.jpg" alt="이지듀 데일리 DW-EGF 크림">
                        </figure>
                        <p class="txt">이지듀 데일리 DW-EGF 크림</p>
                        <p class="txt">
                            이지듀 데일리 DW-EGF 크림은 독자 성분인 DW-EGF(sh-Oligopeptide-1)가 함유된 기능성 크림이다. 대웅제약의 R&D 기술력으로 의약품화에 성공한 DW-EGF가 핵심 성분으로 함유되어 있다는 것이 차별점이다.<br>
                            피부장벽을 강화하고 피부 수분 보호막을 형성해 건조한 날씨로 피부 컨디션이 악화되기 쉬운 가을, 겨울철에 사용하면 효과적이며 세라마이드, 아미노산, 콜라겐, 비타민C, 히알루론산, 엘라스틴 등 6가지 피부 유사 성분이 함유돼 피부를 생기 있게 가꿔 준다.<br>
                            민감성 피부 자극 테스트와 누적 자극 테스트 등 피부과 화장품 수준의 안전성 테스트를 거쳤으며 방부제와 미네랄오일, 설페이트계 계면활성제 등 8가지 무첨가 처방으로 안심하고 사용할 수 있다.
                        </p>
                        <figure class="img">
                            <img src="http://src.hidoc.co.kr/image/lib/2016/10/7/20161007144754452_0.jpg" alt="셀라피 에이리페어 플러스 크림">
                        </figure>
                        <p class="txt">셀라피 에이리페어 플러스 크림</p>
                        <p class="txt">
                            셀라피 에이리페어 플러스 크림은 기존 라인인 에이리페어보다 줄기세포배양액 성분과 에이리페어 콤플렉스 성분이 2.5배 많이 함유되어 더욱 효과적으로 피부의 진정과 재생을 도와준다.<br>
                            에이리페어 콤플렉스 성분은 피부장벽을 강화해주는MGF(EGF, bFGF)와 항염 및 가려움증 완화 효과가 있는 Phyto-NEP으로 구성되어 있으며, 실제 피부와 유사한 이중막 구조의 마이크로리포좀으로 유효 성분의 피부 흡수율을 극대화한 것이 특징이다.<br>
                            이외에도 병풀추출물, 은이버섯추출물, 노니추출물 등 다양한 식물성 추출물이 다량 함유되어 울긋불긋한 피부 붉은기 완화와 면역력 강화를 도와준다. 또한 피부 저자극 테스트를 완료해 안전성을 높였다.
                        </p>
                        <figure class="img">
                            <img src="http://src.hidoc.co.kr/image/lib/2016/10/7/20161007144754215_0.jpg" alt="누리숲 포레스트 리페어 EFG 크림">
                        </figure>
                        <p class="txt">누리숲 포레스트 리페어 EFG 크림</p>
                        <p class="txt">
                            누리숲 포레스트 리페어 EFG 크림은 EGF 및 효모 추출 발효성분이 함유되어 생기를 잃은 피부에 탄력을 부여해 준다. 특히 고함량 EGF 성분(10ppm)이 함유되어 효과를 높였다고 한다.<br>
                            유분기 없이 촉촉함을 지속시켜 피부의 속당김을 개선해 주고 무실리콘 제형으로 모공을 막지 않고 흡수된다. 가을, 겨울 시즌에 사용하기 적합한 고보습 크림으로 유분기가 적당해 메마른 피부에 영양감을 전해준다.
                        </p>
                        <p class="txt">
                            <a href="https://www.hidoc.co.kr/healthstory/news/C0000160732" target="_blank">https://www.hidoc.co.kr/healthstory/news/C0000160732</a>
                        </p>
                    </div>
                    
                    <!-- 이전 다음 -->
                    <div class="page-box">
                        <div class="prev">
                            <p class="txt"><span></span>이전글</p>
                            <p class="link"><a href="#none">천연화장품 누리숲, 유해성분無 무기자차 `누리촉촉 병풀 썬크림` 눈길</a></p>
                        </div>
                        <div class="next">
                            <p class="txt"><span></span>다음글</p>
                            <p class="link"><a href="#none">천연화장품 누리숲, 6개월 연구 끝에 누리촉촉 무기자차 병풀 썬크림</a></p>
                        </div>
                    </div>
                    
                    <!-- 버튼 -->
                    <div class="btn-box">
                        <a href="./index_board.html" class="btn-list">목록</a>
                    </div>
                </div>
            </div>
        </div>
	</div>
	
	@@include('../include/_footer.html') 
</div>

</body>
</html>