@charset "utf-8";

@import "../parts/common";

/* 팝업 공통 */
.pop-wrap {
    z-index: 9990;
    @include position(fixed, 0, 0);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    .pop-container {
        
        /* 제품 디테일 리뷰 이미지 슬라이드 팝업 */
        .pop-dt-rv-box {
            $wd:850px;
            $ht:700px;
            @include position(absolute, 50%, 50%);
            box-sizing: border-box;
            overflow: hidden;
            width: $wd;
            height: $ht;
            margin-left: -($wd/2);
            margin-top: -($ht/2);
            .img-list {
                @include bx;
                @include clearfix;
                li {
                    @include bx;
                    display: table;
                    width: $wd !important;
                    height: $ht;
                    margin: 0 auto;
                    p {
                        display: table-cell;
                        text-align: center;
                        vertical-align: middle;
                        img {
                            max-width: $wd;
                            max-height: $ht;
                        }
                    }
                }
            }
            @include btn-controls($wd:$wd){
                .bx-controls {
                    .bx-controls-direction {
                        @include trasBase(1);
                    }
                }
            };
        }
        
        /* 닫기 */
        .btn-pop-close {
            z-index: 9999;
            display: block;
            span {
                display: block;
                font-size: 0;
                text-indent: -999px;
            }
            &.btn-dt-rv {
                @include position(fixed, 30px, $right:30px);
                span {
                    width: 25px;
                    height: 26px;
                    background: url(http://static.nurisoop.co.kr/img/renew/common/img_sprites.png) no-repeat;
                    background-position: -111px -83px;
                }
            }
        }
    }
}

/* 메인 공지 팝업 */
.main-pop-wrap {
    z-index: 999;
    @include position(absolute, 150px, 50%);
    box-sizing: border-box;
    //width: $wd;
    margin-left: -($wd/2);
    .main-pop-contents {
        $pop-wt:300px;
        @include bx;
        width: $pop-wt;
        background: #fff;
        
        .main-pop-area {
            .pop-slide-box {
                @include bx;
                border: 1px solid $bor-gray-03;
                .slide-pop-list {
                    li {
                        width: $pop-wt;
                        a {
                            @include bx;
                            display: block;
                            width: 100%;
                            img {
                                
                            }
                        }
                    }
                }
                
                //커스텀 페이지버튼
                .pager-box {
                    border-top: 1px solid $bor-gray-03;
                    .pager-list {
                        @include bx;
                        @include clearfix;
                        width: 100%;
                        li {
                            @include bx;
                            display: table;
                            float: left;
                            width: 33.3%;
                            border-left: 1px solid $bor-gray-03;
                            &:first-child {
                                border-left: 0;
                            }
                            a {
                                @include bx;
                                display: table-cell;
                                width: 100%;
                                height: 90px;
                                padding-top: 2px;
                                vertical-align: middle;
                                text-align: center;
                                font-size: 13px;
                                @include trasBase(1, $bg:#fff);
                                em {
                                    display:block;
                                    color: $fg-gray-01;
                                }
                                span {
                                    display:block;
                                    padding-top: 1px;
                                    color: $fg-gray-03;
                                }
                                
                                &:hover, &.active {
                                    @include trasBase(1, $bg:$bg-gray-02);
                                }
                            }
                        }
                    }
                }
            }
            
            /* 닫기 */
            .bot-box {
                @include bx;
                @include clearfix;
                padding: 9px 11px 8px 10px;
                background: $fg-gray-03;
                p {
                    @include bx;
                    line-height: 0;
                    > * {
                        font-size: 12px;
                        font-family: $font-dotum;
                        line-height: 12px;
                        letter-spacing: -0.2px;
                        vertical-align: middle;
                    }
                    color: #fff;
                    &.p-day-cls {
                        @include bx;
                        float: left;
                        display: inline-block;
                        
                        label {
                            padding-right: 20px;
                            @include chkbox;
                            input[type=checkbox], input[type=checkbox] + .btn-chk {
                                left: auto !important;
                                right: 0;
                            }
                        } 
                    }
                    &.p-cls {
                        float: right;
                        .btn-pop-close {
                            display: inline-block;
                        }
                    }
                }
            }
            
        }
    }
    
    &.on {
        z-index: 990;
    }
}

/*
 * ie
 */
.ie {
    /* 메인 공지 팝업 */
    .main-pop-wrap {
        .main-pop-contents {
            .main-pop-area {
                /* 닫기 */
                .bot-box {
                    p {
                        &.p-day-cls {
                            label {
                                .btn-chk {
                                    margin-top: -7px;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

