@charset "utf-8";

@import "../parts/common";

        
/* 닫기 */
.btn-pop-close {
    z-index: 9999;
    display: block;
    @include position(absolute, 15px, $right:15px);
    span {
        display: block !important;
        width: 26px;
        height: 25px;
        font-size: 0;
        text-indent: -999px;
        background: url(http://static.nurisoop.co.kr/img/renew/common/img_sprites.png) no-repeat;
        background-position: 1px -83px;
        &.white {
            background-position: -111px -83px;
        }
    }
    &.btn-dt-rv {
        @include position(fixed, 30px, $right:30px);
        span {
            width: 25px;
            height: 26px;
            background-position: -111px -83px;
        }
    }
}

/* 팝업 공통 */
.pop-wrap {
    z-index: 9990;
    @include position(absolute, 0, 0);
    box-sizing: border-box;
    
    .pop-container {
        @include bx;
        width: 800px;
        margin: 0 auto 70px;
        background: #fff;
        text-align: center;
        
        .pop-tit-box {
            .pop-tit {
                @include bx;
                color: #fff;
                background: $bg-green-01;
            }
        }
                
        .btn-box {
            @include bx;
            @include clearfix;
            display: inline-block;
            margin-top: 50px;
            text-align: center;
            [class*='btn-'] {
                float: left;
                & + [class*='btn-'] {
                    margin-left: 10px;
                }
            }
        }
    }
    
    /* 제품 디테일 리뷰 이미지 슬라이드 팝업 */
    .pop-content {
        .pop-dt-rv-box {
            $wd:850px;
            $ht:700px;
            @include position(absolute, 50%, 50%);
            box-sizing: border-box;
            overflow: hidden;
            width: $wd;
            height: $ht;
            margin-left: -($wd/2);
            margin-top: -($ht/2);
            .img-list {
                @include bx;
                @include clearfix;
                li {
                    @include bx;
                    display: table;
                    width: $wd !important;
                    height: $ht;
                    margin: 0 auto;
                    p {
                        display: table-cell;
                        text-align: center;
                        vertical-align: middle;
                        img {
                            max-width: $wd;
                            max-height: $ht;
                        }
                    }
                }
            }
            @include btn-controls($wd:$wd){
                .bx-controls {
                    .bx-controls-direction {
                        @include trasBase(1);
                    }
                }
            }
        }
    }
        
    /* 리뷰 팝업 */
    &.pop-review {
        .pop-container {
            min-height: 760px;
            padding: 40px 40px 33px;
            text-align: left;
            
            .rv-area {
                .ico-star {
                    @include ico-star;
                }
                
                //상단 이미지 영역
                .rv-top {
                    @include bx;
                    @include clearfix;
                    display: table;
                    width: 100%;
                    margin-bottom: 40px;
                    .img-box {
                        @include bx;
                        display: table-cell;
                        width: 100px;
                        vertical-align: middle;
                        .img-prd {
                            width: 100px;
                            img {
                                position: relative;
                            }
                        }
                    }
                    .txt-box {
                        @include bx;
                        display: table-cell;
                        padding: 0 20px;
                        vertical-align: middle;
                        p {
                            font-size: 15px;
                            line-height: 1;
                            font-weight: 500;
                            &.prd-name {
                                padding-top: 4px;
                            }
                            &.prd-price {
                                padding: 9px 0 21px;
                                color: $fg-green-01;
                            }
                            &.grade {
                                font-size: 17px;
                                font-weight: 400;
                                color: $fg-gray-04;
                                em {
                                    padding-left: 5px;
                                    font-weight: 500;
                                    color: $fg-black;
                                }
                            }
                        }
                        .grade-box {
                            p {
                                display: inline-block;
                                vertical-align: middle;
                                &.ico-star {
                                    margin-left: 15px;
                                }
                            }
                        }
                    }
                }
                
                //본문 영역
                .rv-main {
                    @include bx;
                    margin: 0 auto;
                    text-align: center;
                    border-top: 2px solid $bor-black-01;
                    .rv-star-box {
                        padding: 14px 0;
                        .ico-star {
                            span {
                                cursor: pointer;
                            }
                        }
                    }
                    
                    //input
                    .ip-txt {
                        @include bx;
                        width: 100%;
                        height: 45px;
                        font-size: 15px;
                        text-align: center;
                        line-height: 45px;
                        color: $fg-gray-04;
                    }
                    //textarea
                    .ta-txt {
                        @include bx;
                        width: 100%;
                        height: 210px;
                        padding: 22px 0;
                        font-size: 14px;
                        color: $fg-gray-04;
                        border: 0;
                    }
                    .rv-tit {
                        border-top: 1px solid $bor-gray-03;
                        border-bottom: 1px solid $bor-gray-03;
                    }
                    .rv-view-box {
                        .txt {
                            .count {
                                display: block;
                                padding: 8px 0;
                                font-size: 14px;
                                font-weight: 300;
                                text-align: right;
                                line-height: 1;
                                color: $fg-gray-04;
                            }
                        }
                        .file-box {
                            padding-bottom: 20px;
                            border-bottom: 1px solid $bor-gray-03;
                            .ip-file-none {
                                
                            }
                        }
                    }
                }
                
                .rv-bot {
                    text-align: center;
                    .btn-write {
                        margin: 20px auto 33px;
                        @include btn-green-bg;
                    }
                    .txt {
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 1.5;
                        color: $fg-gray-04;
                    }
                }
            }
            
        }
        
        &.read {
            .pop-container {
                .rv-area {
                    .rv-main {
                        .rv-tit-box {
                            .rv-tit {
                                border-top: 0;
                                height: 52px;
                                font-size: 17px;
                                line-height: 52px;
                            }
                        }
                        
                        .rv-num-box {
                            padding: 11px 0 13px;
                            text-align: left;
                            border-bottom: 1px solid $bor-gray-03;
                            .rv-num {
                                @include bx;
                                display: inline-block;
                                line-height: 1;
                                span {
                                    font-size: 15px;
                                    line-height: 1;
                                    &.num-tit {
                                        color: $fg-gray-04;
                                    }
                                    &.num-txt {
                                        color: $fg-black;
                                    }
                                }
                                & + .rv-num {
                                    margin-left: 17px;
                                    padding-left: 20px;
                                    @include line($bg:$bor-gray-09);
                                }
                            }
                        }
                        
                        .rv-view-box {
                            padding: 24px 0 30px;
                            text-align: left;
                            .txt {
                                font-size: 14px;
                                font-weight: 300;
                                line-height: 1.75;
                                color: $fg-black;
                            }
                            .img {
                                padding-top: 25px;
                            }
                        }
                    }
                    
                    .rv-bot {
                        @include bx;
                        padding: 10px 0 14px;
                        text-align: left;
                        border-top: 1px solid $bor-gray-03;
                        border-bottom: 1px solid $bor-gray-03;
                        .desc {
                            display: inline-block;
                            font-size: 15px;
                            font-weight: 300;
                            line-height: 1;
                            color: $fg-gray-04;
                            vertical-align: middle;
                            em {
                                font-weight: 500;
                                color: $fg-black;
                            }
                        }
                    }
                    
                    .rv-answer {
                        @include bx;
                        padding: 22px 0 28px;
                        text-align: left;
                        border-bottom: 1px solid $bor-gray-03;
                        .answer-top {
                            @include bx;
                            p {
                                @include bx;
                                display: inline-block;
                                font-size: 15px;
                                font-weight: 300;
                                &.mmg-name {
                                    color: $fg-gray-01;
                                }
                                &.date {
                                    margin-left: 15px;
                                    padding-left: 16px;
                                    color: $fg-gray-03;
                                    @include line($ht:12px, $bg:$bor-gray-03);
                                }
                            }
                        }
                        
                        .answer-view {
                            padding-top: 24px;
                            .txt {
                                font-size: 14px;
                                font-weight: 300;
                                line-height: 1.45;
                                color: $fg-gray-01;
                            }
                        }
                    }
                }
            }
        }
    }
        
    /* 광고제휴문의 팝업 */
    &.pop-inquiry {
        .pop-container {
            padding: 36px 40px 55px;
            .inquiry-area {
                .iqy-tit {
                    padding-bottom: 27px;
                    font-size: 18px;
                    font-weight: 500;
                    text-align: left;
                    letter-spacing: -0.2px;
                }
                @include tbl-row($th-pd:15px 15px 14px 29px){
                    .tbl {
                        td {
                            .row {
                                .form-sel {
                                    @include sel-com(137px, 28px, 0 8px 0 0);
                                }
                                .ta-txt {
                                    height: 258px;
                                }
                            }
                        }
                    }
                    .btn-com {
                        @include btn-gray-bor-02;
                    }
                };

                .btn-box {
                    $wd:180px;
                    .btn-gray {
                        @include btn-gray-bg($wd);
                    }
                    .btn-green { 
                        @include btn-green-bg($wd);
                    }
                }
            }
        }
    }
    
    /* 비밀번호 팝업 */
    &.pop-pw {
        padding: 235px 0 0;
        .pop-container {
            padding: 55px 40px 69px;
            margin-bottom: 0;
            .pw-area {
                @include tbl-col-gray($fs:17px, $th-pd:15px 0 16px, $td-pd:20px 0){
                    .tbl {
                        td {
                            border-bottom: 0;
                            .txt {
                                padding: 45px 0 66px;
                                font-size: 15px;
                                font-weight: 300;
                                line-height: 1.6;
                                color: $fg-gray-04;
                                em {
                                    font-weight: 400;
                                    color: $fg-black;
                                }
                            }
                            
                            .pw-row {
                                @include bx;
                                .pw-txt {
                                    @include bx;
                                    display: inline-block;
                                    margin-right: 17px;
                                    padding-left: 18px;
                                    font-size: 14px;
                                    line-height: 300;
                                    line-height: 28px;
                                    color: $fg-black;
                                    .ico-lock {
                                        @include position(absolute, 50%, 0);
                                        margin-top: -6px;
                                    }
                                }
                                .ip-txt {
                                    @include bx;
                                    width: 163px;
                                    height: 28px;
                                    padding: 0 8px;
                                    line-height: 28px;
                                    border: 1px solid $bor-gray-03;
                                }
                            }
                        }
                    }
                };
                
                .btn-box {
                    $wd:85px;
                    $ht:40px;
                    $fs:15px;
                    .btn-gray {
                        @include btn-gray-bor($wd, $ht, $fs);
                        line-height: ($ht)-(2);
                        background: $bg-gray-02;
                    }
                    .btn-green {
                        @include btn-green-bg($wd, $ht, $fs);
                        line-height: ($ht)+(2);
                    }
                }
            }
        }
        
    }
    
    /* 인증 팝업 : 이메일주소/휴대폰번호 */
    &.pop-cert {
        .pop-container {
            width: 500px;
            top: 50%;
            margin-top: -175px;
        
            .pop-tit-box {
                .pop-tit {
                    padding: 16px 55px 18px;
                    font-size: 20px;
                    font-weight: 500;
                }

            }

            .pop-cont {
                padding: 33px 30px 27px;
                .cert-txt {
                    font-size: 16px;
                    line-height: 1.6;

                    &.type-2 {
                        padding: 41px 0 70px;
                    }
                }

                .cert-box {
                    @include bx;
                    .cert-row {
                        @include bx;
                        @include clearfix;
                        display: inline-block;
                        padding: 29px 0 27px;
                        * {
                            float: left;
                            font-size: 14px;
                            line-height: 28px;
                            vertical-align: middle;
                        }
                        .cert-num-txt {
                            font-size: 15px;
                            color: $fg-red-03;
                        }
                        .ip-txt {
                            box-sizing: border-box;
                            width: 160px;
                            height: 28px;
                            margin: 0 10px;
                            padding: 0 13px;
                            border: 1px solid $bor-gray-09;
                        }
                        .btn-recert {
                            @include btn-gray-bor-02(70px, 28px);
                        }
                        .count {
                            padding-left: 10px;
                            color: $fg-red-01;
                        }
                    }
                }

                .btn-box {
                    margin-top: 0;
                    .btn-green { 
                        @include btn-green-bg(85px, 40px, 15px);
                    }
                }
            }
        }
    }
}

/* 회색팝업 */
.pop-wrap-2 {
    z-index: 9990;
    @include position(absolute, 0, 0);
    box-sizing: border-box;
            
    .btn-pop-close {
        z-index: 899;
        top: 10px;
        right: 10px;
        span {
            width: 19px;
            height: 19px;
            background-position: -146px -82px;
        }
    }
    
    .pop-container {
        @include bx;
        width: 800px;
        margin: 0 auto 70px;
        background: #fff;
        text-align: center;
        border: 1px solid $bor-gray-07;
        
        .pop-tit-box {
            text-align: left;
            .pop-tit {
                @include bx;
                padding: 9px 20px 10px;
                font-size: 16px;
                letter-spacing: -0.2px;
                color: #fff;
                background: $bg-gray-09;
            }
        }
        
        .pop-cont {
            @include bx;
            padding: 20px 20px 0;
            text-align: left;

            .btn-com {
                @include btn-gray-bor(70px, 27px, 13px);
            }
            .btn-com-2 {
                @include btn-gray-bor-02(70px, 27px, 13px, $fg:$fg-black, $bor-g:$bor-black-01);
            }
            .btn-black {
                @include btn-black-bg(70px, 27px, 13px);
            }
            .btn-gray { 
                @include btn-gray-bg(70px, 27px, 13px);
            }
            .btn-green {
                @include btn-green-bg(70px, 27px, 13px);
            }
            [class*='btn-'] {
                &.w-1 {
                    width: 40px;
                }
                &.w-2 {
                    width: 110px;
                }
                &.h-1 {
                    height: 20px;
                    line-height: 20px;
                }
            }

            .pop-chk {
                @include bx;
                @include chkbox{
                    color: $fg-black;
                    input[type=checkbox] + span {
                        position: relative;
                        display: inline-block;
                        top: auto;
                        left: auto;
                        margin: 0 auto;
                    }
                };
                padding-left: 0;
            }
                
            .btn-area {
                @include bx;
                @include clearfix;
                display: block;
                margin: 0 -20px 0;
                padding: 10px 3px 9px;
                text-align: center;
                border-top: 1px solid $bor-gray-03;
                background: $bg-gray-02;
                .btn-box {
                    @include bx;
                    display: inline-block;

                    &.type-2 {
                        [class*='btn-'] {
                            float: left;

                            & + [class*='btn-'] {
                                margin-left: 11px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    /* 내역보기 팝업 */
    &.pop-history {
        left: auto;
        right: -366px;
        .pop-container {
            width: 350px;
            margin-bottom: 0;
            .pop-cont {
                padding-top: 5px;
                padding-bottom: 14px;
                .total-price {
                    @include bx;
                    padding: 14px 0 18px;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 1;
                    text-align: right;
                    color: $fg-black;
                }
                .price-box { 
                    @include bx;
                    padding-top: 12px;
                    border-top: 1px solid $bor-gray-03;
                    .price-row {
                        @include bx;
                        display: table;
                        table-layout: fixed;
                        width: 100%;
                        padding: 6px 0 7px;
                        span {
                            @include bx;
                            display: table-cell;
                            width: 50%;
                            font-size: 13px;
                            font-weight: 300;
                            line-height: 1;
                            letter-spacing: 0;
                            color: $fg-gray-01;
                            &.name {
                                @include line-row-2(9px, 2px, 2px, 6px);
                            }
                            &.price {
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }
    }
    
    /* 쿠폰적용하기 */
    &.pop-coupon {
        z-index: 897;
        left: auto;
        right: -615px;
        .pop-container {
            width: 600px;
            margin-bottom: 0;
            .pop-cont {
                @include tbl-col-gray-02($fs:13px, $td-pd:14px 10px 13px, $td-fg:$fg-gray-01){
                    .tbl {
                        border-bottom: 0;
                        
                        tr {

                            th {
                                border-right: 0;
                                text-align: center;
                            }
                        }
                        tbody {
                            tr {
                                td {
                                    border-top: 0;
                                    border-left: 0;
                                    text-align: center;
                                }
                                &.nope {
                                    td {
                                        padding: 22px 0 19px;
                                    }
                                }
                            }
                        }
                        
                    }
                };
                
                .btn-area {
                    margin-top: 50px;
                }
            }
        }
    }
    
    /* 청약철회방침 전체보기 */
    &.pop-pay-policy {
        top: auto;
        right: 105px;
        bottom: -21px;
        left: auto;
        .pop-container {
            width: 530px;
            margin-bottom: 0;
            .pop-cont {
                .agr-box {
                    overflow: hidden;
                    overflow-y: auto;
                    height: 290px;
                    padding: 0 10px 10px;
                    text-align: left;
                    border: 1px solid $bor-gray-03;
                    background: #fff;
                    @include poclicyStyle(14px, $fg-gray-01){
                        * {
                            font-weight: 300;
                        }
                    };
                }
                .btn-area {
                    margin-top: 21px;
                }
            }
        }
    }
    
    
    
    //회색배경에 팝업 가운데 고정 형
    &.fixed {
        z-index: 9990;
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
        .btn-pop-close {
            z-index: 9999;
        }
        
        /* 배송주소록 관리 팝업 */
        &.pop-delivery {
            .pop-container {
                width: 1050px;
                top: 50%;
                margin-top: -227px;
                margin-bottom: 0;
                .pop-cont {
                    .info-area {
                        @include bx;
                        margin-bottom: 19px;
                        border: 1px solid $bor-gray-03;
                        .info-tit-box {
                            @include bx;
                            padding: 11px 10px 11px;
                            border-bottom: 1px solid $bor-gray-03;
                            .info-tit {
                                font-size: 13px;
                                font-weight: 500;
                                letter-spacing: 0;

                                .ie & {
                                    font-weight: bold;
                                }
                            }
                        }
                        .info-list-box {
                            @include bx;
                            padding: 16px 20px 13px;
                            .info-list {
                                @include bx;
                                li {
                                    font-size: 13px;
                                    font-weight: 300;
                                    letter-spacing: 0;
                                    line-height: 1.6;
                                    @include line-row-2;
                                    .txt-pt {
                                        @include bx;
                                        display: inline-block;
                                        color: $fg-black;
                                        &:before {
                                            content: '';
                                            @include position(absolute, $left:0, $bottom:1px);
                                            display  : block;
                                            width: 100%;
                                            height: 1px;
                                            background: $bg-black-01;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                    .tbl-scr-area {
                        @include tbl-scr{
                            td {
                                a + a {
                                    margin-top: 6px;
                                }
                            }
                        };
                    }
                    
                    .adr-area {
                        @include tbl-row(1px, $fs:13px, $th-pd:12px 14px, $td-pd:10px 0 10px 12px){
                            .tbl {
                                th, td {
                                    .t-ast {
                                        @include bx;
                                        @include txtAst(13px, 5px){
                                            &:before {
                                                color: $fg-red-03;
                                            }
                                        };
                                    }
                                    
                                    .fake-ast {
                                        padding-left: 13px;
                                    }
                                }
                                
                                td {
                                    .row {
                                        .pop-chk {
                                            color: $fg-black;
                                            input[type=checkbox] + span {
                                                padding-right: 3px;
                                            }
                                        }
                                    }
                                }
                            }
                        };
                            
                       
                    }  
                    
                    .btn-area {
                        margin-top: 53px;
                    }
                }
            }
            
            &.type-2 {
                .pop-container {
                    width: 770px;
                    margin-top: -335px;
                }
            }
        }
        
        /* 우편번호 검색 팝 */
        &.pop-adr {
            .pop-container {
                width: 600px;
                top: 50%;
                margin-top: -336px;
                margin-bottom: 0;
                .pop-cont {
                    .top-area {
                        @include tab(1px, $num:2, $bor-g:$bor-gray-03, $a-pd:9px 0 11px, $fs:14px, $fg:$fg-gray-01, $fg-hover:$fg-black, $fg-on:$fg-black, $bg:$bg-gray-02){
                            .tab-list {
                                li {
                                    &.on {
                                        a {
                                            font-weight: 500;
                                            
                                            .ie & {
                                                font-weight: bold;
                                            }
                                        }
                                    }
                                }
                            }
                        };
                        
                        .srch-box {
                            @include bx;
                            display: table;
                            width: 100%;
                            margin-top: 20px;
                            border: 1px solid $bor-gray-03;
                            .srch-th {
                                @include bx;
                                display: table-cell;
                                width: 110px;
                                text-align: center;
                                vertical-align: middle;
                                background: $bg-gray-02;
                                .srch-tit {
                                    font-size: 13px;
                                    font-weight: 300;
                                    color: $fg-gray-01;
                                }
                            }
                            .srch-td {
                                @include bx;
                                display: table-cell;
                                padding: 10px 20px 13px 18px;
                                
                                .srch-row {
                                    @include bx;
                                    .ip-txt {
                                        @include bx;
                                        width: 330px;
                                        height: 28px;
                                        padding: 0 10px;
                                        font-size: 13px;
                                        line-height: 28px;
                                        border: 1px solid $bor-gray-09;
                                    }
                                    .btn-srch {
                                        @include btn-black-bg(69px, 28px, 13px);
                                        @include position(absolute, 0, $right:0);
                                    }
                                }
                                
                                .srch-txt {
                                    margin-top: 9px;
                                    font-size: 12px;
                                    font-weight: 300;
                                    color: $fg-gray-01;
                                }
                            }
                        }
                        
                        & + .cont-area {
                            margin-top: 30px;
                        }
                    }
                    
                    .cont-area {
                        $ht:360px;
                        @include bx;
                        overflow: hidden;
                        overflow-y: scroll;
                        height: $ht;
                        border-top: 1px solid $bor-gray-03;
                        border-bottom: 1px solid $bor-gray-03;
                        
                        .adr-list {
                            li {
                                @include bx;
                                p {
                                    font-size: 13px;
                                    font-weight: 300;
                                    color: $fg-black;
                                }
                                
                                .adr-link-box {
                                    @include bx;
                                    display: table;
                                    width: 100%;
                                    padding: 6px 8px 10px 10px;
                                    @include trasBase(1, $bg:#fff);
                                    &:hover {
                                        @include trasBase(1, $bg:#deedeb);
                                    }
                                    
                                    .row {
                                        @include bx;
                                        display: table-cell;
                                        line-height: 1;
                                        vertical-align: middle;
                                        text-align: center;
                                        p {
                                            vertical-align: middle;
                                        }
                                        .adr {
                                            @include bx;
                                            margin-top: 1px;
                                            line-height: 1.3;
                                            text-align: left;
                                            .type {
                                                display: inline-block;
                                                margin-right: 6px;
                                                width: 40px;
                                                height: 15px;
                                                font-size: 12px;
                                                text-align: center;
                                                vertical-align: middle;
                                                line-height: 15px;
                                                color: #fff;
                                                &.blue {
                                                    background: #439dd6;
                                                }
                                                &.gray {
                                                    background: $bg-gray-05;
                                                }
                                            }
                                        }
                                        &.code {
                                            width: 78px;
                                        }
                                        &.btn {
                                            width: 40px;
                                            button, a {
                                                height: 22px;
                                                line-height: 22px;
                                            }
                                        }
                                    }
                                }
                                
                                //검색전
                                &.nope {
                                    display: table;
                                    width: 100%;
                                    height: ($ht) - (2px);
                                    text-align: center;
                                    p {
                                        display: table-cell;
                                        height: 100%;
                                        vertical-align: middle;
                                    }
                                }
                            }
                        }
                    }
                    
                    
                    .btn-area {
                        margin-top: 43px;
                    }
                }
            }
        }
    }
}

/* 팝업 배경 */
.pop-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    overflow-y: auto;
    padding: 70px 0 0;
    
    .ie8 & {
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000);
    }
}

/* 메인 공지 팝업 */
.main-pop-wrap {
    z-index: 995;
    @include position(fixed, 150px, 50%);
    box-sizing: border-box;
    //width: $wd;
    margin-left: -($wd/2);
    .main-pop-contents {
        $pop-wt:300px;
        @include bx;
        width: $pop-wt;
        background: #fff;
        
        .main-pop-area {
            .pop-slide-box {
                @include bx;
                border: 1px solid $bor-gray-03;
                .slide-pop-list {
                    li {
                        width: $pop-wt;
                        a {
                            @include bx;
                            display: block;
                            width: 100%;
                            img {
                                
                            }
                        }
                    }
                }
                
                //커스텀 페이지버튼
                .pager-box {
                    border-top: 1px solid $bor-gray-03;
                    .pager-list {
                        @include bx;
                        @include clearfix;
                        width: 100%;
                        li {
                            @include bx;
                            display: table;
                            float: left;
                            width: 33.3%;
                            border-left: 1px solid $bor-gray-03;
                            &:first-child {
                                border-left: 0;
                            }
                            a {
                                @include bx;
                                display: table-cell;
                                width: 100%;
                                height: 90px;
                                padding-top: 2px;
                                vertical-align: middle;
                                text-align: center;
                                font-size: 13px;
                                @include trasBase(1, $bg:#fff);
                                em {
                                    display:block;
                                    color: $fg-gray-01;
                                }
                                span {
                                    display:block;
                                    padding-top: 1px;
                                    color: $fg-gray-03;
                                }
                                
                                &:hover, &.active {
                                    @include trasBase(1, $bg:$bg-gray-02);
                                }
                            }
                        }
                    }
                }
            }
            
            /* 닫기 */
            .bot-box {
                @include bx;
                @include clearfix;
                padding: 9px 11px 8px 10px;
                background: $fg-gray-03;
                p {
                    @include bx;
                    line-height: 0;
                    > * {
                        font-size: 12px;
                        font-family: $font-dotum;
                        line-height: 12px;
                        letter-spacing: -0.2px;
                        vertical-align: middle;
                    }
                    color: #fff;
                    &.p-day-cls {
                        @include bx;
                        float: left;
                        display: inline-block;
                        
                        label {
                            padding-right: 20px;
                            @include chkbox;
                            input[type=checkbox], input[type=checkbox] + .btn-chk {
                                left: auto !important;
                                right: 0;
                            }
                        } 
                    }
                    &.p-cls {
                        float: right;
                        .btn-pop-close {
                            display: inline-block;
                            position: relative;
                            top: auto;
                            right: auto;
                        }
                    }
                }
            }
            
        }
    }
    
   /* &.on {
        z-index: 990;
    }*/
}

/*
 * ie
 */
.ie {
    /* 메인 공지 팝업 */
    .main-pop-wrap {
        .main-pop-contents {
            .main-pop-area {
                /* 닫기 */
                .bot-box {
                    p {
                        &.p-day-cls {
                            label {
                                .btn-chk {
                                    margin-top: -7px;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

