@charset "utf-8";

@import "../parts/common";

/* 팝업 공통 */
.pop-wrap {
    z-index: 9990;
    @include position(fixed, 0, 0);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000);
    
    .pop-container {
        
        /* 제품 디테일 리뷰 이미지 슬라이드 팝업 */
        .pop-dt-rv-box {
            $wd:850px;
            $ht:700px;
            @include position(absolute, 50%, 50%);
            box-sizing: border-box;
            overflow: hidden;
            width: $wd;
            height: $ht;
            margin-left: -($wd/2);
            margin-top: -($ht/2);
            .img-list {
                @include bx;
                @include clearfix;
                li {
                    @include bx;
                    display: table;
                    width: $wd !important;
                    height: $ht;
                    margin: 0 auto;
                    p {
                        display: table-cell;
                        text-align: center;
                        vertical-align: middle;
                        img {
                            max-width: $wd;
                            max-height: $ht;
                        }
                    }
                }
            }
            @include btn-controls($wd:$wd){
                .bx-controls {
                    .bx-controls-direction {
                        @include trasBase(1);
                    }
                }
            }
        }
        
        /* 닫기 */
        .btn-pop-close {
            z-index: 9999;
            display: block;
            span {
                display: block;
                font-size: 0;
                text-indent: -999px;
            }
            &.btn-dt-rv {
                @include position(fixed, 30px, $right:30px);
                span {
                    width: 25px;
                    height: 26px;
                    background: url(http://static.nurisoop.co.kr/img/renew/common/img_sprites.png) no-repeat;
                    background-position: -111px -83px;
                }
            }
        }
    }
        
    /* 리뷰 팝업 */
    &.pop-review {
        overflow: hidden;
        overflow-y: auto;
        padding: 70px 0 0;
        .pop-container {
            @include bx;
            width: 800px;
            min-height: 760px;
            margin: 0 auto 70px;
            padding: 40px 40px 33px;
            background: #fff;
            
            .rv-area {
                .ico-star {
                    @include ico-star;
                }
                
                //상단 이미지 영역
                .rv-top {
                    @include bx;
                    @include clearfix;
                    display: table;
                    width: 100%;
                    margin-bottom: 40px;
                    .img-box {
                        @include bx;
                        display: table-cell;
                        width: 100px;
                        vertical-align: middle;
                        .img-prd {
                            width: 100px;
                            img {
                                position: relative;
                            }
                        }
                    }
                    .txt-box {
                        @include bx;
                        display: table-cell;
                        padding: 0 20px;
                        vertical-align: middle;
                        p {
                            font-size: 15px;
                            line-height: 1;
                            font-weight: 500;
                            &.prd-name {
                                padding-top: 4px;
                            }
                            &.prd-price {
                                padding: 9px 0 21px;
                                color: $fg-green-01;
                            }
                            &.grade {
                                font-size: 17px;
                                font-weight: 400;
                                color: $fg-gray-04;
                                em {
                                    padding-left: 5px;
                                    font-weight: 500;
                                    color: $fg-black;
                                }
                            }
                        }
                        .grade-box {
                            p {
                                display: inline-block;
                                vertical-align: middle;
                                &.ico-star {
                                    margin-left: 15px;
                                }
                            }
                        }
                    }
                }
                
                //본문 영역
                .rv-main {
                    @include bx;
                    margin: 0 auto;
                    text-align: center;
                    border-top: 2px solid $bor-black-01;
                    .rv-star-box {
                        padding: 14px 0;
                        .ico-star {
                            span {
                                cursor: pointer;
                            }
                        }
                    }
                    
                    //input
                    .ip-txt {
                        @include bx;
                        width: 100%;
                        height: 45px;
                        font-size: 15px;
                        text-align: center;
                        line-height: 45px;
                        color: $fg-gray-04;
                    }
                    //textarea
                    .ta-txt {
                        @include bx;
                        width: 100%;
                        height: 210px;
                        padding: 22px 0;
                        font-size: 14px;
                        color: $fg-gray-04;
                        border: 0;
                    }
                    .rv-tit {
                        border-top: 1px solid $bor-gray-03;
                        border-bottom: 1px solid $bor-gray-03;
                    }
                    .rv-view-box {
                        .txt {
                            .count {
                                display: block;
                                padding: 8px 0;
                                font-size: 14px;
                                font-weight: 300;
                                text-align: right;
                                line-height: 1;
                                color: $fg-gray-04;
                            }
                        }
                        .file-box {
                            padding-bottom: 20px;
                            border-bottom: 1px solid $bor-gray-03;
                            .ip-file-none {
                                
                            }
                        }
                    }
                }
                
                .rv-bot {
                    text-align: center;
                    .btn-write {
                        margin: 20px auto 33px;
                        @include btn-green-bg;
                    }
                    .txt {
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 1.5;
                        color: $fg-gray-04;
                    }
                }
            }
            
            .btn-pop-close {
                @include position(absolute, 15px, $right:15px);
                span {
                    width: 26px;
                    height: 25px;
                    background: url(http://static.nurisoop.co.kr/img/renew/common/img_sprites.png) no-repeat;
                    background-position: 1px -83px;
                }
            }
            
        }
        
        &.read {
            .pop-container {
                .rv-area {
                    .rv-main {
                        .rv-tit-box {
                            .rv-tit {
                                border-top: 0;
                                height: 52px;
                                font-size: 17px;
                                line-height: 52px;
                            }
                        }
                        
                        .rv-num-box {
                            padding: 11px 0 13px;
                            text-align: left;
                            border-bottom: 1px solid $bor-gray-03;
                            .rv-num {
                                @include bx;
                                display: inline-block;
                                line-height: 1;
                                span {
                                    font-size: 15px;
                                    line-height: 1;
                                    &.num-tit {
                                        color: $fg-gray-04;
                                    }
                                    &.num-txt {
                                        color: $fg-black;
                                    }
                                }
                                & + .rv-num {
                                    margin-left: 17px;
                                    padding-left: 20px;
                                    @include line($bg:$bor-gray-09);
                                }
                            }
                        }
                        
                        .rv-view-box {
                            padding: 24px 0 30px;
                            text-align: left;
                            .txt {
                                font-size: 14px;
                                font-weight: 300;
                                line-height: 1.75;
                                color: $fg-black;
                            }
                            .img {
                                padding-top: 25px;
                            }
                        }
                    }
                    
                    .rv-bot {
                        @include bx;
                        padding: 10px 0 14px;
                        text-align: left;
                        border-top: 1px solid $bor-gray-03;
                        border-bottom: 1px solid $bor-gray-03;
                        .desc {
                            display: inline-block;
                            font-size: 15px;
                            font-weight: 300;
                            line-height: 1;
                            color: $fg-gray-04;
                            vertical-align: middle;
                            em {
                                font-weight: 500;
                                color: $fg-black;
                            }
                        }
                    }
                    
                    .rv-answer {
                        @include bx;
                        padding: 22px 0 28px;
                        text-align: left;
                        border-bottom: 1px solid $bor-gray-03;
                        .answer-top {
                            @include bx;
                            p {
                                @include bx;
                                display: inline-block;
                                font-size: 15px;
                                font-weight: 300;
                                &.mmg-name {
                                    color: $fg-gray-01;
                                }
                                &.date {
                                    margin-left: 15px;
                                    padding-left: 16px;
                                    color: $fg-gray-03;
                                    @include line($ht:12px, $bg:$bor-gray-03);
                                }
                            }
                        }
                        
                        .answer-view {
                            padding-top: 24px;
                            .txt {
                                font-size: 14px;
                                font-weight: 300;
                                line-height: 1.45;
                                color: $fg-gray-01;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* 메인 공지 팝업 */
.main-pop-wrap {
    z-index: 999;
    @include position(absolute, 150px, 50%);
    box-sizing: border-box;
    //width: $wd;
    margin-left: -($wd/2);
    .main-pop-contents {
        $pop-wt:300px;
        @include bx;
        width: $pop-wt;
        background: #fff;
        
        .main-pop-area {
            .pop-slide-box {
                @include bx;
                border: 1px solid $bor-gray-03;
                .slide-pop-list {
                    li {
                        width: $pop-wt;
                        a {
                            @include bx;
                            display: block;
                            width: 100%;
                            img {
                                
                            }
                        }
                    }
                }
                
                //커스텀 페이지버튼
                .pager-box {
                    border-top: 1px solid $bor-gray-03;
                    .pager-list {
                        @include bx;
                        @include clearfix;
                        width: 100%;
                        li {
                            @include bx;
                            display: table;
                            float: left;
                            width: 33.3%;
                            border-left: 1px solid $bor-gray-03;
                            &:first-child {
                                border-left: 0;
                            }
                            a {
                                @include bx;
                                display: table-cell;
                                width: 100%;
                                height: 90px;
                                padding-top: 2px;
                                vertical-align: middle;
                                text-align: center;
                                font-size: 13px;
                                @include trasBase(1, $bg:#fff);
                                em {
                                    display:block;
                                    color: $fg-gray-01;
                                }
                                span {
                                    display:block;
                                    padding-top: 1px;
                                    color: $fg-gray-03;
                                }
                                
                                &:hover, &.active {
                                    @include trasBase(1, $bg:$bg-gray-02);
                                }
                            }
                        }
                    }
                }
            }
            
            /* 닫기 */
            .bot-box {
                @include bx;
                @include clearfix;
                padding: 9px 11px 8px 10px;
                background: $fg-gray-03;
                p {
                    @include bx;
                    line-height: 0;
                    > * {
                        font-size: 12px;
                        font-family: $font-dotum;
                        line-height: 12px;
                        letter-spacing: -0.2px;
                        vertical-align: middle;
                    }
                    color: #fff;
                    &.p-day-cls {
                        @include bx;
                        float: left;
                        display: inline-block;
                        
                        label {
                            padding-right: 20px;
                            @include chkbox;
                            input[type=checkbox], input[type=checkbox] + .btn-chk {
                                left: auto !important;
                                right: 0;
                            }
                        } 
                    }
                    &.p-cls {
                        float: right;
                        .btn-pop-close {
                            display: inline-block;
                        }
                    }
                }
            }
            
        }
    }
    
    &.on {
        z-index: 990;
    }
}

/*
 * ie
 */
.ie {
    /* 메인 공지 팝업 */
    .main-pop-wrap {
        .main-pop-contents {
            .main-pop-area {
                /* 닫기 */
                .bot-box {
                    p {
                        &.p-day-cls {
                            label {
                                .btn-chk {
                                    margin-top: -7px;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

