@@include('../include/_head.html', {
	"page": "order"
})

<body class="page-order">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="contents order">
        <!-- navi -->
        <div class="lnb-sect">
            <div class="container">
                <div class="lnb-box">
                    <a href="../main/index.html" class="btn-link">홈</a>
                    <span class="txt">></span>
                    <a href="./index_04.html" class="btn-link">주문완료</a>
                </div>
            </div>
        </div>
        
        <div class="top-sect">
            <div class="container">
                <h2 class="evt-tit">주문완료</h2>
            </div>
        </div>

	    <div class="order-sect end">
	        <div class="container"> 
	           <div class="step-area">
	               <ul class="step-list">
	                   <li class=""><span class="num">STEP 01.</span><span class="name">장바구니</span></li>
	                   <li class=""><span class="num">STEP 02.</span><span class="name">주문서작성</span></li>
	                   <li class=""><span class="num">STEP 03.</span><span class="name">결제완료</span></li>
	                   <li class="lst on"><span class="num">STEP 04.</span><span class="name">주문완료</span></li>
	               </ul>
	           </div>
            
                <!-- 회원만 : 회원 단독 특가! -->
                <div class="sale-sect">
                    <div class="bn-box">
                        <figure class="bn"><img src="http://static.nurisoop.co.kr/img/renew/order/bn_end_sale.jpg" alt="축 당첨! 구매감사 깜짝 할인 이벤트! UP TO 70% 할인"></figure>
                    </div>
                    <div class="sale-area">
                        <div class="sale-box">
                            <p class="sale-tit"><span><em>홍길동</em>님 단독특가, </span>반값할인 받고 무료합배송 받으세요!</p>
                            <p class="txt">본 이벤트는 최대 70%할인 적용으로만 진행되며, <em>기타 이벤트와 중복 적용 불가능</em>합니다.</p>
                            <div class="txt-row"><p class="txt"><em>※ 주의 :</em><span>본 할인상품은 금일 주문하신 상품과 합배송해 드리며, 금일 주문상품의 배송이 시작되면 할인구매가 불가능하오니<br>망설이지 말고 [장바구니] 클릭클릭! 구매를 서둘러 주세요 ~</span></p></div>
                        </div>
                        <div class="">
                            
                        </div>
                    </div>
                </div>
                <!--// 회원만 : 회원 단독 특가! -->
            
            
            
                
                <!-- 안내 -->
                <div class="info-area">
                    <div class="info-tit-box">
                        <p class="info-tit">Notice</p>
                    </div>
                    <div class="info-list-box">
                        <ul class="info-list">
                            <li>자세한 구매내역 확인 및 문자발송, 배송지 변경, 배송확인 등의 서비스는 사이트 우측 상단의 <span class="txt-pt">마이페이지 > 주문내역/배송조회</span>에서 이용 가능합니다.</li>
                            <li>상품배송은 15시 이전에 주문시 당일배송, 15시 이후 주문시 익일배송을 원칙으로 합니다. (주말 및 공휴일 휴무)</li>
                            <li>
                                상품배송은 무통장 입금시 입금하신 날로부터, 신용카드로 구매시 구매하신 날로부터 2~3일 이내(최장 7일 이내) 배송지로 도착됩니다.<br> 
                                단 제주도, 도서/산간 지역의 경우 4~5일 정도 더 소요될 수 있습니다.
                            </li>
                            <li>
                                5시 이전에 입금확인 되어 당일 배송 출고된 배송준비중 주문건은 운송장번호가 당일 저녁에 입력되며, 배송조회에서 확인 가능합니다.<br>
                                단, 군부대 및 도서/산간지역은 우체국 택배로 발송되며 익일부터 송장번호 확인 가능합니다.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
	    </div>
	    
	</div> 
	
	@@include('../include/_footer.html') 
</div>

</body>
</html>