@charset "utf-8";

@import "../parts/common";


/* 콘텐츠 영역 */
.contents { 
    $ht:28px; 
    
    /* sub top */
    @include sub-top($pd:56px 0 59px);
                        
    //테이블
    .tbl-area {
        padding-top: 38px;
        .tbl-tit {
            margin: 0 0 12px 0;
            font-size: 14px;
            font-weight: 400;
            text-align: left;
            line-height: 1;
            color: $fg-black;
        }
        //table btn
        .btn-com {
            @include btn-gray-bor-02(80px, 27px);
            font-weight: 300;
            &.btn-change {
                width: 70px;
            }
        }
        .btn-green {
            @include btn-green-bg(70px, 27px, 13px);
        }
        
        @include tbl-col-gray-02{
            .tbl {
                td {
                    .btn-com {
                        margin-top: 5px;
                        &.btn-change {
                            margin-top: 10px;
                        }
                    }
                    .btn-green {
                        margin-top: 7px;
                    }
                    
                    .img-prd {
                        display: inline-block;
                        width: 80px;
                        height: 80px;
                        margin: 11px auto;
                        
                        & + span {
                            display: inline-block;
                            padding-left: 15px;
                        }
                    }

                    .num-box {
                        width: 70px;
                        height: 27px;
                        border: 0;
                        .ip-txt {
                            width: 48px;
                            height: 27px;
                            padding: 0 5px;
                            font-size: 14px;
                            line-height: 25px;
                            text-align: right;
                            color: $fg-gray-01;
                            border: 1px solid $bor-gray-03;
                        }
                        span {
                            height: 14px;
                            border: 1px solid $bor-gray-03;
                            &.up {
                                background-position: -151px -224px;
                            }
                            &.down {
                                background-position: -176px -224px;
                            }
                        }
                    }
                }
            }
        }; 
        
        .tbl-row {
            .tbl {
                td {
                    .btn-com {
                        margin-left: 13px;
                    }
                    .btn-green {
                        margin-left: 8px;
                    }
                }
            }
        }
    }
       
    //Notice
    .info-area {
        @include bx;
        margin-top: 48px;
        border: 1px solid $bor-gray-03;
        .info-tit-box {
            @include bx;
            padding: 8px 10px 9px;
            border-bottom: 1px solid $bor-gray-03;
            .info-tit {
                font-size: 13px;
                font-weight: 500;
                letter-spacing: 0;

                .ie & {
                    font-weight: bold;
                }
            }
        }
        .info-list-box {
            @include bx;
            padding: 16px 20px 14px;
            .info-list {
                @include bx;
                li {
                    font-size: 13px;
                    font-weight: 300;
                    letter-spacing: 0;
                    line-height: 1.7;
                    @include line-row-2;
                    .txt-pt {
                        @include bx;
                        display: inline-block;
                        color: $fg-black;
                        &:before {
                            content: '';
                            @include position(absolute, $left:0, $bottom:1px);
                            display  : block;
                            width: 100%;
                            height: 1px;
                            background: $bg-black-01;
                        }
                    }
                }
            }
        }
    }
    
    
    /* 주문조회 */
    &.inquire {
        padding-bottom: 145px;
        .inquire-sect {
            .container {
                @include tab($num:5, $a-pd:10px 0 12px){
                    margin-bottom: 29px;
                    .tab-list {
                        border-top: 1px solid $bor-gray-01;
                        border-right: 1px solid $bor-gray-01;
                        li {
                            margin-top: -1px;
                        }
                    }
                };
                
                .inquire-area {
                    //상단
                    .top-box {

                        @include bx;
                        @incldue clearfix;
                        padding: 15px 15px 14px;
                        border: 1px solid $bor-gray-03;

                        div[class*='-box'] {
                            @include bx;
                            float: left;
                            display: inline-block;

                            &.srch-box {
                                //select
                                .form-sel {
                                    @include sel-com(137px, $ht, 0 20px 0 0);
                                    
                                    .ie8 & {
                                        width: 150px;
                                    }
                                }
                            }

                            &.day-box {
                                @incldue clearfix;
                                @include line($ht:13px, $bg:$bor-gray-03);
                                padding-left: 21px;
                                &:first-child {
                                    &:before {
                                        content: none;
                                    }
                                }
                                .btn-day {
                                    @include bx;
                                    float: left;
                                    width: 53px;
                                    height: $ht;
                                    margin-left: -1px;
                                    font-size: 13px;
                                    font-weight: 300;
                                    line-height: ($ht)-(2);
                                    text-align: center;
                                    color: $fg-gray-01;
                                    border: 1px solid $bor-gray-03;
                                    background: #fff;
                                    &:first-child {
                                        margin-left: 0;
                                    }
                                    &.on {
                                        z-index: 1;
                                        border-color: $bor-black-01;
                                    }
                                }
                            }

                            &.cal-box {
                                @include bx;
                                margin: -1px 17px 0 20px;
                                .row {
                                    @include cal;
                                }
                                .cal-txt {
                                    display: inline-block;
                                    padding: 0 5px;
                                    font-size: 13px;
                                    line-height: 28px;
                                    color: $fg-gray-01;
                                }
                            }
                        }

                        .btn-srch {
                            @include btn-gray-bor-02(70px, $ht);
                        }
                    }

                    .txt-box {
                        padding: 17px 0;
                        .txt-list {
                            @include bx;
                            li {
                                font-size: 13px;
                                font-weight: 300;
                                line-height: 1.5;
                                color: $fg-gray-01;
                                @include line-row-2;
                            }
                        }
                    }

                    /* page num */
                    .page-area {
                        @include pagenation(30px);
                    }

                }
            }
                
            /* 주문상세조회 */
            &.view {
                .container {
                    .tbl-area {
                        text-align: center;

                        &:first-child {
                            padding-top: 0;
                        }

                        @include tbl-row(0, $fs:14px, $th-pd:15px 15px 15px 20px, $th-bg:#fff, $td-pd:10px 15px 10px 20px, $td-fg:$fg-black){
                            border-top: 1px solid $bor-black-01;
                            .tbl {
                                th {
                                    border-right: 1px solid $bor-gray-03;
                                }
                                td {
                                    .row {
                                        .txt {
                                            display: inline-block;
                                            vertical-align: middle;
                                        }
                                        .fs-18 {
                                            font-size: 18px;
                                        }
                                        
                                        &.pay-row {
                                            .pay-tit {
                                                font-weight: bold;
                                            }
                                            .pay-box {
                                                @include bx;
                                                margin-top: 4px;
                                                .pay-txt {
                                                    font-size: 13px;
                                                    line-height: 1.4;
                                                    color: $fg-gray-01;
                                                    span, em {
                                                        color: $fg-black;
                                                    }
                                                    
                                                    .btn-bank {
                                                        width: 120px;
                                                        height: 22px;
                                                        line-height: 20px;
                                                    }
                                                    
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            &.type-2 {
                                border-top-color: $bor-gray-03;
                                .tbl {
                                    border-collapse: inherit;
                                    .bor-black {
                                        th, td {
                                            border-bottom-color: $bor-black-01;
                                        }
                                    }
                                }
                            }
                        };
                        
                        .tbl-col {
                            .tbl {
                                thead {
                                    th {
                                        padding: 17px 0 17px;
                                    }
                                }
                                
                                td {
                                    padding: 5px 0 4px;
                                    
                                    .bot-box {
                                        $ft:22px;
                                        @include bx;
                                        @include clearfix;
                                        padding: 12px 12px 12px 10px;
                                        text-align: left;
                                        line-height: 0;
                                        
                                        .txt {
                                            @include bx;
                                            float: left;
                                            display: inline-block;
                                            vertical-align: middle;
                                            line-height: $ft;
                                        }
                                        .buy-txt {
                                            @include bx;
                                            float: right;
                                            display: inline-block;
                                            letter-spacing: 0;
                                            vertical-align: middle;
                                            line-height: $ft;
                                            span, em {
                                                display: inline-block;
                                                font-weight: bold;
                                                line-height: $ft;
                                                .ie & {
                                                    font-weight: bold;
                                                }
                                            }
                                            .t-point {
                                                font-size: 20px;
                                                letter-spacing: -0.5px;
                                                color: $fg-red-04;
                                            }
                                        }
                                    }
                                }
                            }
                        }
        
                        & + .tbl-area {
                            margin-top: 10px;
                        }
                    }
                    
                    .btn-box {
                        @include bx;
                        @include clearfix;
                        margin-top: 20px;
                        .btn-list {
                            @include btn-green-bg(140px, 40px, 15px);
                        }
                    }
                    
                    .info-area {
                        margin-top: 70px;
                    }
                }
            }
        }
    }
    
    /* 교환신청 */
    &.change {
        padding-bottom: 150px;
        .change-sect {
            .container {
                .tbl-area {
                    text-align: center;
                    
                    &:first-child {
                        padding-top: 0;
                    }
                    
                    @include tbl-row(0, $fs:14px, $th-pd:13px 15px 12px 22px, $th-bg:#fff, $td-pd:10px 15px 10px 20px){
                        border-top: 1px solid $bor-black-01;
                        .tbl {
                            th {
                                border-right: 1px solid $bor-gray-03;
                            }
                            td {
                                .row {
                                    .form-sel {
                                        @include sel-com(137px, $ht, 0 20px 0 0);
                                    }
                                }
                            }
                        }
                    };
                    
                    .btn-box {
                        $wd:140px;
                        $ht:40px;
                        $fs:15px;
                        
                        @include bx;
                        @include clearfix;
                        display: inline-block;
                        margin-top: 30px;
                        a {
                            float: left;
                            &.btn-green {
                                @include btn-green-bg($wd, $ht, $fs);
                            }
                            &.btn-list {
                                @include btn-gray-bor($wd, $ht, $fs);
                            }
                            
                            & + a {
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }
                    
    }
}

/*
 * ie8
 */
.ie8 {
    /* 콘텐츠 영역 */
    .contents { 
        
    }
}
