
    <!-- 스킨케어 리스트 -->
	<div class="contents prd-detail">
	
        <!-- navi -->
        <div class="lnb-sect">
            <div class="container">
                <div class="lnb-box">
                    <a href="../../main/index.html" class="btn-link">홈</a>
                    <span class="txt">></span>
                    <a href="./index.html" class="btn-link">@@name</a>
                </div>
            </div>
        </div>
        
        <!-- 탑 영역 -->
        <div class="top-sect">
            <div class="container">
                <div class="img-area fl-left">
                    <div class="img-slide-box">
                        <p class="txt-dt plus">1+1</p>
                        <!-- 다른유형 -->
                        <!--<p class="txt-dt gift">GIFT</p>-->
                        <!--<p class="txt-dt sale">SALE</p>-->
                        
                        <!-- 최대 8개 -->
                        <ul id="prdDtailSlide" class="prd-img-list">
                            <li class="slide slide-1"><span><img src="http://static.nurisoop.co.kr/img/renew/common/product/item/formcleanser.png" alt="포레스트 녹삼초 폼클랜저 이미지1"></span></li>
                            <li class="slide slide-2"><span><img src="http://static.nurisoop.co.kr/img/renew/common/product/item/formcleanser_on.png" alt="포레스트 녹삼초 폼클랜저 이미지2"></span></li>
                            <li class="slide slide-3"><span><img src="http://static.nurisoop.co.kr/img/renew/common/product/item/formcleanser_on_02.png" alt="포레스트 녹삼초 폼클랜저 이미지3"></span></li>
                        </ul>
                    </div>
                    <div class="pager-box">
                        <!-- 배너 이미지 바뀌면 썸네일 이미지도 수정해야함 -->
                        <!-- 최대 8개 -->
                        <ul id="slidePager" class="pager-list">
                            <li class="nth-1"><a href="#none" data-slide-index="0"><span><img src="http://static.nurisoop.co.kr/img/renew/common/product/item/formcleanser.png" alt="포레스트 녹삼초 폼클랜저 이미지1"></span></a></li>
                            <li class="nth-2"><a href="#none" data-slide-index="1"><span><img src="http://static.nurisoop.co.kr/img/renew/common/product/item/formcleanser_on.png" alt="포레스트 녹삼초 폼클랜저 이미지2"></span></a></li>
                            <li class="nth-3"><a href="#none" data-slide-index="2"><span><img src="http://static.nurisoop.co.kr/img/renew/common/product/item/formcleanser_on_02.png" alt="포레스트 녹삼초 폼클랜저 이미지3"></span></a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="txt-area fl-right">
                    <div class="name-box">
                        <h2 class="dt-tit">포레스트 녹삼초 폼클렌저</h2>
                        <p class="dt-tag">
                            <span>#딥클렌징</span><span>#천연폼클렌저</span><span>#트러블전용</span><span>#여드름폼플렌징</span><span>#폼클</span><span>#클렌징폼</span>
                        </p>
                    </div>
                    
                    <div class="info-box info-price-box">
                        <dl class="prd-info">
                            <dt class="info-tit">판매가</dt>
                            <dd class="info-txt">
                                <em class="f-bd">8,500원</em>
                                <span>(씨앗등급)</span>
                                <a href="../member/membership.html" class="btn-link">등급별 혜택</a>
                            </dd>
                        </dl>
                    </div>
                    <div class="info-box">
                        <dl class="prd-info price">
                            <dt class="info-tit">소비자 가격</dt>
                            <dd class="info-txt">
                                <p class="line">10,000</p>
                            </dd>
                        </dl>
                        <dl class="prd-info ingred">
                            <dt class="info-tit">주요성분</dt>
                            <dd class="info-txt">
                                <p>녹차추출물, 삼백초잎/뿌리추출물, 어성초추출물, EGCG</p>
                            </dd>
                        </dl>
                        <dl class="prd-info date">
                            <dt class="info-tit">유통기한</dt>
                            <dd class="info-txt">
                                <p>2022년 02월 19일까지</p>
                            </dd>
                        </dl>
                    </div>
                    <div class="info-box info-prd-box">
                        <dl class="prd-info">
                            <dt class="info-tit">제품 한줄 소개</dt>
                            <dd class="info-txt">
                                <!-- 최대 4개 : 공통 ico-prd-info에 해당 클래스 및 텍스트 추가 -->
                                <ul class="info-prd-list">
                                    <li class="ico-prd-info pore"><span></span>모공관리</li>
                                    <li class="ico-prd-info blhead"><span></span>블랙헤드</li>
                                    <li class="ico-prd-info corneous"><span></span>각질관리</li>
                                    <li class="ico-prd-info sebum"><span></span>과다피지</li>
                                </ul>
                                <p>건강하고 매끈한 피부로 가꾸는 모공 비누</p>
                            </dd>
                        </dl>
                    </div>
                      
                    <div class="price-box">
                        <div class="top-box">
                            <p>(최소주문수량 1개 이상)</p>
                        </div>
                        <div class="tbl-col">
                            <table class="tbl">
                                <colgroup>
                                    <col style="width: 64%">
                                    <col style="width: 18%">
                                    <col style="width: 18%">
                                </colgroup>
                                <thead class="white">
                                    <tr>
                                        <th class="tl-left">상품명</th>
                                        <th>수량</th>
                                        <th>가격</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="tl-left">포레스트 녹삼초 폼클렌저</td>
                                        <td>
                                            <div class="num-box">
                                                <input type="number" class="ip-txt" value="1" title="상품 수량">
                                                <span class="up"></span>
                                                <span class="down"></span>
                                            </div>
                                        </td>
                                        <td>8,500원</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="price-total">
                                            <div class="total-box">
                                                <span>총 상품금액(수량) : </span><em class="fg-grn">8,500원</em><span>(1개)</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="btn-box">
                        <ul class="btn-list">
                            <!-- 로그아웃 상태일때 바로구매를 할 경우 -->
                            <li><a href="../member/login_buy.html" class="btn-buy">바로구매</a></li>
                            
                            <li><a href="../order/index.html" class="btn-cart">장바구니</a></li>
                            <li><a href="../member/wish.html" class="btn-wish">위시리스트</a></li>
                        </ul>
                        
                        <div class="pay-box">
                            <script type="text/javascript" src="https://pay.naver.com/customer/js/naverPayButton.js" charset="UTF-8"></script>
                            <script type="text/javascript" >
                                //<![CDATA[
                                    naver.NaverPayButton.apply({
                                        BUTTON_KEY: "F42C184C-32CF-41B5-97CD-711665D5C260", // 네이버 페이에서 제공받은 버튼 인증 키 입력
                                        TYPE: "C", // 버튼 모음 종류 설정
                                        COLOR: 2, // 버튼 모음의 색 설정
                                        COUNT: 2, // 버튼 개수 설정. 구매하기 버튼만 있으면(장바구니 페이지) 1, 찜하기 버튼도 있으면(상품 상세 페이지) 2를 입력.
                                        ENABLE: "Y", // 품절 등의 이유로 버튼 모음을 비활성화할 때에는 "N" 입력
                                        //BUY_BUTTON_HANDLER: buy_nc, // 구매하기 버튼 이벤트 Handler 함수 등록, 품절인 경우 not_buy_nc 함수 사용
                                        //WISHLIST_BUTTON_HANDLER: wishlist_nc, // 구매하기 버튼 이벤트 Handler 함수 등록, 품절인 경우 not_buy_nc 함수 사용 "":""
                                    });
                                //]]>
                            </script>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 상품 추천 영역 -->
        <div class="ad-sect">
            <div class="container">
                <!-- js 안되게 prdList 클래스 -->
                <div class="tab-box prdList">
                    <ul class="tab-list">
                        <li class="nth-1 on"><a href="#none">함께 사용하면 더 좋은 상품</a></li>
                    </ul>
                </div>
                
                <!-- 추천 -->
                <div class="ad-area">
                    <div class="gd-box">
                        <div class="tbl-col">
                            <table class="tbl">
                                <colgroup>
                                    <col style="width: 14%;">
                                    <col style="width: 40%;">
                                    <col style="width: 27%;">
                                    <col style="width: 24%;">
                                </colgroup>
                                <thead class="white">
                                    <tr>
                                        <th>이미지</th>
                                        <th>상품명</th>
                                        <th>가격</th>
                                        <th>옵션</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <figure class="img">
                                                <img src="http://static.nurisoop.co.kr/img/renew/common/product/item/bb.png" alt="톤업 워너 비비크림">
                                            </figure>
                                        </td>
                                        <td class="tl-left">론리비즈 프로폴리스 85 앰플</td>
                                        <td>19,500원</td>
                                        <td>
                                            <span class="s-1 f-bd">상품선택</span>
                                            <div class="sel-box">
                                                <p class="sel-txt">- [필수] 상품선택 -</p>
                                                <ul class="sel-list">
                                                    <li class=""><a href="#none">- [필수] 상품선택 -</a></li>
                                                    <li class=""><a href="#none">론리비즈 프로폴리스 85 앰플</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <figure class="img">
                                                <img src="http://static.nurisoop.co.kr/img/renew/common/product/item/bb.png" alt="톤업 워너 비비크림">
                                            </figure>
                                        </td>
                                        <td class="tl-left">[10+3] 물찬피부 세트_워터밸런스 마스크팩 13장</td>
                                        <td>9,900원</td>
                                        <td>
                                            <span class="s-1 f-bd">상품선택</span>
                                            <div class="sel-box">
                                                <p class="sel-txt">- [필수] 상품선택 -</p>
                                                <ul class="sel-list">
                                                    <li class=""><a href="#none">- [필수] 상품선택 -</a></li>
                                                    <li class=""><a href="#none">[10+3] 물찬피부 세트_워터밸런스 마스크팩 13장</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <figure class="img">
                                                <img src="http://static.nurisoop.co.kr/img/renew/common/product/item/nuriberry_emulsion.png" alt="누리촉촉워터밸런스2종세트(스킨+로션)">
                                            </figure>
                                        </td>
                                        <td class="tl-left">누리촉촉워터밸런스2종세트(스킨+로션)</td>
                                        <td>17,500원</td>
                                        <td>
                                            <span class="s-1 f-bd">상품선택</span>
                                            <div class="sel-box">
                                                <p class="sel-txt">- [필수] 상품선택 -</p>
                                                <ul class="sel-list">
                                                    <li class=""><a href="#none">- [필수] 상품선택 -</a></li>
                                                    <li class=""><a href="#none">누리촉촉워터밸런스2종세트(스킨+로션)</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 상품 후기 영역 -->
        <div class="ad-sect">
            <div class="container">
                <!-- js 안되게 prdList 클래스 -->
                <div class="tab-box prdList">
                    <ul class="tab-list">
                        <li class="nth-1 on"><a href="#none">상품후기</a></li>
                    </ul>
                </div>
                
                <!-- 상품 후기 -->
                <div class="ad-area">
                    <div class="review-area">
                        <div class="rv-top-box">
                            <div class="btn-list fl-left">
                                <!-- 평점순, 최신순 나열 -->
                                <a href="#none" class="on">평점순(224)</a>
                                <a href="#none">최신순</a>
                            </div>
                            <div class="srch-box fl-right">
                                <!-- 포토리뷰만 보기 클릭시 포토리뷰만 -->
                                <p class="p-1"><label class="srch-txt"><input type="checkbox" class="ip-chk"><span class="btn-chk"></span>포토리뷰만 보기</label></p>
                                
                                <select name="" id="" class="form-sel" title="검색 주제">
                                    <option value="">내용</option> 
                                    <option value="">상품명</option>
                                    <option value="">아이디</option>
                                </select>
                                <p class="srch-ip"><input type="text" class="ip-txt" title="검색어 입력" placeholder="검색어 입력"><a href="javascript:;" class="btn-srch"><span>검색</span></a></p>
                            </div>
                        </div>
                        
                        <div class="rv-list-box">
                            <ul class="rv-list">
                                <!-- 포토리뷰의 경우 -->
                                <li class="nth-1">
                                    <div class="rv-box">
                                        <div class="view-box">
                                            <div class="btn-img-box">
                                                <!-- 멀티클래스 pop id 값 + '-pager' -->
                                                <ul onclick="rvSdPopOpen('#pop-dt-rv-01');" class="img-list pop-dt-rv-01-pager">
                                                    <li>
                                                        <div class="img-box">
                                                            <a href="#none" data-slide-index="0"><img src="http://file.nurisoop.co.kr/community/201905/1556687872phpUdTEfn.jpg" alt="리뷰 이미지"></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            
                                            <div class="view-top">
                                                <!-- 별 개수 5개 -->
                                                <p class="ico-star">
                                                    <span class="on"></span>
                                                    <span class="on"></span>
                                                    <span class="on"></span>
                                                    <span class="on"></span>
                                                    <span class=""></span>
                                                </p>
                                                <p class="user-name">푸른**</p>
                                                <p class="etc-box">
                                                    <span>좋아요 : 1</span>
                                                    <span>조회수 : 0</span>
                                                    <span>작성일 : 2019-02-06</span>
                                                </p>
                                            </div>
                                            
                                            <div class="view-mid">
                                                <p class="txt ico-phone"><span></span>포레스트 녹삼초 폼클렌저</p>
                                                <ul onclick="rvSdPopOpen('#pop-dt-rv-01');" class="img-list pop-dt-rv-01-pager">
                                                    <li>
                                                        <a href="#none" data-slide-index="0"><img src="http://file.nurisoop.co.kr/community/201905/1556687872phpUdTEfn.jpg" alt="리뷰 이미지"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            
                                            <div class="view-bot">
                                                <p class="desc">댓글<em>1</em></p>
                                                <!-- 클릭된 상태일 때 on, 아닐 때 멀티클래스 없음 -->
                                                <button type="button" class="btn-gd on"><span>좋아요</span></button>
                                            </div>
                                        </div>
                                        
                                        <!-- 댓글 -->
                                        <div class="answer-box">
                                            <div class="answer-top">
                                                <p class="mmg-name">누리숲</p>
                                                <p class="date">2019.05.09</p>
                                            </div>
                                            <div class="answer-mid">
                                                <p class="txt">
                                                    안녕하세요.<br> 
                                                    숲이들려주는 피부이야기, 누리숲입니다.<br>
                                                    <br>
                                                    고객님, 소중한 후기 감사합니다.<br>
                                                    <br>
                                                    누리촉촉 워터밸런스 스킨은 화학방부를 최소화하고 천연방부로 만든 순한 화장품으로 공인기관 임상실험을 통해 여드름피부 적합성 평가를 통과한 제품인만큼
                                                    10대부터 전연령대 사용가능하답니다. 가벼운 사용감과 오일프리 물스킨 타입으로, 7스킨법이나 스킨팩용도로 사용하시기에도 적합한 제품이랍니다.<br>
                                                    <br>
                                                    예쁜 피부 가꾸시고 또 찾아주세요.<br>
                                                    <br>
                                                    누리숲은 고객님의 건강하고 아름다운 피부를 위해 더욱 노력하겠습니다.<br>
                                                    <br>
                                                    감사합니다.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!-- 포토리뷰/이미지갯수 여러개의 경우 -->
                                <li class="nth-2">
                                    <div class="rv-box">
                                        <div class="view-box">
                                            <div class="btn-img-box">
                                                <!-- 멀티클래스 pop id 값 + '-pager' -->
                                                <ul onclick="rvSdPopOpen('#pop-dt-rv-02');" class="img-list pop-dt-rv-02-pager">
                                                    <li>
                                                        <div class="img-box">
                                                            <a href="#none" data-slide-index="0"><img src="http://file.nurisoop.co.kr/community/201904/1556110850php1aKoQW.jpg" alt="리뷰 이미지"></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="img-box">
                                                            <a href="#none" data-slide-index="1"><img src="http://file.nurisoop.co.kr/community/201901/1548085197phpA92WqE.jpg" alt="리뷰 이미지"></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            
                                            <div class="view-top">
                                                <!-- 별 개수 5개 -->
                                                <p class="ico-star">
                                                    <span class="on"></span>
                                                    <span class="on"></span>
                                                    <span class="on"></span>
                                                    <span class="on"></span>
                                                    <span class=""></span>
                                                </p>
                                                <p class="user-name">lee**</p>
                                                <p class="etc-box">
                                                    <span>좋아요 : 0</span>
                                                    <span>조회수 : 0</span>
                                                    <span>작성일 : 2018-11-30</span>
                                                </p>
                                            </div>
                                            
                                            <div class="view-mid">
                                                <p class="txt"><span></span>녹삼초 폼클렌저 4통째사용중ㅎㅎㅎㅎㅎㅎ</p>
                                                <ul onclick="rvSdPopOpen('#pop-dt-rv-02');" class="img-list pop-dt-rv-02-pager">
                                                    <li>
                                                        <a href="#none" data-slide-index="0"><img src="http://file.nurisoop.co.kr/community/201904/1556110850php1aKoQW.jpg" alt="리뷰 이미지"></a>
                                                    </li>
                                                    <li>
                                                        <a href="#none" data-slide-index="1"><img src="http://file.nurisoop.co.kr/community/201901/1548085197phpA92WqE.jpg" alt="리뷰 이미지"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            
                                            <div class="view-bot">
                                                <p class="desc">댓글<em>1</em></p>
                                                <!-- 클릭된 상태일 때 on, 아닐 때 멀티클래스 없음 -->
                                                <button type="button" class="btn-gd"><span>좋아요</span></button>
                                            </div>
                                        </div>
                                        
                                        <!-- 댓글 -->
                                        <div class="answer-box">
                                            <div class="answer-top">
                                                <p class="mmg-name">누리숲</p>
                                                <p class="date">2019.05.09</p>
                                            </div>
                                            <div class="answer-mid">
                                                <p class="txt">
                                                    안녕하세요.<br> 
                                                    숲이들려주는 피부이야기, 누리숲입니다.<br>
                                                    <br>
                                                    고객님, 소중한 후기 감사합니다.<br>
                                                    <br>
                                                    누리촉촉 워터밸런스 스킨은 화학방부를 최소화하고 천연방부로 만든 순한 화장품으로 공인기관 임상실험을 통해 여드름피부 적합성 평가를 통과한 제품인만큼
                                                    10대부터 전연령대 사용가능하답니다. 가벼운 사용감과 오일프리 물스킨 타입으로, 7스킨법이나 스킨팩용도로 사용하시기에도 적합한 제품이랍니다.<br>
                                                    <br>
                                                    예쁜 피부 가꾸시고 또 찾아주세요.<br>
                                                    <br>
                                                    누리숲은 고객님의 건강하고 아름다운 피부를 위해 더욱 노력하겠습니다.<br>
                                                    <br>
                                                    감사합니다.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nth-3">
                                    <div class="rv-box">
                                        <div class="view-box">
                                            <div class="btn-img-box">
                                                <!-- 멀티클래스 pop id 값 + '-pager' -->
                                                <ul onclick="rvSdPopOpen('#pop-dt-rv-03');" class="img-list pop-dt-rv-03-pager">
                                                    <li>
                                                        <div class="img-box">
                                                            <a href="#none" data-slide-index="0"><img src="http://file.nurisoop.co.kr/community/201904/1555542410phpEAeuiC.jpg" alt="리뷰 이미지"></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="img-box">
                                                            <a href="#none" data-slide-index="1"><img src="http://file.nurisoop.co.kr/community/201812/1545869849phpaMwfO7.jpg" alt="리뷰 이미지"></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="img-box">
                                                            <a href="#none" data-slide-index="2"><img src="http://file.nurisoop.co.kr/community/201811/1542548096phpQrbG7d.jpg" alt="리뷰 이미지"></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            
                                            <div class="view-top">
                                                <!-- 별 개수 5개 -->
                                                <p class="ico-star">
                                                    <span class="on"></span>
                                                    <span class="on"></span>
                                                    <span class="on"></span>
                                                    <span class="on"></span>
                                                    <span class=""></span>
                                                </p>
                                                <p class="user-name">love**</p>
                                                <p class="etc-box">
                                                    <span>좋아요 : 0</span>
                                                    <span>조회수 : 0</span>
                                                    <span>작성일 : 2018-11-27</span>
                                                </p>
                                            </div>
                                            
                                            <div class="view-mid">
                                                <p class="txt ico-phone"><span></span>완전 마음에 드네요!<br>이 제품도 오랬동안 쓰고 있는데요! 조금만 짜도 거품도 많이 나오고 정말 잘 씻겨요! 그래서 쓰고 나면 건조하기도 한데 그건 스킨 로션 바르면 괜찮아 져서 계속 쓰고 있습니다. 폼클렌징 원뿔원 할때 사놓고 샤워하면서 등드름. 가슴여드×에도 같이 써요.</p>
                                                <ul onclick="rvSdPopOpen('#pop-dt-rv-03');" class="img-list pop-dt-rv-03-pager">
                                                    <li>
                                                        <a href="#none" data-slide-index="0"><img src="http://file.nurisoop.co.kr/community/201904/1555542410phpEAeuiC.jpg" alt="리뷰 이미지"></a>
                                                    </li>
                                                    <li>
                                                        <a href="#none" data-slide-index="1"><img src="http://file.nurisoop.co.kr/community/201812/1545869849phpaMwfO7.jpg" alt="리뷰 이미지"></a>
                                                    </li>
                                                    <li>
                                                        <a href="#none" data-slide-index="2"><img src="http://file.nurisoop.co.kr/community/201811/1542548096phpQrbG7d.jpg" alt="리뷰 이미지"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            
                                            <div class="view-bot">
                                                <p class="desc">댓글<em>1</em></p>
                                                <!-- 클릭된 상태일 때 on, 아닐 때 멀티클래스 없음 -->
                                                <button type="button" class="btn-gd"><span>좋아요</span></button>
                                            </div>
                                        </div>
                                        
                                        <!-- 댓글 -->
                                        <div class="answer-box">
                                            <div class="answer-top">
                                                <p class="mmg-name">누리숲</p>
                                                <p class="date">2019.05.09</p>
                                            </div>
                                            <div class="answer-mid">
                                                <p class="txt">
                                                    안녕하세요.<br> 
                                                    숲이들려주는 피부이야기, 누리숲입니다.<br>
                                                    <br>
                                                    고객님, 소중한 후기 감사합니다.<br>
                                                    <br>
                                                    누리촉촉 워터밸런스 스킨은 화학방부를 최소화하고 천연방부로 만든 순한 화장품으로 공인기관 임상실험을 통해 여드름피부 적합성 평가를 통과한 제품인만큼
                                                    10대부터 전연령대 사용가능하답니다. 가벼운 사용감과 오일프리 물스킨 타입으로, 7스킨법이나 스킨팩용도로 사용하시기에도 적합한 제품이랍니다.<br>
                                                    <br>
                                                    예쁜 피부 가꾸시고 또 찾아주세요.<br>
                                                    <br>
                                                    누리숲은 고객님의 건강하고 아름다운 피부를 위해 더욱 노력하겠습니다.<br>
                                                    <br>
                                                    감사합니다.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!-- 텍스트 리뷰 -->
                                <li class="nth-4">
                                    <div class="rv-box">
                                        <div class="view-box">
                                            <div class="view-top">
                                                <!-- 별 개수 5개 -->
                                                <p class="ico-star">
                                                    <span class="on"></span>
                                                    <span class="on"></span>
                                                    <span class="on"></span>
                                                    <span class="on"></span>
                                                    <span class=""></span>
                                                </p>
                                                <p class="user-name">미**</p>
                                                <p class="etc-box">
                                                    <span>좋아요 : 0</span>
                                                    <span>조회수 : 0</span>
                                                    <span>작성일 : 2018-11-03</span>
                                                </p>
                                            </div>
                                            
                                            <div class="view-mid">
                                                <p class="txt ico-phone"><span></span>너무너무만족합니다ㅠㅠ 5일에 또 살예정!<br>이 제품도 오랬동안 쓰고 있는데요! 조금만 짜도 거품도 많이 나오고 정말 잘 씻겨요! 그래서 쓰고 나면 건조하기도 한데 그건 스킨 로션 바르면 괜찮아 져서 계속 쓰고 있습니다. 폼클렌징 원뿔원 할때 사놓고 샤워하면서 등드름. 가슴여드×에도 같이 써요.</p>
                                            </div>
                                            
                                            <div class="view-bot">
                                                <p class="desc">댓글<em>1</em></p>
                                                <!-- 클릭된 상태일 때 on, 아닐 때 멀티클래스 없음 -->
                                                <button type="button" class="btn-gd"><span>좋아요</span></button>
                                            </div>
                                        </div>
                                        
                                        <!-- 댓글 -->
                                        <div class="answer-box">
                                            <div class="answer-top">
                                                <p class="mmg-name">누리숲</p>
                                                <p class="date">2019.05.09</p>
                                            </div>
                                            <div class="answer-mid">
                                                <p class="txt">
                                                    안녕하세요.<br> 
                                                    숲이들려주는 피부이야기, 누리숲입니다.<br>
                                                    <br>
                                                    고객님, 소중한 후기 감사합니다.<br>
                                                    <br>
                                                    누리촉촉 워터밸런스 스킨은 화학방부를 최소화하고 천연방부로 만든 순한 화장품으로 공인기관 임상실험을 통해 여드름피부 적합성 평가를 통과한 제품인만큼
                                                    10대부터 전연령대 사용가능하답니다. 가벼운 사용감과 오일프리 물스킨 타입으로, 7스킨법이나 스킨팩용도로 사용하시기에도 적합한 제품이랍니다.<br>
                                                    <br>
                                                    예쁜 피부 가꾸시고 또 찾아주세요.<br>
                                                    <br>
                                                    누리숲은 고객님의 건강하고 아름다운 피부를 위해 더욱 노력하겠습니다.<br>
                                                    <br>
                                                    감사합니다.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="rv-btn-box">
                                <div class="fl-left">
                                    <!-- 클릭시 리뷰가 5개씩 더 노출되게 -->
                                    <a href="javascript:;" class="btn-more ico-more"><span></span>리뷰글 더보기</a>
                                </div>
                                <div class="fl-right">
                                    <!-- 리뷰작성 클릭시 리뷰작성 팝업 등장 -->
                                    <a href="#none" class="btn-write writePop">리뷰작성</a>
                                    <a href="../review/index.html" class="btn-all">모두보기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 상품 상세 영역 -->
        <div class="dt-sect">
            <div class="container">
                <!-- 상세영역 tab 멀티클래스 detail 추가 -->
                <div class="tab-box detail">
                    <ul class="tab-list">
                        <li class="nth-1 on"><a href="#prdDtail">상품 상세페이지</a></li>
                        <li class="nth-2"><a href="#necessInfo">필수고시정보, 사용시 주의사항</a></li>
                        <!-- 내용 없어서 차후 추가 예정 / 알럿창 '내용 준비중' 띄워주세요 -->
                        <li class="nth-3"><a href="#gift" onclick="alert('내용 준비중');return false;">구매금액별 사은품</a></li>
                        <li class="nth-4"><a href="#ssInfo">배송/샘플 안내</a></li>
                    </ul>
                </div>
                
                <!-- 상품 상세페이지 -->
                <div id="prdDtail" class="tabListArea prd-dt-area" style="display: block;">
                    <div class="dt-area">
                        <!-- 상품 상세페이지마다 들어가는 배너 있고 안들어가는 배너 있습니다 -->
                        <p class="img-bn">
                            <img src="http://static.nurisoop.co.kr/img/renew/common/product/bn_detail.jpg" alt="구매전 확인해 주세요!">
                        </p>

                        <!-- 상품 설명 이미지 -->
                        <figure class="img-detail">
                            <img src="http://static.nurisoop.co.kr/images/goods/form_20150821.jpg" alt="녹삼초 폼클렌저 상품 상세">
                        </figure>
                    </div>
                </div>
                
                <!-- 필수고시정보, 사용시 주의사항 -->
                <div id="necessInfo" class="tabListArea prd-dt-area" style="display: none;">
                    <div class="necess-area">
                        <div class="ness-box">
                            <p class="ness-tit">INFORMATION</p>
                            <div class="tbl-row">
                                <table class="tbl">
                                    <colgroup>
                                        <col style="width: 17.5%">
                                        <col style="width: 32.5%">
                                        <col style="width: 17.5%">
                                        <col style="width: 14%">
                                        <col style="width: 8.5%">
                                        <col style="width: 10%">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>제품명</th>
                                            <td colspan="5">포레스트 녹삼초 폼클렌저</td>
                                        </tr>
                                        <tr>
                                            <th>용량</th>
                                            <td colspan="5">120ml</td>
                                        </tr>
                                        <tr>
                                            <th>피부타입</th>
                                            <td>모든피부</td>
                                            <th>제조일(사용기한)</th>
                                            <td colspan="3">별도표기/개봉전2년/개봉후6개월</td>
                                        </tr>
                                        <tr>
                                            <th>소비자 상담 전화번호</th>
                                            <td>1688-6093</td>
                                            <th>제조업자 및 제조판매업자</th>
                                            <td>별도표기</td>
                                            <th>제조국</th>
                                            <td>한국</td>
                                        </tr>
                                        <tr>
                                            <th>판매업자</th>
                                            <td colspan="5">누리숲 / 서울특별시 강남구 테헤란로 82길 15 DI타워 / www.nurisoop.co.kr</td>
                                        </tr>
                                        <tr>
                                            <th>품질보증기준</th>
                                            <td colspan="5">본 상품에 이상이 있을 경우 공정거래위원회고시 소비자분쟁해결기준에 의하여 보상해 드립니다.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="ness-box">
                            <p class="ness-tit">사용시 주의사항</p>
                            <div class="using-box">
                                <ul class="using-list">
                                    <li class="dep-1">
                                        1. 화장품을 사용하여 다음과 같은 이상이 있는 경우에는 사용을 중지하여야 하며, 계속 사용하면 증상이 악화되므로 피부과 전문의 등에게 상담하십시오.
                                        <ul class="using-list-2">
                                            <li>1) 사용 중 붉은 반점, 부어오름, 가려움증, 자극 등의 이상이 있는 경우</li>
                                            <li>2) 적용 부위가 직사광선에 의하여 위와 같은 이상이 있는 경우</li>
                                        </ul>
                                    </li>
                                    <li class="dep-1">2. 상처가 있는 부위, 습진 및 피부염 등의 이상이 있는 부위에는 사용을 하지 마십시오.</li>
                                    <li class="dep-1">
                                        3. 보관 및 취급 시의 주의사항
                                        <ul class="using-list-2">
                                            <li>1) 사용 후에는 반드시 마개를 닫아두십시오.</li>
                                            <li>2) 유아ㆍ소아의 손이 닿지 않는 곳에 보관하고, 삼켰을 경우 즉시 전문의와 상담하십시오.</li>
                                            <li> 3) 고온 또는 저온의 장소 및 직사광선이 닿는 곳에는 보관하지 마십시오.</li>
                                        </ul>
                                    </li>
                                    <li class="dep-1">4. 사용 후에는 반드시 마개를 닫고 일광이 비치지 않는 서늘한 곳에 보관하십시오.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- 구매금액별 사은품 -->
                <div id="gift" class="tabListArea prd-dt-area" style="display: none;">
                    <div class="gift-area">
                        내용 준비중
                    </div>
                </div>
                
                <!-- 배송/샘플 안내 -->
                <div id="ssInfo" class="tabListArea prd-dt-area" style="display: none;">
                    <div class="ssinfo-area">
                        <div class="tbl-row">
                            <table class="tbl">
                                <colgroup>
                                    <col style="width: 16%">
                                    <col style="width: 84%">
                                </colgroup>
                                <tbody>
                                    <tr> 
                                        <th>누리숲<br>배송안내</th>
                                        <td>
                                            <!--<p class="info-tit">배송시간안내</p>--> 
                                            <ul class="info-list">
                                                <li>평일 15시 이전까지 입금 확인된 주문건은 CJ대한통운 택배를 이용하여 당일 배송출고 됩니다.</li>
                                                <li><em class="fg-red">15시 이후 주문하신 고객님들은 익일배송</em>을 기본 원칙으로 합니다.</li>
                                                <li>군부대(사서함)의 경우 우체국 택배로 배송 출고 됩니다.</li>
                                                <li>2만원 이상 구입시 무료 배송이며, 도서 산간지역은 추가비용 2,500원이 추가됩니다.</li>
                                                <li>주말,공휴일 주문/ 도서 산간지역(제주, 울릉도 등 섬 지역)은 2~3일 정도 걸릴 수 있습니다.</li>
                                                <li><em class="fg-red">당일 발송 후 다음날 받아보실 수 있습니다. (택배사 사정 제외)</em></li> 
                                                <li>배송예정일은 주문시점(주문순서)에 따른 유동성이 발생하므로 평균 배송일과는 차이가 발생할 수 있습니다.</li>
                                                <li>악천후나 지역 배송의 경우 예상일보다 배송이 지연될 수 있으니 참고 부탁드립니다.</li>
                                                <li>배송 상태는 <em class="fg-red">[마이페이지 > 주문내역/배송조회]</em>페이지에서 확인하실 수 있습니다.</li>
                                            </ul>
                                        </td> 
                                    </tr>
                                    <tr>
                                        <th>누리숲<br>샘플 배송 안내</th>
                                        <td>
                                            <ul class="info-list">
                                                <li>본품 주문하신 분들께 테스트용으로 샘플 1개씩 포함 발송하여 드립니다.</li>
                                                <li>샘플 먼저 사용해 보신 후 본품 사용해주세요. ^^</li>
                                                <li><em class="fg-red">발효씨벅톤 99오일, 녹삼초여성청결제, 누리톡톡 아크 스팟, 포레스트 리페어 아이크림</em>은 샘플이 따로 발송되지 않습니다.</li>
                                                <li>제품 내 특정 성분이 피부와 맞지 않는 경우가 있을 수 있으니, 얼굴에 사용전에 꼭 겨드랑이 안쪽에 패치테스트를 진행한 후에 이상이 없으실 경우 얼굴에 사용해주세요.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>누리숲<br>교환 및 반품안내</th>
                                        <td>
                                            <p class="info-txt">
                                            상품교환/반품신청은 제품수령일 기준 7일 이내에만 신청이 가능하며, <br>
                                            제품 불량이거나, 제품 사용시 피부 부작용이 발생한 경우 제품수령일 기준 20일 이내에 신청 가능합니다.<br>
                                            (샘플 사용 시 피부에 맞지않아 반품 원할 경우, 제품은 미개봉 상태여야 하며, 반품 배송비 제외 후 환불 진행됩니다. 단, 부득이하게 제품 개봉 후 부작용이 발생한 경우 누리숲 제품으로 인한 피부과 진단서 및 소견서가 필요합니다.) <br>
                                            <em class="fg-red">고객님의 단순 변심으로 교환/반품하시거나 불분명한 배송정보 입력으로 반송되었을 시, <br>
                                            배송비 5,000원(반송대금 2,500원 추가)이 고객님께 부담되니 참고하시기 바랍니다. (착불 형태로 진행/ 제품의 하자, 배송오류는 제외)</em>
                                           </p>
                                            <p class="info-tit">아래의 경우 교환/반품이 불가합니다.</p>
                                            <ul class="info-list">
                                                <li>제품의 포장을 개봉하거나 사용한 경우</li>
                                                <li>제품의 겉포장을 손상하거나 분실한 경우</li>
                                                <li>고객의 부주의로 제품이 파손되거나 손상(훼손)된 경우</li>
                                                <li>화장소품은 파손 및 손상이 없어도 교환/반품 불가</li>
                                                <li>구매자가 반송대금을 지불하지 않는 경우</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- bot banner -->
        <div class="bot-bn-sect">
            <div class="container">
                <div class="bot-bn-box">
                    <p class="bn-tit">
                        <span>FOREST REPAIR CREAM</span>
                        <em>숲에서 온 선물, 포레스트 리페어 크림</em>
                    </p>
                    <p class="bn-txt">
                        푸석푸석, 칙칙, 각질파티... EGF, 펩타이드, 효모 등 고영양, 고수분 성분이<br>최고의 휴식을 선사합니다.
                    </p>
                    <a href="#none" class="btn-link">바로가기</a>
                </div>
            </div>
        </div>
	</div>
	
    <!-- 리뷰 팝업 -->
	@@include('../pop/pop_detail_review.html') 
	@@include('../pop/pop_review.html') 