
<h3 class="login-tit">간편 로그인</h3>
<ul class="sns-link">
    <li class="naver">
        <a href="#none" class="btn-link"><span></span>네이버 아이디로 로그인</a>
    </li>
    <li class="kakao">
        <a href="#none" class="btn-link"><span></span>카카오톡 아이디로 로그인</a>
    </li>
    <li class="facebook">
        <a href="#none" class="btn-link"><span></span>페이스북 아이디로 로그인</a>
    </li>
    <li class="google">
        <a href="#none" class="btn-link"><span></span>구글 아이디로 로그인</a>
    </li>
</ul>
<ul class="login-info-list">
    <li class="t-ast">내 소셜 아이디로 간편하게 가입과 로그인이 가능합니다.</li>
    <li class="t-ast fc-red">신규가입 시 5,000원 상당의 쿠폰 증정</li>
    <li class="t-ast fc-red">회원등급별 적립 다양한 사은품 및 회원쿠폰 발급</li>
    <li class="t-ast">로그인/회원 가입 시 이용약관, 개인정보취급방침에 동의하게 됩니다.</li>
</ul>