<!-- 청약철회방침 전체보기 -->
<div id="popPayPolicy" class="pop-wrap-2 pop-pay-policy" style="display: none;">
    <div class="pop-container">
        <div class="pop-tit-box">
            <p class="pop-tit">청약철회방침</p>
        </div>
        <div class="pop-area">
            <div class="agr-box">
                <dl class="pcy-box">
                    <dt class="pcy-tit"></dt>
                    <dd class="pcy-txt-box"><p class="pcy-txt">이 약관은 주식회사 이비즈네트웍스(전자상거래 사업자, 이하 "회사")가 운영하는 누리숲 쇼핑몰(이하 "몰")에서 제공하는 관련 서비스(이하 "서비스")를 이용함에 있어 고객의 권리, 의무 및 책임사항을 규정함을 목적으로 합니다.</p></dd>
                </dl>
                <dl class="pcy-box">
                    <dt class="pcy-tit"></dt>
                    <dd class="pcy-txt-box">
                        <ol class="pcy-list">
                            <li>① 회사는 회사의 부주의로 교환, 반품의 사례가 발생하였을 경우 (오배송, 미배송, 파손, 불량 등) 반품수령완료 및 고객문의 7일 이내에 환급 및 환급에 필요한 조치를 취합니다.</li>
                            <li>
                                ② 고객은 재화 등을 배송 받은 경우 다음 각호에 해당하는 경우에는 반품 및 교환을 할 수 없습니다. 
                                <ol class="pcy-list">
                                    <li>1. 고객에게 책임 있는 사유로 재화 등이 멸실 또는 훼손된 경우<br>(다만, 재화 등의 내용을 확인하기 위하여 포장 등을 훼손한 경우에는 청약철회를 할 수 있습니다)</li>
                                    <li>2. 고객의 사용 또는 일부 소비에 의하여 재화 등의 가치가 현저히 감소한 경우</li>
                                    <li>3. 시간의 경과에 의하여 재판매가 곤란할 정도로 재화 등의 가치가 현저히 감소한 경우</li>
                                    <li>4. 같은 성능을 지닌 재화 등으로 복제가 가능한 경우 그 원본인 재화 등의 포장을 훼손한 경우</li>
                                </ol>
                            </li>
                            <li>③ 제2항 제2호 내지 제4호의 경우에 회사가 사전에 청약철회 등이 제한되는 사실을 소비자가 쉽게 알 수 있는 곳에 명기하지 않았다면 고객의 청약철회 등이 제한되지 않습니다.</li>
                            <li>④ 고객은 제1항 및 제2항의 규정에도 불구하고 재화 등의 내용이 표시, 광고 내용과 다르거나 계약 내용과 다르게 이행된 때에는 당해 재화 등을 공급받은 날부터 3월 이내, 그 사실을 안 날 또는 알 수 있었던 날부터 30일 이내에 청약철회 등을 할 수 있습니다.</li>
                        </ol>
                    </dd>
                </dl>
                <dl class="pcy-box">
                    <dt class="pcy-tit">제 16 조 (청약철회 등의 효과)</dt>
                    <dd class="pcy-txt-box">
                        <ol class="pcy-list">
                            <li>① 회사는 고객으로부터 재화 등을 반환 받은 경우 3영업일(매주 화, 금요일 일괄 환급) 이내에 이미 지급받은 재화 등의 대금을 환급합니다. 이 경우 회사가 고객에게 재화 등의 환급을 지연한 때에는 그 지연기간에 대하여 공정거래위원회가 정하여 고시하는 지연이자율을 곱하여 산정한 지연이자를 지급합니다.</li>
                            <li>② 회사는 대금을 환급함에 있어서 고객이 신용카드 또는 전자화폐 등의 결제수단으로 재화 등의 대금을 지급한 때에는 지체 없이 당해 결제수단을 제공한 사업자로 하여금 재화 등의 대금의 청구를 정지 또는 취소하도록 요청합니다.</li>
                            <li>③ 청약 철회 등의 경우 공급받은 재화 등의 반환에 필요한 비용은 기본적으로 고객이 부담합니다. 회사는 고객에게 청약 철회 등을 이유로 위약금 또는 손해배상을 청구하지 않습니다. 다만, 재화 등의 내용이 표시광고 내용과 다르거나 계약내용과 다르게 이행되어 청약철회 등을 하는 경우 재화 등의 반환에 필요한 비용은 회사가 부담합니다.</li>
                            <li>④ 고객이 구매거부나 환불을 원하는 경우 배송비(처음 구매 건이 무료배송이면 왕복 배송비, 고객 선불이면 편도 배송비)와 은행 송금 수수료를 부담해야 하며, 실제 회사의 환불은 상품 반송이 확인 된 후 환불됩니다.</li>
                            <li>⑤ 단순 고객변심으로 인한 교환/반품의 경우 왕복 배송비는 고객이 부담해야 합니다.</li>
                            <li>⑥ 피부 트러블로 인한 반품의 경우 배송비는 고객부담이며 상품 수령 후 30일 이내에 반품을 접수시켜 주어야 합니다. 단, 피부과 진단서가 첨부된 경우 제반 비용은 고객이 부담하며 배송비는 회사가 부담합니다.</li>
                            <li>⑦ 고객의 부재중이거나 수취인 주소 불명으로 인해 반송되어 다시 배송되는 경우 해당 배송비는 고객이 부담합니다.</li>
                            <li>⑧ 모든 반품 시, 고객은 판촉행위로 인한 경품 및 사은품을 반납하여야 하며, 고객이 사은품을 사용하였을 경우 회사는 해당 금액만큼 차감하여 지급할 수 있습니다. 다만, 회사의 책임이 있는 사유로 인한 반품의 경우에는 그렇지 않습니다.</li>
                        </ol>
                    </dd>
                </dl>
            </div>
            
            <div class="btn-box">
                <a href="javascript:;" class="btn-com popClose">닫기</a>
            </div>
        </div>
        
        <a href="javascript:;" class="btn-pop-close popClose"><span class="white">닫기</span></a>
    </div>
</div>
