<!-- pop js -->
<script src="../../static/js/renew/include/pop.js"></script>

<!-- 팝업 예시들 -->
<div id="pop-dt-rv-01" class="pop-wrap" style="display: none">
    <div class="pop-container">
        <div class="pop-dt-rv-box">
            <ul id="pop-dt-slide-01" class="img-list">
                <li>
                    <p><img src="http://file.nurisoop.co.kr/community/201905/1556687872phpUdTEfn.jpg" alt="리뷰 이미지"></p>
                </li>
            </ul>
        </div>
        <a href="javascript:;" class="btn-pop-close btn-dt-rv"><span>닫기</span></a>
    </div>
</div>

<!-- 팝업 2개일때 -->
<div id="pop-dt-rv-02" class="pop-wrap" style="display: none">
    <div class="pop-container">
        <div class="pop-dt-rv-box">
            <ul id="pop-dt-slide-01" class="img-list">
                <li>
                    <p><img src="http://file.nurisoop.co.kr/community/201904/1556110850php1aKoQW.jpg" alt="리뷰 이미지"></p>
                </li>
                <li>
                    <p><img src="http://file.nurisoop.co.kr/community/201901/1548085197phpA92WqE.jpg" alt="리뷰 이미지"></p>
                </li>
            </ul>
        </div>
        <a href="javascript:;" class="btn-pop-close btn-dt-rv"><span>닫기</span></a>
    </div>
</div>

<!-- 팝업 3개일때 -->
<div id="pop-dt-rv-03" class="pop-wrap" style="display: none">
    <div class="pop-container">
        <div class="pop-dt-rv-box">
            <ul id="pop-dt-slide-01" class="img-list">
                <li>
                    <p><img src="http://file.nurisoop.co.kr/community/201904/1555542410phpEAeuiC.jpg" alt="리뷰 이미지"></p>
                </li>
                <li>
                    <p><img src="http://file.nurisoop.co.kr/community/201812/1545869849phpaMwfO7.jpg" alt="리뷰 이미지"></p>
                </li>
                <li>
                    <p><img src="http://file.nurisoop.co.kr/community/201811/1542548096phpQrbG7d.jpg" alt="리뷰 이미지"></p>
                </li>
            </ul>
        </div>
        <a href="javascript:;" class="btn-pop-close btn-dt-rv"><span>닫기</span></a>
    </div>
</div>