<!-- 쿠폰적용하기 팝업 -->
<div id="popOrderCoupon" class="pop-wrap-2 pop-coupon" style="display: none;">
    <div class="pop-container">
        <div class="pop-tit-box">
            <p class="pop-tit">쿠폰적용하기</p>
        </div>
        <div class="pop-cont">
            <div class="tbl-col">
                <table class="tbl">
                    <colgroup>
                        <col style="width: 9%;">
                        <col style="width: *">
                        <col style="width: 16.9%;">
                        <col style="width: 13%;">
                        <col style="width: 13%;">
                        <col style="width: 13%;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>선택</th>
                            <th>쿠폰</th>
                            <th>적용상품</th>
                            <th>종료일</th>
                            <th>기능</th>
                            <th>금액</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><label class="pop-chk"><input type="checkbox" name="couponChk" class="ip-chk"><span class="btn-chk"></span></label></td>
                            <td class="tl-left">신규 가입 할인쿠폰</td>
                            <td>스킨/로션</td>
                            <td>06월12일</td>
                            <td>기능</td>
                            <td>1,000원</td>
                        </tr>
                        <tr class="nope">
                            <td colspan="6" class="tl-center">해당 주문에서 사용가능한 보유쿠폰이 없습니다.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="btn-area">
                <div class="btn-box">
                    <a href="javascript:;" class="btn-com popClose">닫기</a>
                </div>
            </div>
        </div>
        <a href="javascript:;" class="btn-pop-close popClose"><span class="white">닫기</span></a>
    </div>
</div>
