<!-- 내역보기 팝업 -->
<div id="popOrderHistory" class="pop-wrap-2 pop-history" style="display: none;">
    <div class="pop-container">
        <div class="pop-tit-box">
            <p class="pop-tit">총 주문금액 상세내역</p>
        </div>
        <div class="pop-cont">
            <p class="total-price">54,000원</p>
            <!-- 회원일때 -->
            <div class="price-box">
                <p class="price-row">
                    <span class="name">상품금액</span>
                    <span class="price">54,000원</span>
                </p>
                <p class="price-row">
                    <span class="name">적립금</span>
                    <span class="price">0원</span>
                </p>
                <p class="price-row">
                    <span class="name">할인쿠폰</span>
                    <span class="price">0원</span>
                </p>
                <p class="price-row">
                    <span class="name">회원할인</span>
                    <span class="price">-6,050원</span>
                </p>
                <p class="price-row">
                    <span class="name">배송비</span>
                    <span class="price">0원</span>
                </p>
                <p class="price-row">
                    <span class="name">지역별 배송비</span>
                    <span class="price">0원</span>
                </p>
            </div>
            <!-- 비회원일때 -->
            <!--<div class="price-box">
                <p class="price-row">
                    <span class="name">상품금액</span>
                    <span class="price">54,000원</span>
                </p>
                <p class="price-row">
                    <span class="name">배송비</span>
                    <span class="price">0원</span>
                </p>
                <p class="price-row">
                    <span class="name">지역별 배송비</span>
                    <span class="price">0원</span>
                </p>
            </div>-->
        </div>
        <a href="javascript:;" class="btn-pop-close popClose"><span class="white">닫기</span></a>
    </div>
</div>
