<!-- 이메일 주소 인증 -->
<div id="popCertMail" class="pop-bg pop-wrap pop-cert" style="display: none;">
    <div class="pop-container">
        <div class="pop-tit-box">
            <p class="pop-tit">이메일 주소 인증</p>
        </div>
        <div class="pop-area">
            <p class="cert-txt">
                회원정보상에 등록되어 있는 고객님의 이메일 주소로<br>
                인증번호가 전송되었습니다.<br>
                전송된 인증번호를 입력하여 주세요.<br>
                전송량이 많을 경우 지연될 수 있습니다.
            </p>
            <div class="cert-box">
                <p class="cert-row">
                    <span class="cert-num-txt">인증번호</span>
                    <input type="text" class="ip-txt">
                    <a href="#none" class="btn-recert">재전송</a>
                    <span class="count">03:00</span>
                </p>
            </div>
            <div class="btn-box">
                <a href="./find_@@pageName_result.html" class="btn-green">확인</a>
            </div>
        </div>
        <a href="javascript:;" class="btn-pop-close popClose"><span class="white">닫기</span></a>
    </div>
</div>

<!-- 휴대폰 번호 인증 -->
<div id="popCertPhone" class="pop-bg pop-wrap pop-cert" style="display: none;">
    <div class="pop-container">
        <div class="pop-tit-box">
            <p class="pop-tit">휴대폰 번호 인증</p>
        </div>
        <div class="pop-area">
            <p class="cert-txt">
                회원정보상에 등록되어 있는 고객님의 휴대폰 번호로<br>
                인증번호가 전송되었습니다.<br>
                전송된 인증번호를 입력하여 주세요.<br>
                전송량이 많을 경우 지연될 수 있습니다.
            </p>
            <div class="cert-box">
                <p class="cert-row">
                    <span class="cert-num-txt">인증번호</span>
                    <input type="text" class="ip-txt">
                    <a href="#none" class="btn-recert">재전송</a>
                    <span class="count">03:00</span>
                </p>
            </div>
            <div class="btn-box">
                <a href="./find_@@pageName_result.html" class="btn-green">확인</a>
            </div>
        </div>
        <a href="javascript:;" class="btn-pop-close popClose"><span class="white">닫기</span></a>
    </div>
</div>

<!-- 아이디 확인 -->
<div id="popCheckId" class="pop-bg pop-wrap pop-cert" style="display: none;">
    <div class="pop-container">
        <div class="pop-tit-box">
            <p class="pop-tit">아이디확인</p>
        </div>
        <div class="pop-area">
            <p class="cert-txt type-2">정보와 일치하는 아이디가 없습니다.</p>
            <div class="btn-box">
                <a href="javascript:;" class="btn-green popClose">확인</a>
            </div>
        </div>
    </div>
</div>
