<!-- 공지 슬라이드 팝업 -->
<div id="mainPop" class="main-pop-wrap" style="display: block">
    <div class="main-pop-contents">
        <div class="main-pop-area">
            <div class="pop-slide-box">
                <ul id="mainSlidePop" class="slide-pop-list">
                    <li class="slide slide-1"><a href="#none"><img src="http://static.nurisoop.co.kr/img/renew/pop/img_pop_ex.jpg" alt="누리숲 회원 혜택 안내"></a></li>
                    <li class="slide slide-2"><a href="#none"><img src="http://static.nurisoop.co.kr/img/renew/pop/img_pop_ex.jpg" alt="누리숲 회원 혜택 안내"></a></li>
                    <li class="slide slide-3"><a href="#none"><img src="http://static.nurisoop.co.kr/img/renew/pop/img_pop_ex.jpg" alt="누리숲 회원 혜택 안내"></a></li>
                </ul>
                <div class="pager-box">
                    <!-- 배너 이미지 바뀌면 텍스트도 수정해야함 -->
                    <ul id="mainSlidePopPager" class="pager-list">
                        <li class="nth-1"><a href="#none" data-slide-index="0"><em>회원혜택</em><span>신규회원</span></a></li>
                        <li class="nth-2"><a href="#none" data-slide-index="1"><em>후기 이벤트</em><span>적립금</span></a></li>
                        <li class="nth-3"><a href="#none" data-slide-index="2"><em>출석체크</em><span>2천원 쿠폰지급</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="bot-box">
                <p class="p-day-cls"><input type="checkbox" id="dayChk"><label for="dayChk">오늘 하루 열지 않음</label></p>
                <p class="p-cls"><a href="javascript:;" class="btn-pop-close">닫기 X</a></p>
            </div>
        </div>
    </div>
</div>