<!-- 광고 제휴문의 팝업 -->
<div id="popPW" class="pop-wrap pop-pw" style="display: none;">
    <div class="pop-container">
        <div class="pw-area">
            <div class="tbl-col">
                <table class="tbl">
                    <colgroup>
                        <col style="100%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>비밀글 보기</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="txt">
                                    이 글은 비밀글 입니다. <em>비밀번호를 입력하여 주세요.</em><br>
                                    관리자는 확인버튼만 누르면 됩니다.
                                </p>
                                <div class="pw-row">
                                    <p class="pw-txt">
                                        <span class="ico-lock"></span>비밀번호
                                    </p>
                                    <input type="password" class="ip-txt">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="btn-box">
                <a href="javascript:;" class="btn-gray popClose">목록</a>
                <button type="submit" class="btn-green">확인</button>
            </div>
        </div>
        <a href="javascript:;" class="btn-pop-close popClose"><span>닫기</span></a>
    </div>
</div>
