
<!-- 팝업 : 리뷰작성 -->
<div id="" class="pop-bg pop-wrap pop-review write" style="display: none">
    <div class="pop-container">
        <div class="rv-area">
            <div class="rv-top">
                <div class="img-box">
                    <figure class="img-prd">
                        <img src="http://static.nurisoop.co.kr/img/renew/common/product/item/bb.png" alt="톤업 워너 비비크림">
                    </figure>
                </div>
                <div class="txt-box">
                    <p class="prd-name">발효씨벅톤 99오일</p>
                    <p class="prd-price">10,500원</p>
                    
                    <div class="grade-box">
                        <p class="grade">평점<em>5.0</em></p>
                    </div>
                </div>
            </div>
            
            <div class="rv-main">
                <!-- 제목 -->
                <div class="rv-tit-box">
                    <div class="rv-star-box">
                        <p class="ico-star">
                            <span class="on"></span>
                            <span class="on"></span>
                            <span class="on"></span>
                            <span class="on"></span>
                            <span class="on"></span>
                        </p>
                    </div>
                    <div class="rv-tit"><input type="text" class="ip-txt" placeholder="제목 입력"></div>
                </div>

                <!-- 내용 -->
                <div class="rv-view-box">
                    <p class="txt">
                        <textarea name="" id="txt" cols="30" rows="10" class="ta-txt txtCount" placeholder="내용을 입력하세요."></textarea>
                        <span class="count countNum"><em>0</em>자</span>
                    </p>
                    <div class="file-box">
                        <input type="file" id="ipImgFiles" class="ip-file-none" accept="image/gif, image/jpg, image/jpeg, image/png"> 
                        <label for="ipImgFiles" class="btn-pic"><span class="ico-file-pic"><span></span></span>사진올리기 +</label>
                        <div id="imgFile" class="img-file-box">
                        </div>
                        <!--<div id="imgFile" class="img-file-box">
                            <a id="img01" href="javascript:;" class="btn-pop-file-cls fileImgDel"><p class="img-row"><span><img src="http://static.nurisoop.co.kr/img/renew/review/img_review_05.jpg" alt="리뷰 이미지"></span></p></a> 
                        </div>-->
                    </div>
                </div>
            </div>
            
            <div class="rv-bot">
                <a href="#none" class="btn-write">리뷰작성</a>
                <p class="txt">※ 상품과 관련 없는 내용 또는 욕설/비방/중복 글은 관리자에 의해 수정 또는 삭제될 수 있습니다. </p>
            </div>
        </div>
        <a href="javascript:;" class="btn-pop-close popClose"><span>닫기</span></a>
    </div>
</div>

<!-- 팝업 : 리뷰보기 -->
<div id="reviewRead01" class="pop-bg pop-wrap pop-review read" style="display: none">
    <div class="pop-container">
        <div class="rv-area">
            <div class="rv-top">
                <div class="img-box">
                    <figure class="img-prd">
                        <img src="http://static.nurisoop.co.kr/img/renew/common/product/item/bb.png" alt="톤업 워너 비비크림">
                    </figure>
                </div>
                <div class="txt-box">
                    <p class="prd-name">발효씨벅톤 99오일</p>
                    <p class="prd-price">10,500원</p>
                    
                    <div class="grade-box">
                        <p class="grade">평점<em>5.0</em></p>
                        <p class="ico-star">
                            <span class="on"></span>
                            <span class="on"></span>
                            <span class="on"></span>
                            <span class="on"></span>
                            <span class="on"></span>
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="rv-main">
                <!-- 제목 -->
                <div class="rv-tit-box">
                    <div class="rv-tit">누리숲제품은 늘 신뢰합니다.</div>
                </div>
                
                <div class="rv-num-box">
                    <p class="rv-num">
                        <span class="num-tit">작성자 :</span>
                        <span class="num-txt">dpak****</span>
                    </p>
                    <p class="rv-num">
                        <span class="num-tit">작성일 :</span>
                        <span class="num-txt">2019.05.03</span>
                    </p>
                </div>

                <!-- 내용 -->
                <div class="rv-view-box">
                    <p class="txt">
                        요즘 주근깨가 보여서 피부톤 개선 해보고자 해당제품을 구매했습니다.<br>
                        악건성이지만 오일을 바르고 시간이 지나면 약간 피부가 답답하고 간지러운 느낌이 있고<br>
                        그런데 해당제품은 그런 느낌이 전혀 없어요. 오히려 뭔가 피부가 보호받는 느낌이고. 보통 씨벅톤오일은<br>
                        누래서 밤에 주로 바른다고 하는데 전 이제품 아침저녁으로 바르고 있어요. 1+1이라 푸지게 바르는<br>
                        중입니다. 사은품은 늘 이렇게 넉넉하게 챙겨주시고 항상 고맙게 잘쓰고 있어요.
                    </p>
                    <figure class="img"><img src="http://static.nurisoop.co.kr/img/renew/review/img_review_05.jpg" alt="리뷰 이미지"></figure>
                </div>
                
            </div>
            
            <div class="rv-bot">
                <p class="desc">댓글 : <em>1</em>개</p>
            </div>
            
            <div class="rv-answer">
                <div class="answer-top">
                    <p class="mmg-name">누리숲</p>
                    <p class="date">2019.05.04</p>
                </div>
                <div class="answer-view">
                    <p class="txt">
                        안녕하세요.<br> 
                        숲이들려주는 피부이야기, 누리숲입니다.<br>
                        <br>
                        고객님, 소중한 후기 감사합니다.<br>
                        <br>
                        발효씨벅톤오일은 좋은 성분을 파괴하지 않고 저온 발효처리하여 추출하였기 때문에 산뜻하게 사용할 수 있답니다.<br>
                        산자나무열매오일은 보습뿐만 아니라 비타민이 매우 풍부해 피부톤개선에도 큰 도움을 드린답니다.<br>
                        <br>
                        후기 적립금 지급해드렸구요, 예쁜 피부 가꾸시고 또 찾아주세요.<br>
                        <br>
                        누리숲은 고객님의 건강하고 아름다운 피부를 위해 더욱 노력하겠습니다.<br>
                        <br>
                        감사합니다.
                    </p>
                </div>
            </div>
        </div>
        <a href="javascript:;" class="btn-pop-close popClose"><span>닫기</span></a>
    </div>
</div>

<!-- 팝업 : 내가 쓴 리뷰보기 -->
<div id="myReviewRead01" class="pop-bg pop-wrap pop-review read" style="display: none">
    <div class="pop-container">
        <div class="rv-area">
            <div class="rv-top">
                <div class="img-box">
                    <figure class="img-prd">
                        <img src="http://static.nurisoop.co.kr/img/renew/common/product/item/bb.png" alt="톤업 워너 비비크림">
                    </figure>
                </div>
                <div class="txt-box">
                    <p class="prd-name">발효씨벅톤 99오일</p>
                    <p class="prd-price">10,500원</p>
                    
                    <div class="grade-box">
                        <p class="grade">평점<em>5.0</em></p>
                        <p class="ico-star">
                            <span class="on"></span>
                            <span class="on"></span>
                            <span class="on"></span>
                            <span class="on"></span>
                            <span class="on"></span>
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="rv-main">
                <!-- 제목 -->
                <div class="rv-tit-box">
                    <div class="rv-tit">누리숲제품은 늘 신뢰합니다.</div>
                </div>
                
                <div class="rv-num-box">
                    <p class="rv-num">
                        <span class="num-tit">작성자 :</span>
                        <span class="num-txt">dpak****</span>
                    </p>
                    <p class="rv-num">
                        <span class="num-tit">작성일 :</span>
                        <span class="num-txt">2019.05.03</span>
                    </p>
                </div>

                <!-- 내용 -->
                <div class="rv-view-box">
                    <p class="txt">
                        요즘 주근깨가 보여서 피부톤 개선 해보고자 해당제품을 구매했습니다.<br>
                        악건성이지만 오일을 바르고 시간이 지나면 약간 피부가 답답하고 간지러운 느낌이 있고<br>
                        그런데 해당제품은 그런 느낌이 전혀 없어요. 오히려 뭔가 피부가 보호받는 느낌이고. 보통 씨벅톤오일은<br>
                        누래서 밤에 주로 바른다고 하는데 전 이제품 아침저녁으로 바르고 있어요. 1+1이라 푸지게 바르는<br>
                        중입니다. 사은품은 늘 이렇게 넉넉하게 챙겨주시고 항상 고맙게 잘쓰고 있어요.
                    </p>
                    <figure class="img"><img src="http://static.nurisoop.co.kr/img/renew/review/img_review_05.jpg" alt="리뷰 이미지"></figure>
                </div>
                
            </div>
            
            <div class="rv-bot">
                <p class="desc">댓글 : <em>1</em>개</p>
            </div>
            
            <div class="rv-answer">
                <div class="answer-top">
                    <p class="mmg-name">누리숲</p>
                    <p class="date">2019.05.04</p>
                </div>
                <div class="answer-view">
                    <p class="txt">
                        안녕하세요.<br> 
                        숲이들려주는 피부이야기, 누리숲입니다.<br>
                        <br>
                        고객님, 소중한 후기 감사합니다.<br>
                        <br>
                        발효씨벅톤오일은 좋은 성분을 파괴하지 않고 저온 발효처리하여 추출하였기 때문에 산뜻하게 사용할 수 있답니다.<br>
                        산자나무열매오일은 보습뿐만 아니라 비타민이 매우 풍부해 피부톤개선에도 큰 도움을 드린답니다.<br>
                        <br>
                        후기 적립금 지급해드렸구요, 예쁜 피부 가꾸시고 또 찾아주세요.<br>
                        <br>
                        누리숲은 고객님의 건강하고 아름다운 피부를 위해 더욱 노력하겠습니다.<br>
                        <br>
                        감사합니다.
                    </p>
                </div>
            </div>
            
            <!-- 내가 쓴 리뷰일 경우 -->
            <div class="btn-area">
                <div class="btn-box">
                    <button type="button" class="btn-del">삭제하기</button>
                </div>
            </div>
        </div>
        <a href="javascript:;" class="btn-pop-close popClose"><span>닫기</span></a>
    </div>
</div>
