@@include('../inc/_top.html', { "pageName": "main" })

<main id="container" class="container" role="main">
    <section class="sec main-visual-sec">
        <h1 class="sr-only">누리숲 대표 상품 소개</h1>
        <div class="visual-wrapper">
            <div class="visual-cont">
                <div class="banner-list-wrapper">
                    <ul class="banner-list" id='visualBannerList'>
                        <li class="banner-item">
                            <a href="" class="picture"><img src="../../img/m/main/bn_01.jpg" alt="자연에서 추출한 순수성분 누리숲"></a>
                        </li>
                        <li class="banner-item">
                            <a href="" class="picture"><img src="../../img/m/main/bn_02.jpg" alt="누리촉촉 워터밸런스 리뉴얼"></a>
                        </li>
                    </ul>
                    <div id="visualBannerDots"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.sec.main-visual-sec -->

    <section class="sec main-sample-sec">
        <div class="sample-wrapper">
            <div class="sample-cont">
                <div class="sample-picture">
                    <img src="http://static.nurisoop.co.kr/img/renew/main/img_top_free.png" alt="샘플">
                    <h1 class="title">
                        <span class="st">무료샘플 신청</span>
                        <span class="txt">써보고 결정하세요.<br>회원가입 후 무료샘플 신청가능.</span>
                    </h1>
                </div>
                <div class="sample-btn">
                    <a href="../samplekit/index.html" class="btn btn-default outline no-bd-r">샘플 신청하기</a>
                </div>
            </div>
        </div>
    </section>
    <!-- /.sec main-sample-sec -->

    <section class="sec main-best-sec sec-pd">
        <div class="best-wrapper">
            <div class="best-cont">
                <h1 class="sec-title">베스트셀러</h1>
                <div class="best-list-wrapper">
                    <ul class="best-list" id="bestList">
                        <li class="best-item">
                            <a href="">
                                <img src="../../img/m/common/badge_1.png" alt="1등" class="badge">
                                <img src="../../img/common/product/item/repair_cream.png" alt="1등상품" class="img">
                            </a>
                        </li>
                        <li class="best-item">
                            <a href="">
                                <img src="../../img/m/common/badge_2.png" alt="2등" class="badge">
                                <img src="../../img/common/product/item/repair_skin.png" alt="2등상품" class="img">
                            </a>
                        </li>
                        <li class="best-item">
                            <a href="">
                                <img src="../../img/m/common/badge_3.png" alt="3등" class="badge">
                                <img src="../../img/common/product/item/nuriberry_emulsion.png" alt="3등상품" class="img">
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="best-list-wrapper swiper-container" id="bestBannerList">
                    <ul class="best-list swiper-wrapper">
                        <li class="best-item swiper-slide">
                            <a href="">
                                <img src="../../img/m/common/badge_1.png" alt="1등" class="badge">
                                <img src="../../img/common/product/item/repair_cream.png" alt="1등상품" class="img">
                            </a>
                        </li>
                        <li class="best-item swiper-slide">
                            <a href="">
                                <img src="../../img/m/common/badge_2.png" alt="2등" class="badge">
                                <img src="../../img/common/product/item/repair_skin.png" alt="2등상품" class="img">
                            </a>
                        </li>
                        <li class="best-item swiper-slide">
                            <a href="">
                                <img src="../../img/m/common/badge_3.png" alt="3등" class="badge">
                                <img src="../../img/common/product/item/nuriberry_emulsion.png" alt="3등상품" class="img">
                            </a>
                        </li>
                    </ul>
                </div> -->
            </div>
            <div class="prd-cont group">
                <a href="" class="prd-item big"><img src="../../img/main/img_mid_03.jpg" alt="상품"></a>
                <a href="" class="prd-item small"><img src="../../img/main/img_mid_01.jpg" alt="상품"></a>
                <a href="" class="prd-item small"><img src="../../img/main/img_mid_02.jpg" alt="상품"></a>
            </div>
        </div>
    </section>
    <!-- /.sec main-best-sec -->

    <section class="sec main-review-sec sec-pd">
        <div class="review-wrapper">
            <div class="review-cont group">
                <h1 class="sec-title">리얼 베스트 후기</h1>
                <!-- 4개 -->
                <ul class="review-list">
                    @@for (var i = 0; i < 4; i++) { <li class="review-item">
                        <div class="review-photo">
                            <img src="../../img/review/img_review_03.jpg" alt="상품후기사진" class="photo">
                        </div>
                        <div class="review-favorite">
                            <a href="javascript:;">
                                좋아좋아요
                                <span class="icon">
                                    <!-- 찜 아이콘 -->
                                    <i class="mdi mdi-heart"></i>
                                    <!-- <i class="mdi mdi-heart-outline"></i> -->
                                </span>
                            </a>
                        </div>
                        <div class="review-name">
                            <figure class="thumbnail-cover">
                                <img src="../../img/common/product/item/formcleanser.png" alt="상품사진 " class="thumbnail">
                            </figure>
                            <span class="name-cover">누리숲 폰클렌져</span>
                        </div>
                        <div class="review-text">
                            사계절 내내 빼놓지 않고<br>
                            사용해요! 산지 얼마 안된 것<br>
                            같은데 벌써 바닥을 드러내고 있어서 또...
                        </div>
                        <div class="review-grade">
                            <span class="name">ste***</span>
                            <span class="grade-cover">
                                <span class="grade">평점 <span class="c">5.0</span></span>
                                <span class="comment">댓글 <span class="c">1</span></span>
                            </span>
                        </div>
                        </li>
                        }
                </ul>
            </div>
        </div>
    </section>
    <!-- /.sec main-review-sec -->

    <section class="sec main-popular-sec">
        <div class="popular-wrapper">
            <div class="popular-cont">
                <h1 class="sr-only">BEST 인기, NEW 신상, 시즌 PICK 상품 리스트</h1>
                <div class="popular-tabs">
                    <!-- 해당 탭 클래스 on -->
                    <ul class="tablist">
                        <li class="tab on"><a href="">BEST 인기</a></li>
                        <li class="tab"><a href="">NEW 신상</a></li>
                        <li class="tab"><a href="">시즌 PICK</a></li>
                    </ul>
                    <div class="tabpanel group">
                        <ul class="prd-list">
                            @@for (var i=0; i < 2; i ++) { <li class="prd-item">
                                <figure class="prd-thumbnail">
                                    <img src="../../img/common/product/item/formcleanser.png" alt="인기상품" class="thumbnail">
                                    <span class="sale">15%</span>
                                </figure>
                                <div class="prd-name">
                                    포레스트 녹삼초 폼클렌져
                                </div>
                                <div class="prd-price">
                                    <s>10,000원</s> <span class="fw-m">8,500원</span>
                                </div>
                                </li>
                                <li class="prd-item">
                                    <figure class="prd-thumbnail">
                                        <img src="../../img/common/product/item/formcleanser.png" alt="인기상품" class="thumbnail">
                                        <span class="sale">15%</span>
                                    </figure>
                                    <div class="prd-name">
                                        포레스트 녹삼초 폼클렌져 폼클렌져
                                    </div>
                                    <div class="prd-price">
                                        <s>10,000원</s> <span class="fw-m">8,500원</span>
                                    </div>
                                </li>
                                }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.sec main-popular-sec -->

    <section class="sec main-hotdeal-sec sec-pd">
        <div class="hotdeal-wrapper">
            <div class="hotdeal-cont group">
                <h1 class="sec-title">핫딜존</h1>
                <div class="hotdeal-list-wrapper">
                    <ul class="hotdeal-list" id="hotdealList">
                        <li class="hotdeal-item">
                            <a href="" class="item-wrapper">
                                <figure class="hotdeal-thumbnail">
                                    <img src="../../img/common/product/item/repair_cream_on.png" alt="핫딜상품" class="thumbnail">
                                    <span class="badge gift">GIFT</span>
                                </figure>
                                <div class="hotdeal-info">
                                    <div class="name">[1+1] 포레스트 리페어 크림</div>
                                    <div class="exp">(exp:20.04.15/<br>교환 및 환불불가)</div>
                                    <div class="add">(증정) 누리촉촉<br>마스크팩2매</div>
                                    <!-- <div class="line"></div> -->
                                    <hr class="line">
                                    <div class="price-cover">
                                        <span class="sale">53%</span>
                                        <span class="price">
                                            <s>50,000 원</s>
                                            <span class="fw-m">21,000원</span>
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div id="hotdealListArrow" class="hotdeal-list-arrow"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.sec main-hotdeal-sec -->
</main>
<!-- /.main.container -->

@@include('../inc/_bottom.html')