// 공통 요소
.sec-pd {
    padding: 15px 0;
}

.sec-title {
    padding: 15px 0 15px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}

// 메인 비쥬얼 영역
.main-visual-sec {
    .visual-wrapper {
        .visual-content {
            .banner-lsit {
                .banner-item {
                    position: relative;
                }
            }
        }
    }
}

// 샘플 신청 영역
.main-sample-sec {
    .sample-wrapper {
        .sample-content {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 12px 15px;
            padding-right: 10px;
            border-top: 1px solid $bor-gray;
            border-bottom: 1px solid $bor-gray;
            // padding: 15px 15px 15px 20px;

            .sample-picture {
                display: flex;
                align-items: center;

                img {
                    width: 60px;
                }

                .title {
                    line-height: 1.3;
                    margin-left: 10px;
                    letter-spacing: -1px;

                    .st {
                        font-size: 15px;
                    }

                    .txt {
                        display: block;
                        margin-top: 5px;
                        font-size: 13px;
                        color: #888888;
                        font-weight: 300;
                    }
                }
            }

            .sample-btn {
                .btn {
                    padding: 5px 7px;
                    font-size: 13px;
                }
            }
        }
    }
}

// 베스트 셀러 영역
.main-best-sec {
    .best-wrapper {
        .best-content {
            .best-list {
                .best-item {
                    &:not(:first-child) {
                        margin-left: 5px;
                    }

                    >a {
                        position: relative;
                        display: flex;
                        @include sizes(145px);
                        background-color: #f0f0f0;
                        align-items: center;
                        justify-content: center;

                        .badge {
                            @include pos(absolute, 5px, 5px);
                            width: 35px;
                        }

                        .img {}
                    }
                }
            }
        }

        .prd-content {
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;

            .prd-item {

                &.big {
                    width: 100%;
                    // display: block;
                }

                &.small {
                    margin-top: 10px;
                    width: calc(50% - 5px);

                    &+.small {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}