// 공통 요소
.sec-pd {
    padding-top: 15px;
}

.sec-title {
    padding: 15px 0 15px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}

// 메인 비쥬얼 영역
.main-visual-sec {
    .visual-wrapper {
        .visual-cont {

            .slick-dotted.slick-slider {
                margin-bottom: 0;
            }

            #visualBannerDots {
                position: absolute;
                width: 100%;

                .slick-dots {
                    bottom: 20px;

                    >li {
                        @include sizes(8px);
                        margin: 0 3px;

                        button {
                            width: 100%;
                            height: 100%;
                            padding: 0;

                            &:before {
                                opacity: 1;
                                background-color: #bbb;
                                border-color: transparent;
                            }
                        }

                        &.slick-active {
                            button:before {
                                background-color: $font-color;
                            }
                        }
                    }
                }
            }

            .banner-lsit {
                .banner-item {
                    position: relative;
                }
            }
        }
    }
}

// 샘플 신청 영역
.main-sample-sec {
    .sample-wrapper {
        .sample-cont {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 15px;
            padding-right: 10px;
            border-top: 1px solid $bor-gray;
            border-bottom: 1px solid $bor-gray;
            // padding: 15px 15px 15px 20px;

            .sample-picture {
                display: flex;
                align-items: center;

                img {
                    width: 60px;
                }

                .title {
                    line-height: 1.3;
                    margin-left: 10px;
                    letter-spacing: -1px;

                    .st {
                        font-size: 15px;
                    }

                    .txt {
                        display: block;
                        margin-top: 5px;
                        font-size: 13px;
                        color: $font-gray;
                        font-weight: 300;
                    }
                }
            }

            .sample-btn {
                .btn {
                    padding: 5px 7px;
                    font-size: 13px;
                }
            }
        }
    }
}

// 베스트 셀러 영역
.main-best-sec {
    .best-wrapper {
        .best-cont {
            padding-left: 15px;

            .best-list {
                .best-item {
                    width: 150px;

                    >a {
                        position: relative;
                        display: flex;
                        @include sizes(145px);
                        background-color: #f0f0f0;
                        align-items: center;
                        justify-content: center;

                        .badge {
                            @include pos(absolute, 5px, 5px);
                            width: 35px;
                        }

                        .img {}
                    }
                }
            }
        }

        .prd-cont {
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;

            .prd-item {

                &.big {
                    width: 100%;
                    // display: block;
                }

                &.small {
                    margin-top: 10px;
                    width: calc(50% - 5px);

                    &+.small {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

// 리뷰 영역
.main-review-sec {
    .review-wrapper {
        .review-cont {
            .review-list {
                display: flex;
                flex-wrap: wrap;

                .review-item {
                    width: calc(50% - 5px);
                    padding: 10px;
                    border: 1px solid $bor-gray;
                    box-sizing: border-box;
                    font-size: 12px;

                    &:nth-child(2n)~li {
                        margin-top: 10px;
                    }

                    &:nth-child(2n) {
                        margin-left: 10px;
                    }



                    [class*=review-]:not(:last-child) {
                        border-bottom: 1px solid $bor-gray;
                    }

                    .review-text,
                    .review-favorite {
                        padding: 7px 0;
                    }

                    .review-name {
                        padding: 5px 0;
                    }

                    .review-grade {
                        padding-top: 7px;
                    }

                    .review-favorite {
                        font-size: 13px;
                    }

                    .review-name {
                        position: relative;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        font-size: 12px;
                        color: $font-gray;
                        font-weight: 300;

                        .thumbnail-cover {
                            @include va-bef(26px);
                            width: 30px;
                            height: 30px;
                            padding: 2px;
                            background-color: #f0f0f0;
                            border-radius: 50%;
                            box-sizing: border-box;
                        }

                        .name-cover {
                            width: calc(100% - 30px - 5px);
                            max-width: 125px;
                            margin-left: 5px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }

                    .review-text {
                        color: #666666;
                        font-weight: 300;
                        line-height: 1.3;
                    }

                    .review-grade {
                        display: flex;
                        justify-content: space-between;
                        font-weight: 500;

                        .grade-cover {
                            color: $font-gray;
                            font-weight: 300;

                            .c {
                                color: $font-color;
                                font-weight: 500;
                            }

                            span:first-child+span {
                                margin-left: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// 인기 상품 탭
.main-popular-sec {
    padding-top: 30px;

    .popular-wrapper {
        .popular-cont {
            .popular-tabs {
                .tablist {
                    display: flex;

                    .tab {
                        width: 33.33%;
                        padding: 10px 0;
                        border: 1px solid $bor-gray;
                        border-bottom-color: $font-color;
                        font-size: 13px;
                        color: #999999;
                        text-align: center;

                        &.on {
                            color: $font-color;
                            border-color: $font-color;
                            border-bottom-color: #fff;
                        }
                    }
                }

                .tabpanel {
                    margin-top: 15px;

                    .prd-list {
                        display: flex;
                        flex-wrap: wrap;

                        .prd-item {
                            width: calc(50% - 5px);
                            // min-height: 245px;

                            &:nth-child(2n)~li {
                                margin-top: 15px;
                            }

                            &:nth-child(2n) {
                                margin-left: 10px;
                            }

                            .prd-thumbnail {
                                position: relative;
                                background-color: #f0f0f0;

                                .sale {
                                    display: inline-block;
                                    @include va-bef(35px);
                                    width: 35px;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    background-color: #000000;
                                    font-size: 12px;
                                    color: #ffffff;
                                    text-align: center;
                                }
                            }

                            .prd-name,
                            .prd-price {
                                line-height: 1.3;
                                text-align: center;
                                letter-spacing: -0.7px;
                            }

                            .prd-name {
                                margin-top: 15px;
                                font-size: 14px;
                            }

                            .prd-price {
                                margin-top: 10px;
                                font-size: 15px;

                                s {
                                    margin-right: 5px;
                                    font-size: 13px;
                                    color: #999;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// 핫딜존 영역
.main-hotdeal-sec {
    .hotdeal-wrapper {
        .hotdeal-cont {
            .hotdeal-list-arrow {
                position: absolute;
                width: 100%;
                top: 50%;

                .slick-prev,
                .slick-next {
                    @include size(21px, 35px);
                    box-sizing: border-box;
                    background-color: rgba(0, 0, 0, .5);

                    img {
                        width: 9px;
                    }
                }

                .slick-prev {
                    left: 0;
                }

                .slick-next {
                    right: 0;
                }
            }

            .hotdeal-list {
                .hotdeal-item {
                    .item-wrapper {
                        position: relative;
                        display: flex;

                        >* {
                            position: relative;
                            width: 50%;
                            box-sizing: border-box;
                        }

                        &:before {
                            content: '';
                            display: block;
                            position: absolute;
                            @include sizes(100%);
                            border: 1px solid $bor-gray;
                            border-left: 0;
                            box-sizing: border-box;
                        }

                        .hotdeal-thumbnail {

                            .badge {
                                display: inline-block;
                                padding: 6px 8px;
                                position: absolute;
                                top: 0;
                                right: 0;
                                background-color: #619a41;
                                letter-spacing: 0;

                                &.gift {
                                    font-size: 13px;
                                    color: #ffffff;
                                }
                            }
                        }

                        .hotdeal-info {
                            padding: 12px 15px 0;
                            line-height: 1.3;
                            font-size: 13px;
                            letter-spacing: -0.7px;

                            .name {}

                            .exp {}

                            .add {
                                margin-top: 10px;
                                font-size: 12px;
                                font-weight: 300;
                            }

                            .line {
                                margin: 10px 0;
                            }

                            .price-cover {
                                display: flex;
                                align-items: center;

                                .sale {
                                    display: inline-block;
                                    @include va-bef(35px);
                                    width: 35px;
                                    background-color: #000000;
                                    font-size: 12px;
                                    color: #ffffff;
                                    text-align: center;
                                }

                                .price {
                                    margin-left: 10px;

                                    s {
                                        color: $font-gray;
                                    }

                                    span {
                                        display: block;
                                        font-size: 15px;

                                    }
                                }
                            }
                        }
                    }


                }
            }
        }
    }
}