<!-- 청약철회방침 전체보기 -->
<div id="popPayPolicy" class="pop-wrap-2 pop-pay-policy" style="display: none;">
    <div class="pop-container">
        <div class="pop-tit-box">
            <p class="pop-tit">청약철회방침</p>
        </div>
        <div class="pop-cont">
            <div class="agr-box">
                <dl class="pcy-box">
                    <dt class="pcy-tit"></dt>
                    <dd class="pcy-txt-box"><p class="pcy-txt">이 약관은 주식회사 이비즈네트웍스(전자상거래 사업자, 이하 "회사")가 운영하는 누리숲 쇼핑몰(이하 "몰")에서 제공하는 관련 서비스(이하 "서비스")를 이용함에 있어 고객의 권리, 의무 및 책임사항을 규정함을 목적으로 합니다.</p></dd>
                </dl>
                <dl class="pcy-box">
                    <dt class="pcy-tit"></dt>
                    <dd class="pcy-txt-box">
                        <ol class="pcy-list">
                            <li>① 회사는 회사의 부주의로 교환, 반품의 사례가 발생하였을 경우 (오배송, 미배송, 파손, 불량 등) 반품수령완료 및 고객문의 7일 이내에 환급 및 환급에 필요한 조치를 취합니다.</li>
                            <li>
                                ② 고객은 재화 등을 배송 받은 경우 다음 각호에 해당하는 경우에는 반품 및 교환을 할 수 없습니다. 
                                <ol class="pcy-list">
                                    <li>1. 고객에게 책임 있는 사유로 재화 등이 멸실 또는 훼손된 경우<br>(다만, 재화 등의 내용을 확인하기 위하여 포장 등을 훼손한 경우에는 청약철회를 할 수 있습니다)</li>
                                    <li>2. 고객의 사용 또는 일부 소비에 의하여 재화 등의 가치가 현저히 감소한 경우</li>
                                    <li>3. 시간의 경과에 의하여 재판매가 곤란할 정도로 재화 등의 가치가 현저히 감소한 경우</li>
                                    <li>4. 같은 성능을 지닌 재화 등으로 복제가 가능한 경우 그 원본인 재화 등의 포장을 훼손한 경우</li>
                                </ol>
                            </li>
                            <li>③ 제2항 제2호 내지 제4호의 경우에 회사가 사전에 청약철회 등이 제한되는 사실을 소비자가 쉽게 알 수 있는 곳에 명기하지 않았다면 고객의 청약철회 등이 제한되지 않습니다.</li>
                            <li>④ 고객은 제1항 및 제2항의 규정에도 불구하고 재화 등의 내용이 표시, 광고 내용과 다르거나 계약 내용과 다르게 이행된 때에는 당해 재화 등을 공급받은 날부터 3월 이내, 그 사실을 안 날 또는 알 수 있었던 날부터 30일 이내에 청약철회 등을 할 수 있습니다.</li>
                        </ol>
                    </dd>
                </dl>
            </div>
            
            <div class="btn-area">
                <div class="btn-box">
                    <a href="javascript:;" class="btn-com popClose">닫기</a>
                </div>
            </div>
        </div>
        
        <a href="javascript:;" class="btn-pop-close popClose"><span class="white">닫기</span></a>
    </div>
</div>
