
@@include('pop/pop_inquiry.html')


<div class="footer">
    <div class="top-area">
        <div class="top-box">
            <div class="menu-box">
                <ul class="menu-list">
                    <li><a href="../brand/index.html">브랜드 소개</a></li>
                    <li><a href="../policy/index_terms.html">이용약관</a></li>
                    <li><a href="../policy/index_policy.html" class="f-bd">개인정보처리방침</a></li>
                    <li><a href="javascript:comPopOpen('#popInquiry');">제휴안내</a></li>
                </ul>
            </div>

            <div class="family-box">
                <div class="family-btn-box"><a href="javascript:fsite.click_family();" class="btn-family">FAMILY SITE</a></div>
                <div id="family_list" class="">
                    <iframe src="http://www.nurisoop.co.kr/site/familySite.php" style="width:100%;" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
    
    <div class="ft-sect">
        <div class="ft-area">
            <div class="row cust-box">
                <div class="ft-box">
                    <p class="ft-tit">누리숲 고객센터</p>
                    <p class="ico-call"><span>1688-6093</span></p>
                    <p class="txt-call">
                        <span>평일 : 09:00~18:00</span>
                        <span>점심시간 : 12:30~13:30</span>
                    </p>
                    <p class="txt-call">
                        <span>※ 토, 일, 공휴일 휴무<em class="l-line">광고전화 절대 사절</em></span>
                    </p>
                </div>
                <div class="ft-box">
                    <p class="ft-tit">E-mail 문의</p>
                    <p class="ico-mail"><span>nurisoop@ebiznetworks.co.kr</span></p>
                </div>
            </div>
            <div class="row notice-box">
                <div class="ft-box">
                    <p class="ft-tit">BANK INFO <span class="ft-sub-tit">예금주 : (주) 이비즈네트웍스</span></p>
                    <ul class="bank-list">
                        <li>
                            <span class="bk-tit">국민은행</span>
                            <span class="bk-num">129437-04-002600</span>
                            <a href="https://www.kbsavings.com/websquare/websquare.jsp?w2xPath=/jsp/ibankMng/ibankMain.xml" class="btn-bank" target="_blank">인터넷뱅킹바로가기</a>
                        </li>
                        <li>
                            <span class="bk-tit">신한은행</span>
                            <span class="bk-num">140-009-846360</span>
                            <a href="https://bank.shinhan.com/index.jsp" class="btn-bank" target="_blank">인터넷뱅킹바로가기</a>
                        </li>
                        <li>
                            <span class="bk-tit">우리은행</span>
                            <span class="bk-num">1005-101-214866</span>
                            <a href="https://spib.wooribank.com/pib/Dream?withyou=ps" class="btn-bank" target="_blank">인터넷뱅킹바로가기</a>
                        </li>
                        <li>
                            <span class="bk-tit">농협은행</span>
                            <span class="bk-num">301-0160-2407-61</span>
                            <a href="https://banking.nonghyup.com/nhbank.html" class="btn-bank" target="_blank">인터넷뱅킹바로가기</a>
                        </li>
                    </ul>
                </div>
                <div class="ft-box">
                    <p class="ft-tit">NOTICE</p>
                    <ul class="notice-list">
                        <li>
                            <!-- 예시 링크 -->
                            <a href="../brand/index_board_view.html" title="페이지 이동"><span class="bd-tit">[필독] 강원도 지역 배송 안내</span><span class="bd-day">04.08</span></a>
                        </li>
                        <li>
                            <a href="#none" title="페이지 이동"><span class="bd-tit">누리숲 어플 개선을 위한 서비스 중단 안내</span><span class="bd-day">02.14</span></a>
                        </li>
                        <li>
                            <a href="#none" title="페이지 이동"><span class="bd-tit">‘다음’ 간편 로그인 서비스 종료로 인한 서비스 중단 안내</span><span class="bd-day">01.31</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row event-box">
                <div class="slide-box">
                    <p class="ft-tit">EVENT</p>
                    <ul id="slideFoot" class="ft-slide">
                        <li class="slide-1">
                            <a href="#none"><img src="http://static.nurisoop.co.kr/img/renew/common/ft_bn_ex_01.jpg" alt="예제"></a>
                        </li>
                        <li class="slide-2">
                            <a href="#none"><img src="http://static.nurisoop.co.kr/img/renew/common/ft_bn_ex_01.jpg" alt="예제"></a>
                        </li>
                    </ul>
                </div>
                <ul class="board-list">
                    <li class="nth-1 sample">
                        <a href="#none" class="btn-link">
                            <p class="txt">샘플신청</p>
                        </a>
                    </li>
                    <li class="nth-2 coupon">
                        <a href="#none" class="btn-link">
                            <p class="txt">할인쿠폰</p>
                        </a>
                    </li>
                    <li class="nth-3 question">
                        <a href="../board/index.html#contact" class="btn-link">
                            <p class="txt">1:1문의</p>
                        </a>
                    </li>
                    <li class="nth-4 review">
                        <a href="../review/index.html#photoRv" class="btn-link">
                            <p class="txt">포토리뷰</p>
                        </a>
                    </li>
                    <li class="nth-5 order">
                        <a href="#none" class="btn-link">
                            <p class="txt">주문/배송</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="bot-area">
        <div class="info-box">
            <div class="adr-box">
                대표이사 : 박기범<span class="l-line"></span>주소 : 06178 서울특별시 강남구 테헤란로 82길 14, 15층 (대치동,디아이타워)<br>
                TEL : 1688-6093<span class="l-line"></span>FAX : 070-8277-5511<span class="l-line"></span>개인정보관리자 : 박준수<br>
                사업자등록번호 : 220-87-30865<a href="javascript:;" onclick="window.open('http://ftc.go.kr/info/bizinfo/communicationView.jsp?apv_perm_no=2006322008330211501&amp;area1=&amp;area2=&amp;currpage=1&amp;searchKey=04&amp;searchVal=2208730865&amp;stdate=&amp;enddate=', 'communicationViewPopup', 'width=700, height=600');" class="btn-link" title="새창열림">사업자정보확인 ></a><span class="l-line"></span>통신판매업 신고번호 : 강남-11501호<span class="l-line"></span>의료기기판매업 영업신고번호 : 제 4730호
            </div>
            <div class="ft-list-box">
                <div class="row cert-box">
                    <ul class="cert-list">
                        <li class="nth-1 mk-kibo"><p class="img-cert"><img src="http://static.nurisoop.co.kr/img/renew/common/img_mk_kibo.png" alt="벤처기업 기술보증기금"></p></li>
                        <li class="nth-2 mk-innobiz"><p class="img-cert"><img src="http://static.nurisoop.co.kr/img/renew/common/img_mk_innobiz.png" alt="기술혁신형 중소기업"></p></li>
                        <li class="nth-3 mk-mma"><p class="img-cert"><img src="http://static.nurisoop.co.kr/img/renew/common/img_mk_mma.png" alt="병역특례업체 병무청"></p></li>
                        <li class="nth-4 mk-tax"><a href="javascript:" onclick="window.open('http://www.nurisoop.co.kr/mypage/taxpayer','taxpayer','scrollbars=no,resizable=no,width=510,height=720');" class="btn-cert" title="새창열림"><img src="http://static.nurisoop.co.kr/img/renew/common/img_mk_tax.png" alt="2013년 모범납세자상 서울지방국세청장"></a></li>
                        <li class="nth-5 mk-seoul"><p class="img-cert"><img src="http://static.nurisoop.co.kr/img/renew/common/img_mk_seoul.png" alt="서울특별시 모범납세자 선정"></p></li>
                        <li class="nth-6 mk-ftc"><p class="img-cert"><img src="http://static.nurisoop.co.kr/img/renew/common/img_mk_ftc.png" alt="공정거래위원회"></p></li>
                        <li class="nth-7 mk-cj"><p class="img-cert"><img src="http://static.nurisoop.co.kr/img/renew/common/img_mk_cjDv.png" alt="cj 대한통운"></p></li>
                        <li class="nth-8 mk-kb"><p class="img-cert"><img src="http://static.nurisoop.co.kr/img/renew/common/img_mk_kbEs.png" alt="kb 에스크로 이체"></p></li>
                    </ul>
                </div>
                <div class="row sns-box">
                    <ul class="sns-list">
                        <li class="nth-1 blog">
                            <a href="https://blog.naver.com/nurisoop1004" target="_blank" class="페이지이동"><span>블로그</span></a>
                        </li>
                        <!--<li class="nth-2 fb">
                            <a href="#none" target="_blank" class="페이지이동"><span>페이스북</span></a>
                        </li>
                        <li class="nth-3 twit">
                            <a href="#none" target="_blank" class="페이지이동"><span>트위터</span></a>
                        </li>-->
                        <li class="nth-4 ktalk">
                            <a href="https://pf.kakao.com/_cKxefl" target="_blank" class="페이지이동"><span>카카오톡</span></a>
                        </li>
                        <!--<li class="nth-5 kstory">
                            <a href="#none" target="_blank" class="페이지이동"><span>카카오스토리</span></a>
                        </li>-->
                        <li class="nth-5 insta">
                            <a href="https://www.instagram.com/nurisoop_official" target="_blank" class="페이지이동"><span>인스타그램</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copy-box">
            <p class="copy">Copyright© 2019 EbizNetworks., All Rights Reserved.</p>
        </div>
    </div>
</div>
<!-- /.footer -->