<header class="header">
    <div class="until-area">
        <div class="until-box">
            <ul class="until-list">
                <li class="nth-1"><a href="../member/login.html">로그인</a></li>
                <li class="nth-2"><a href="../member/join.html">회원가입<p class="txt-pt">+1000P</p></a></li>
                <li class="nth-3 lst"><a href="#none">마이페이지</a></li>
            </ul>
        </div>
    </div>
    
	<div class="gnb">
        <div class="top-area">
            <div class="top-box">
                <a href="javascript:;" class="btn-menu" title="메뉴">
                    <span class="nth-1"></span>
                    <span class="nth-2"></span>
                    <span class="nth-3"></span>
                </a>
                <h1 class="logo">
                    <a href="../main/index.html"><img src="http://static.nurisoop.co.kr/img/renew/logo.png" alt="NURISOOP NATURAL PRODUCT"></a>
                </h1>
                
                <div class="box-right">
                    <div class="srch-box">
                        <input type="text" class="ip-txt">
                        <a href="javascript:;" class="btn-srch off"><span>검색</span></a>
                    </div>
                    
                    <a href="#none" class="btn-cart" title="장바구니">
                        <span class="txt">0</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="gnb-area">
            <div class="gnb-box">
                <ul class="gnb-list fl-left">
                    <li class="nth-1"><a href="../skincare/index.html">스킨케어</a></li>
                    <li class="nth-2"><a href="../hotdeal/index.html">핫딜존</a></li>
                    <li class="nth-3"><a href="../nuripick/index.html">누리숲 PICK</a></li>
                    <li class="nth-4 lst"><a href="../brand/index.html">BRAND</a></li>
                </ul>
                <ul class="gnb-list fl-right">
                    <li class="nth-5"><a href="../samplekit/index.html" class="fg-grn">무료샘플 신청</a></li>
                    <li class="nth-6"><a href="../event/index.html">이벤트</a></li>
                    <li class="nth-7"><a href="../review/index.html">상품후기</a></li>
                    <li class="nth-8 lst"><a href="../board/index.html">고객센터</a></li>
                </ul>
            </div>
        </div>
        
        <div class="menu-area">
            <div class="top-menu">
                <p class="p-all">전체메뉴</p>
                <ul class="top-list">
                    <li class="ico-best"><a href="../review/index.html#bestRv">베스트 리뷰</a></li>
                    <li><a href="../member/membership.html">회원혜택</a></li>
                    <li><a href="../samplekit/index.html">무료샘플신청</a></li>
                </ul>
            </div>
            <div class="menu-box">
                <ul class="menu-list">
                    <li class="nth-1"><div class="list-box"><a href="../skincare/index.html" class="dep-01">전체상품보기</a></div></li>
                    
                    <!-- 틀은 스킨케어 페이지(스킨케어 제목은 해당 ~별 제목으로 변경되게)로 해당 메뉴 클릭시 체크박스 기준 노출되는 상품들만 나오게 -->
                    <li class="nth-2">
                       <div class="list-box">
                        <a href="#none" class="dep-01">피부타입별</a>
                            <ul class="sub-menu-list">
                                <li><a href="#none">지성</a></li>
                                <li><a href="#none">중/복합성</a></li>
                                <li><a href="#none">건성</a></li>
                                <li><a href="#none">민감성</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nth-3">
                       <div class="list-box">
                            <a href="#none" class="dep-01">피부고민별</a>
                            <ul class="sub-menu-list">
                                <li><a href="#none">스킨/토너</a></li>
                                <li><a href="#none">로션/크림</a></li>
                                <li><a href="#none">앰플/오일</a></li>
                                <li><a href="#none">클렌징/필링</a></li>
                                <li><a href="#none">썬/메이크업</a></li>
                                <li><a href="#none">팩/마스크</a></li>
                                <li><a href="#none">세트상품</a></li>
                                <li><a href="#none">화장소품</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nth-4">
                       <div class="list-box">
                            <a href="#none" class="dep-01">제품기능별</a>
                            <ul class="sub-menu-list">
                                <li><a href="#none">트럽</a></li>
                                <li><a href="#none">흔적</a></li>
                                <li><a href="#none">수분부족</a></li>
                                <li><a href="#none">집중보습</a></li>
                                <li><a href="#none">안색케어</a></li>
                                <li><a href="#none">자외선차단</a></li>
                                <li><a href="#none">모공&#38;피지</a></li>
                                <li><a href="#none">자생&#38;탄력</a></li>
                                <li><a href="#none">진정&#38;홍조케어</a></li>
                            </ul>
                        </div>
                    </li>
                    
                    <li class="nth-5">
                       <div class="list-box">
                            <a href="../nuripick/index.html" class="dep-01">누리숲 PICK</a>
                            <ul class="sub-menu-list">
                                <li><a href="../nuripick/index.html#new">신상품</a></li>
                                <li><a href="../nuripick/index.html#best">베스트셀러</a></li>
                                <li><a href="../nuripick/index.html#set">세트할인</a></li>
                                <li><a href="../nuripick/index.html#pick">시즌 PICK</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- /.header -->

@@include('_quick.html')