<div class="quick">
    <div class="quick-left">
        <ul class="quick-list">
            <li class="menu">
                <a href="javascript:;" class="btn-menu" title="메뉴">
                    <span class="nth-1"></span>
                    <span class="nth-2"></span>
                    <span class="nth-3"></span>
                </a>
            </li>
            <li class="hotdeal"><a href="../hotdeal/index.html" class="quick-txt"><span>핫딜존</span></a></li>
            <li class="order"><a href="https://www.doortodoor.co.kr/parcel/pa_004.jsp" class="quick-txt" target="_blank"><span>배송조회</span></a></li>
            <li class="cart"><a href="#none" class="quick-txt"><span>장바구니</span></a></li>
            <li class="notice"><a href="../board/index.html#notice" class="quick-txt"><span>공지사항</span></a></li>
            <li class="kakao"><a href="https://pf.kakao.com/_cKxefl" class="quick-txt" target="_blank"><span>카톡문의</span></a></li>
            <li class="today"><p class="quick-txt"><span>오늘 본 상품</span><em>2</em></p></li>
            <li class="top"><a href="javascript:;" class="quick-txt"><span>TOP</span></a></li>
        </ul>
    </div>
    <div class="quick-right">
        <ul class="quick-list">
            <li class="hotdeal">
                <a href="../hotdeal/index.html" class="quick-txt"><span class="bg"></span><span>핫딜존</span></a>
            </li>
            <li class="order">
                <a href="https://www.doortodoor.co.kr/parcel/pa_004.jsp" class="quick-txt" target="_blank"><span class="bg"></span><span>배송조회</span></a>
            </li>
            <li class="cart">
                <a href="#none" class="quick-txt"><span class="bg"></span><span>장바구니</span></a>
            </li>
            <li class="notice">
                <a href="../board/index.html#notice" class="quick-txt"><span class="bg"></span><span>공지사항</span></a>
            </li>
            <li class="kakao">
                <a href="https://pf.kakao.com/_cKxefl" class="quick-txt"><span class="bg" target="_blank"></span><span>카톡문의</span></a>
            </li>
            <li class="question">
                <a href="../board/index.html#contact" class="quick-txt"><span class="bg"></span><span>1:1문의</span></a>
            </li>
            <li class="today">
                <p class="quick-txt"><span class="bg"></span><span>오늘 본 상품</span></p>
                <div class="slide-box">
                    <ul id="quickSlide" class="quick-slide-list">
                        <li class="slide slide-1"><a href="#none"><img src="http://static.nurisoop.co.kr/img/renew/main/img_mid_01.jpg" alt="오늘 본 상품"></a></li>
                        <li class="slide slide-1"><a href="#none"><!--<img src="http://static.nurisoop.co.kr/img/renew/main/img_mid_01.jpg" alt="오늘 본 상품">--></a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="contact-box">
            <p class="ct-tit">고객센터</p>
            <p class="ct-call">1688-6093</p>
            <p class="ct-txt">
                업무시간 : 09:00~18:00<br>
                (점심시간 12:30 ~ 13:30)<br>
                토/일요일, 공휴일 휴무
            </p>
        </div>
    </div>
</div>
<!-- /.quick -->