@@include('../include/_head.html', {
	"page": "brand"
})

<body class="page-brand">

<div class="wrapper">
	@@include('../include/_header.html')
	
	<div class="contents board list">
        <div class="top-sect">
            <div class="container">
                <h2 class="sub-tit">누리숲 뉴스</h2>
                <p class="sub-txt">누리숲에서 뷰티 이슈와 피부건강 소식을 신속하게 전해드립니다.</p>
            </div>
        </div>
        
        <div class="board-sect">
            <div class="container">
                <div class="board-area">
                    <div class="top-box">
                        <p class="txt-total fl-left">
                            <span>TOTAL : <em>19</em></span>
                        </p>
                        <div class="srch-box fl-right">
                            <select name="" id="" class="form-sel">
                                <option value="">전체</option>
                                <option value="">제목</option>
                                <option value="">내용</option>
                            </select>
                            <p class="srch-ip"><input type="text" class="ip-txt" placeholder="검색어 입력"><a href="javascript:;" class="btn-srch"><span>검색</span></a></p>
                        </div>
                    </div>

                    <div class="tbl-col">
                        <table class="tbl">
                            <colgroup>
                                <col style="width: 12.7%;">
                                <col style="width: *;">
                                <col style="width: 14.5%;">
                                <col style="width: 14.5%;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>NO.</th>
                                    <th>제목</th>
                                    <th>언론사</th>
                                    <th>등록일</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>21</td>
                                    <!-- 예시 -->
                                    <td><a href="./index_board_view.html" class="link-txt">가을철 피부를 위해 주목해야 할 성분, 'EGF'란? - ex)페이지이동</a></td>
                                    <td>하이닥</td>
                                    <td>2016.10.07</td>
                                </tr>
                                <tr>
                                    <td>20</td>
                                    <td><a href="#none" class="link-txt">천연화장품 누리숲, 유해성분無 무기자차 `누리촉촉 병풀 썬크림` 눈길</a></td>
                                    <td>디지털타임스</td>
                                    <td>2015.07.22</td>
                                </tr>
                                <tr>
                                    <td>19</td>
                                    <td><a href="#none" class="link-txt">천연화장품 누리숲, 6개월 연구 끝에 누리촉촉 무기자차 병풀 썬크림</a></td>
                                    <td>헤럴드경제</td>
                                    <td>2015.07.22</td>
                                </tr>
                                <tr>
                                    <td>18</td>
                                    <td><a href="#none" class="link-txt">무기자차 썬크림으로 자극 없이 자외선 완벽 차단! 누리숲 병풀 썬크림</a></td>
                                    <td>전자신문</td>
                                    <td>2015.07.22</td>
                                </tr>
                                <tr>
                                    <td>17</td>
                                    <td><a href="#none" class="link-txt">천연화장품 누리숲, 민감피부 위한 무기자차 '병풀 썬크림' 입소문</a></td>
                                    <td>에너지경제</td>
                                    <td>2015.07.22</td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td><a href="#none" class="link-txt">피부를 위한 무기자차 썬크림, 누리숲 ‘누리촉촉 병풀 썬크림’ 주목</a></td>
                                    <td>뉴스핌</td>
                                    <td>2015.07.22</td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td><a href="#none" class="link-txt">예민한 피부에 딱~ 누리숲 누리촉촉 무기자차 병풀썬크림 사용하세요</a></td>
                                    <td>한국경제TV</td>
                                    <td>2015.07.22</td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td><a href="#none" class="link-txt">천연화장품 누리숲, 병풀추출물 20.4% 누리촉촉 무기자차 썬크림 출시</a></td>
                                    <td>아시아뉴스통신</td>
                                    <td>2015.07.22</td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td><a href="#none" class="link-txt">	자외선주의보, 누리촉촉 무기자차 병풀 선크림으로 자극 없이 완벽 차단</a></td>
                                    <td>뉴스1</td>
                                    <td>2015.07.22</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td><a href="#none" class="link-txt">“이젠 어른이 됐으니 꼭 발라주세요~” 누리촉촉 무기자차 병풀 썬크림</a></td>
                                    <td>아이티데일리</td>
                                    <td>2015.07.22</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- board-page -->
                    <div class="page-area">
                        <div id="pagenation" class="page-box">
                            <a class="btn-m-prev" href=""><span></span></a>
                            <a class="btn-prev" href=""><span></span></a>
                            <!-- 해당 페이지일때 on -->
                            <a class="txt on" href=""><span>1</span></a>
                            <a class="txt" href=""><span>2</span></a>
                            <a class="btn-next" href=""><span></span></a>
                            <a class="btn-m-next" href=""><span></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
   
	
	@@include('../include/_footer.html') 
</div>

</body>
</html>