@@include('../include/_head.html', {
	"page": "brand"
})

<body class="page-brand">

<div class="wrapper">
	@@include('../include/_header.html')
	
	<div class="contents brand">
        <div class="bn-sect">
            <div class="bn-top-area">
                <p class="brd-tit">숲의 강인한 생명력을 함께 나누겠습니다.</p>
                <p class="brd-txt">
                    비옥한 토양에서 건강한 식물이 자라듯,<br>
                    한병한병 고이 담겨있는 자연의 기운이 피부 본연의 힘을 되찾아 드립니다.<br>
                    자연에서 온 성분들로 피부에 휴식과 활력을 채워드립니다.
               </p>
               <p class="brd-txt">매일 자연을 채워 새롭게 변화하는 건강한 피부를 만나보세요.</p>
            </div>
        </div>
        
        <div class="info-sect">
            <div class="container">
                <div class="sub-tit-box">
                    <h2 class="sub-tit">정직한 화장품, 누리숲의 약속</h2>
                </div>
                <div class="brd-area">
                    <ul class="brd-list">
                        <li>
                            <div class="img-box">
                                <img src="http://static.nurisoop.co.kr/img/renew/brand/img_list_01.png" alt="유해성분 배제">
                            </div>
                            <dl class="txt-box">
                                <dt>유해성분 배제</dt>
                                <dd>
                                    누리숲은 화장품제조 상 꼭 필요한 일부 성분을 제외하고, 피부에 이로운 천연 유래 성분의 힘을 담아 제조합니다.<br>
                                    온 가족이 함께 사용할 수 있는 천연화장품으로 건강한 아름다움을 위해 노력하고 있습니다.
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <div class="img-box">
                                <img src="http://static.nurisoop.co.kr/img/renew/brand/img_list_02.png" alt="동물실험 반대">
                            </div>
                            <dl class="txt-box">
                                <dt>동물실험 반대</dt>
                                <dd>
                                    숲의 건강한 생명력을 담은 누리숲은, <br>
                                    자연의 생명력과 공생을 위하여 동물실험을 반대해왔습니다.<br>
                                    건강한 소비를 위하여  동물실험 반대는 앞으로도 변하지 않을 누리숲의 약속입니다.
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <div class="img-box">
                                <img src="http://static.nurisoop.co.kr/img/renew/brand/img_list_03.png" alt="정직한 가격 실천">
                            </div>
                            <dl class="txt-box">
                                <dt>정직한 가격 실천</dt>
                                <dd>
                                    누리숲은 더욱 좋은 효능을 위하여 고퀄리티의 원료를 사용하고 있습니다. 광고비용/매장 운영비용과 같은 제품에 불필요한 비용을  절감하여 엄선된 천연원료를 담아 합리적인 가격으로 고객님들께 돌려드리기 위하여 노력하고 있습니다.
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <div class="img-box">
                                <img src="http://static.nurisoop.co.kr/img/renew/brand/img_list_04.png" alt="고함량/고퀄리티">
                            </div>
                            <dl class="txt-box">
                                <dt>고함량/고퀄리티</dt>
                                <dd>
                                    같은 성분일지라도 피부에 더욱 이로운 함량과 가공방식은 다릅니다. 누리숲은 탁월한 함량과 배합을 통하여 효과적으로 천연원료의 힘을 담기 위하여 노력하고 있습니다.
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <div class="img-box">
                                <img src="http://static.nurisoop.co.kr/img/renew/brand/img_list_05.png" alt="안전한 제조">
                            </div>
                            <dl class="txt-box">
                                <dt>안전한 제조</dt>
                                <dd>
                                    누리숲은 인증받은 시설에서 안정적인 배합과 성분으로 제조하여 믿고 이용하실 수 있습니다.
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <div class="img-box">
                                <img src="http://static.nurisoop.co.kr/img/renew/brand/img_list_06.png" alt="전문화된 배송">
                            </div>
                            <dl class="txt-box">
                                <dt>전문화된 배송</dt>
                                <dd>
                                    누리숲은 화장품 전문 물류창고에서 정온 보관하며, 고객님들께 안전하게 배송해드립니다.
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="bn-sect">
            <div class="bn-mid-area">
                <p class="brd-txt">
                    <span>자연주의를 앞세워 홍보하는 브랜드들이 넘쳐나는 요즘,</span>
                    화장품 전성분은 확인해보셨나요?
                </p>
                <p class="brd-txt">
                    <span>성분 함량부터 구성까지 피부를 위해 고민한 누리숲 화장품,</span>
                    고민은 누리숲이 합니다.
                </p>
                <p class="brd-txt">피부를 위한 선택을 해주세요.</p>
            </div>
        </div>
        
        <div class="idy-sect">
            <div class="container">
                <div class="sub-tit-box">
                    <h2 class="sub-tit">누리숲 BI</h2>
                    <p class="sub-txt">원료 선정부터 가공까지 피부를 위한 숲의 여정,<br>누리숲이 시작합니다.</p>
                </div>
                <div class="brd-area">
                    <figure class="brd-img">
                        <img src="http://static.nurisoop.co.kr/img/renew/brand/img_brand_identity.png" alt="누리다+숲=누리숲">
                    </figure>
                    <figure class="brd-img">
                        <img src="http://static.nurisoop.co.kr/img/renew/brand/img_brand_logo.jpg" alt="누리숲 브랜드로고">
                    </figure>
                </div>
            </div>
        </div>
	</div>
	
	@@include('../include/_footer.html') 
</div>

</body>
</html>