<div class="mp-lnb-sect">
    <div class="container">
        <div class="mp-lnb-area">
            <div class="mp-area">
                <div class="grade-area">
                   <div class="row my-gd-row">
                       <div class="my-gd">
                           <figure class="img"><img src="http://static.nurisoop.co.kr/img/renew/member/icon_membership_01.png" alt="새싹"></figure>
                       </div>
                       <dl class="gd-box">
                           <dt class="gd-tit">
                               <em>김나무늘보</em>님의 현재 등급은<br>
                               <em>WELCOME</em> 입니다.
                           </dt>
                           <dd class="gd-txt">
                               <p class="p-1"><em>등급적용 기준일</em><span>: 2019.06.16</span></p>
                               <p class="p-1"><em>구매금액</em><span>: 0원</span></p>
                           </dd>
                       </dl>
                   </div>
                   <div class="row">
                       <div class="pt-box">
                           <p class="pt-txt">
                               <span class="s-1">POINT</span>
                               <span class="s-2"><em>999,999</em>원</span>
                           </p>
                           <p class="pt-txt">
                               <span class="s-1">COUPON</span>
                               <span class="s-2"><em>999,999</em>장</span>
                           </p>
                       </div>
                       <a href="../member/membership.html" class="btn-grade">등급별 혜택 바로가기 ></a>
                   </div>
                </div>

                <div class="mp-menu-area">
                   <div class="mp-menu-box shop-info">
                       <p class="mp-menu-tit">쇼핑정보 관리</p>
                       <ul class="mp-menu">
                          <!-- 해당 페이지에서 on -->
                           <li class="on">
                               <a href="../member/index.html">주문내역/배송조회</a>
                           </li>
                           <li class="">
                               <a href="../order/index.html">장바구니</a>
                           </li>
                           <li class="">
                               <a href="../member/wish.html">위시리스트</a>
                           </li>
                       </ul>
                       <ul class="mp-menu lst">
                           <li class="">
                               <a href="../member/history.html">적립금내역</a>
                           </li>
                           <li class="">
                               <a href="../member/coupon.html">할인쿠폰</a>
                           </li>
                       </ul>
                   </div>
                   <div class="mp-menu-box my-board">
                       <p class="mp-menu-tit">게시글 관리</p>
                       <ul class="mp-menu">
                           <li class="">
                               <a href="../member/board.html">1:1문의</a>
                           </li>
                           <li class="">
                               <a href="../member/qna.html">상품 QnA</a>
                           </li>
                           <li class="">
                               <a href="../member/review.html">상품평</a>
                           </li>
                       </ul>
                   </div>
                   <div class="mp-menu-box my-info">
                       <p class="mp-menu-tit">내정보 관리</p>
                       <ul class="mp-menu">
                           <li class="">
                               <a href="../member/myinfo_pw.html">회원정보 수정</a>
                           </li>
                           <li class="">
                               <a href="../member/certif.html">본인인증하기</a>
                           </li>
                           <li class="">
                               <a href="../member/leave.html">회원탈퇴</a>
                           </li>
                       </ul>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.lnb -->