@@include('../include/_head.html', {
	"page": "product"
})

<body class="page-product">

<div class="wrapper">
	@@include('../include/_header.html')

    <!-- 스킨케어 리스트 -->
	<div class="contents list">
        <div class="sub-top-sect">
            <div class="container">
                <figure class="top-bn">
                    <img src="http://static.nurisoop.co.kr/img/renew/product/bn_top_skinCare.jpg" alt="스킨케어 탑 배너">
                </figure>
                
            </div>
        </div>
                
        <!-- 타이틀 -->
        <h2 class="sub-tit">스킨케어</h2>

        <!-- 검색 -->
        <div class="prd-srch-sect">
            <div class="container">
                <div class="srch-area">
                    <div class="srch-box">
                        <!-- tit 영역 클릭하면 해당 list 전부 체크 됨 -->
                        <div class="srch-tit">
                            <label class="srch-txt"><input type="checkbox" for="typeAll"><span class="btn-chk"></span>피부타입</label>
                        </div>
                        <ul class="srch-list">
                            <li>
                                <label class="srch-txt"><input type="checkbox" for="skin-type" checked><span class="btn-chk"></span>지성</label>
                            </li>
                            <li>
                                <label class="srch-txt"><input type="checkbox" for="skin-type"><span class="btn-chk"></span>중/복합성</label>
                            </li>
                            <li>
                                <label class="srch-txt"><input type="checkbox" for="skin-type"><span class="btn-chk"></span>건성</label>
                            </li>
                            <li>
                                <label class="srch-txt"><input type="checkbox" for="skin-type"><span class="btn-chk"></span>민감성</label>
                            </li>
                        </ul>
                    </div>
                    <div class="srch-box">
                        <!-- tit 영역 클릭하면 해당 list 전부 체크 됨 -->
                        <div class="srch-tit">
                            <label class="srch-txt"><input type="checkbox" for="worryAll"><span class="btn-chk"></span>피부고민</label>
                        </div>
                        <ul class="srch-list">
                            <li>
                                <label class="srch-txt"><input type="checkbox" for="skin-worry"><span class="btn-chk"></span>스킨/토너</label>
                            </li>
                            <li>
                                <label class="srch-txt"><input type="checkbox" for="skin-worry"><span class="btn-chk"></span>로션/크림</label>
                            </li>
                            <li>
                                <label class="srch-txt"><input type="checkbox" for="skin-worry"><span class="btn-chk"></span>앰플/오일</label>
                            </li>
                            <li>
                                <label class="srch-txt"><input type="checkbox" for="skin-worry"><span class="btn-chk"></span>클렌징/필링</label>
                            </li>
                            <li>
                                <label class="srch-txt"><input type="checkbox" for="skin-worry"><span class="btn-chk"></span>썬/메이크업</label>
                            </li>
                            <li>
                                <label class="srch-txt"><input type="checkbox" for="skin-worry"><span class="btn-chk"></span>팩/마스크</label>
                            </li>
                            <li>
                                <label class="srch-txt"><input type="checkbox" for="skin-worry"><span class="btn-chk"></span>세트상품</label>
                            </li>
                            <li>
                                <label class="srch-txt"><input type="checkbox" for="skin-worry"><span class="btn-chk"></span>화장소품</label>
                            </li>
                        </ul>
                    </div>
                    <div class="srch-box">
                        <!-- tit 영역 클릭하면 해당 list 전부 체크 됨 -->
                        <div class="srch-tit">
                            <label class="srch-txt"><input type="checkbox" for="fnAll"><span class="btn-chk"></span>제품기능</label>
                        </div>
                        <ul class="srch-list">
                            <li>
                                <label class="srch-txt"><input type="checkbox" for="prd-function"><span class="btn-chk"></span>트럽</label>
                            </li>
                            <li>
                                <label class="srch-txt"><input type="checkbox" for="prd-function"><span class="btn-chk"></span>흔적</label>
                            </li>
                            <li>
                                <label class="srch-txt"><input type="checkbox" for="prd-function" checked><span class="btn-chk"></span>수분부족</label>
                            </li>
                            <li>
                                <label class="srch-txt"><input type="checkbox" for="prd-function"><span class="btn-chk"></span>집중보습</label>
                            </li>
                            <li>
                                <label class="srch-txt"><input type="checkbox" for="prd-function"><span class="btn-chk"></span>안색케어</label>
                            </li>
                            <li>
                                <label class="srch-txt"><input type="checkbox" for="prd-function"><span class="btn-chk"></span>자외선차단</label>
                            </li>
                            <li>
                                <label class="srch-txt"><input type="checkbox" for="prd-function"><span class="btn-chk"></span>모공&amp;피지</label>
                            </li>
                            <li>
                                <label class="srch-txt"><input type="checkbox" for="prd-function"><span class="btn-chk"></span>자생&amp;탄력</label>
                            </li>
                            <li>
                                <label class="srch-txt"><input type="checkbox" for="prd-function"><span class="btn-chk"></span>진정&amp;홍조케어</label>
                            </li>
                        </ul>
                    </div>
                    <div class="srch-box lst">
                        <a href="javascript:;" class="btn-all-del"><span class="ico-reset"></span>전체 삭제</a>
                        <div class="srch-btn-box">
                            <a href="#none" class="btn-srch-cls">피부타입 > 지성<span class="ico-srch-cls"></span></a>
                            <a href="#none" class="btn-srch-cls">제품기능 > 수분부족<span class="ico-srch-cls"></span></a>
                        </div>
                        <button type="button" class="btn-srch">검색</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 상품 리스트 -->
        <div class="prd-sect">
            <div class="container">
                <div class="top-area">
                    <p class="txt-total">
                        <span>TOTAL : <em>90</em> item</span>
                    </p>
                    <!-- js 안되게 prdList 클래스 -->
                    <div class="tab-box prdList">
                        <ul class="tab-list">
                            <li class="nth-1 on"><a href="#none">신상품</a></li>
                            <li class="nth-2"><a href="#none">상품명</a></li>
                            <li class="nth-3"><a href="#none">낮은가격</a></li>
                            <li class="nth-4"><a href="#none">높은가격</a></li>
                            <li class="nth-5"><a href="#none">인기상품</a></li>
                            <li class="nth-6"><a href="#none">사용후기</a></li>
                            <li class="nth-7"><a href="#none">좋아요</a></li>
                        </ul>
                    </div>
                </div>
                
                <!-- prd-area -->
                <!-- 페이지당 최대 노출 24개 -->
                <div class="prd-area">
                    <ul class="prd-list">
                        <li class="nth-1">
                            <div class="prd-box">
                                <!-- 찜(하트)을 클릭하면 상단에 위치하게 되는 태그 / 찜 재클릭하면 사라짐 -->
                                <span class="ico-heart-sel"></span>
                                
                                <!-- 상세페이지 예시 링크 -->
                                <a href="./index_detail.html" class="prd-link">
                                    <span class="sale-txt">45%</span>
                                    
                                    <figure class="img-prd">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/bb.png" class="off" alt="톤업 워너 비비크림">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/bb_on.png" class="on" alt="톤업 워너 비비크림">
                                    </figure>
                                    
                                    <div class="ico-box">
                                        <button type="button" class="ico-heart"><span>찜</span></button>
                                        <button type="button" class="ico-cart"><span>장바구니</span></button>
                                    </div>
                                </a>
                                
                                <div class="txt-box">
                                    <dl class="prd-txt-box">
                                        <dt class="prd-tit">클릭하면 상세페이지로<br>(exp:2019.12.17)</dt>
                                        <dd class="prd-txt">
                                            <span class="b-ingred">주요성분</span>
                                            <span class="t-ingred">알부틴, 티타늄디옥사이드, 징크옥사이드</span>
                                        </dd>
                                    </dl>
                                    <div class="price-box">
                                        <span class="txt-price">16,000원</span>
                                        <span class="txt-sale">8,800원</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-2">
                            <div class="prd-box">
                                <a href="#none" class="prd-link">
                                    <span class="sale-txt">16%</span>
                                    
                                    <figure class="img-prd">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/repair_cream.png" class="off" alt="포레스트 리페어 크림">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/repair_cream_on.png" class="on" alt="포레스트 리페어 크림">
                                    </figure>
                                    
                                    <div class="ico-box">
                                        <button type="button" class="ico-heart"><span>찜</span></button>
                                        <button type="button" class="ico-cart"><span>장바구니</span></button>
                                    </div>
                                </a>
                                
                                <div class="txt-box">
                                    <dl class="prd-txt-box">
                                        <dt class="prd-tit">포레스트 리페어 크림</dt>
                                        <dd class="prd-txt">
                                            <span class="b-ingred">주요성분</span>
                                            <span class="t-ingred">EGF, 효모발효여과물, 펩타이드, 판테놀</span>
                                        </dd>
                                    </dl>
                                    <div class="price-box">
                                        <span class="txt-price">25,000원</span>
                                        <span class="txt-sale">21,000원</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-3">
                            <div class="prd-box">
                                <a href="#none" class="prd-link">
                                    <span class="sale-txt">9%</span>
                                    
                                    <figure class="img-prd">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/repair_skin.png" class="off" alt="포레스트 리페어 스킨">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/repair_skin_on.png" class="on" alt="포레스트 리페어 스킨">
                                    </figure>
                                    
                                    <div class="ico-box">
                                        <button type="button" class="ico-heart"><span>찜</span></button>
                                        <button type="button" class="ico-cart"><span>장바구니</span></button>
                                    </div>
                                </a>
                                
                                <div class="txt-box">
                                    <dl class="prd-txt-box">
                                        <dt class="prd-tit">포레스트 리페어 스킨</dt>
                                        <dd class="prd-txt">
                                            <span class="b-ingred">주요성분</span>
                                            <span class="t-ingred">EGF, 효모발효여과물, 나이아신아마이드, 아데노신</span>
                                        </dd>
                                    </dl>
                                    <div class="price-box">
                                        <span class="txt-price">40,000원</span>
                                        <span class="txt-sale">36,500원</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-4">
                            <div class="prd-box">
                                <a href="#none" class="prd-link">
                                    <span class="sale-txt">15%</span>
                                    
                                    <figure class="img-prd">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/formcleanser.png" class="off" alt="포레스트 녹삼초 폼클렌저">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/formcleanser_on.png" class="on" alt="포레스트 녹삼초 폼클렌저">
                                    </figure>
                                    
                                    <div class="ico-box">
                                        <button type="button" class="ico-heart"><span>찜</span></button>
                                        <button type="button" class="ico-cart"><span>장바구니</span></button>
                                    </div>
                                </a>
                                
                                <div class="txt-box">
                                    <dl class="prd-txt-box">
                                        <dt class="prd-tit">포레스트 녹삼초 폼클렌저</dt>
                                        <dd class="prd-txt">
                                            <span class="b-ingred">주요성분</span>
                                            <span class="t-ingred">녹차추출물, 삼백초잎/뿌리추출물, 어성초추출물, EGCG</span>
                                        </dd>
                                    </dl>
                                    <div class="price-box">
                                        <span class="txt-price">10,000원</span>
                                        <span class="txt-sale">8,500원</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-5">
                            <div class="prd-box">
                                <!-- 찜(하트)을 클릭하면 상단에 위치하게 되는 태그 / 찜 재클릭하면 사라짐 -->
                                <span class="ico-heart-sel"></span>
                                
                                <a href="#none" class="prd-link">
                                    <span class="sale-txt">45%</span>
                                    
                                    <figure class="img-prd">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/bb.png" class="off" alt="톤업 워너 비비크림">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/bb_on.png" class="on" alt="톤업 워너 비비크림">
                                    </figure>
                                    
                                    <div class="ico-box">
                                        <button type="button" class="ico-heart"><span>찜</span></button>
                                        <button type="button" class="ico-cart"><span>장바구니</span></button>
                                    </div>
                                </a>
                                
                                <div class="txt-box">
                                    <dl class="prd-txt-box">
                                        <dt class="prd-tit">[45% 공홈단독딜] 톤업 워너 비비크림<br>(exp:2019.12.17)</dt>
                                        <dd class="prd-txt">
                                            <span class="b-ingred">주요성분</span>
                                            <span class="t-ingred">알부틴, 티타늄디옥사이드, 징크옥사이드</span>
                                        </dd>
                                    </dl>
                                    <div class="price-box">
                                        <span class="txt-price">16,000원</span>
                                        <span class="txt-sale">8,800원</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-6">
                            <div class="prd-box">
                                <a href="#none" class="prd-link">
                                    <span class="sale-txt">16%</span>
                                    
                                    <figure class="img-prd">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/repair_cream.png" class="off" alt="포레스트 리페어 크림">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/repair_cream_on.png" class="on" alt="포레스트 리페어 크림">
                                    </figure>
                                    
                                    <div class="ico-box">
                                        <button type="button" class="ico-heart"><span>찜</span></button>
                                        <button type="button" class="ico-cart"><span>장바구니</span></button>
                                    </div>
                                </a>
                                
                                <div class="txt-box">
                                    <dl class="prd-txt-box">
                                        <dt class="prd-tit">포레스트 리페어 크림</dt>
                                        <dd class="prd-txt">
                                            <span class="b-ingred">주요성분</span>
                                            <span class="t-ingred">EGF, 효모발효여과물, 펩타이드, 판테놀</span>
                                        </dd>
                                    </dl>
                                    <div class="price-box">
                                        <span class="txt-price">25,000원</span>
                                        <span class="txt-sale">21,000원</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-7">
                            <div class="prd-box">
                                <a href="#none" class="prd-link">
                                    <span class="sale-txt">9%</span>
                                    
                                    <figure class="img-prd">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/repair_skin.png" class="off" alt="포레스트 리페어 스킨">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/repair_skin_on.png" class="on" alt="포레스트 리페어 스킨">
                                    </figure>
                                    
                                    <div class="ico-box">
                                        <button type="button" class="ico-heart"><span>찜</span></button>
                                        <button type="button" class="ico-cart"><span>장바구니</span></button>
                                    </div>
                                </a>
                                
                                <div class="txt-box">
                                    <dl class="prd-txt-box">
                                        <dt class="prd-tit">포레스트 리페어 스킨</dt>
                                        <dd class="prd-txt">
                                            <span class="b-ingred">주요성분</span>
                                            <span class="t-ingred">EGF, 효모발효여과물, 나이아신아마이드, 아데노신</span>
                                        </dd>
                                    </dl>
                                    <div class="price-box">
                                        <span class="txt-price">40,000원</span>
                                        <span class="txt-sale">36,500원</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-8">
                            <div class="prd-box">
                                <a href="#none" class="prd-link">
                                    <span class="sale-txt">15%</span>
                                    
                                    <figure class="img-prd">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/formcleanser.png" class="off" alt="포레스트 녹삼초 폼클렌저">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/formcleanser_on.png" class="on" alt="포레스트 녹삼초 폼클렌저">
                                    </figure>
                                    
                                    <div class="ico-box">
                                        <button type="button" class="ico-heart"><span>찜</span></button>
                                        <button type="button" class="ico-cart"><span>장바구니</span></button>
                                    </div>
                                </a>
                                
                                <div class="txt-box">
                                    <dl class="prd-txt-box">
                                        <dt class="prd-tit">포레스트 녹삼초 폼클렌저</dt>
                                        <dd class="prd-txt">
                                            <span class="b-ingred">주요성분</span>
                                            <span class="t-ingred">녹차추출물, 삼백초잎/뿌리추출물, 어성초추출물, EGCG</span>
                                        </dd>
                                    </dl>
                                    <div class="price-box">
                                        <span class="txt-price">10,000원</span>
                                        <span class="txt-sale">8,500원</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-9">
                            <div class="prd-box">
                                <!-- 찜(하트)을 클릭하면 상단에 위치하게 되는 태그 / 찜 재클릭하면 사라짐 -->
                                <span class="ico-heart-sel"></span>
                                
                                <a href="#none" class="prd-link">
                                    <span class="sale-txt">45%</span>
                                    
                                    <figure class="img-prd">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/bb.png" class="off" alt="톤업 워너 비비크림">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/bb_on.png" class="on" alt="톤업 워너 비비크림">
                                    </figure>
                                    
                                    <div class="ico-box">
                                        <button type="button" class="ico-heart"><span>찜</span></button>
                                        <button type="button" class="ico-cart"><span>장바구니</span></button>
                                    </div>
                                </a>
                                
                                <div class="txt-box">
                                    <dl class="prd-txt-box">
                                        <dt class="prd-tit">[45% 공홈단독딜] 톤업 워너 비비크림<br>(exp:2019.12.17)</dt>
                                        <dd class="prd-txt">
                                            <span class="b-ingred">주요성분</span>
                                            <span class="t-ingred">알부틴, 티타늄디옥사이드, 징크옥사이드</span>
                                        </dd>
                                    </dl>
                                    <div class="price-box">
                                        <span class="txt-price">16,000원</span>
                                        <span class="txt-sale">8,800원</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-10">
                            <div class="prd-box">
                                <a href="#none" class="prd-link">
                                    <span class="sale-txt">16%</span>
                                    
                                    <figure class="img-prd">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/repair_cream.png" class="off" alt="포레스트 리페어 크림">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/repair_cream_on.png" class="on" alt="포레스트 리페어 크림">
                                    </figure>
                                    
                                    <div class="ico-box">
                                        <button type="button" class="ico-heart"><span>찜</span></button>
                                        <button type="button" class="ico-cart"><span>장바구니</span></button>
                                    </div>
                                </a>
                                
                                <div class="txt-box">
                                    <dl class="prd-txt-box">
                                        <dt class="prd-tit">포레스트 리페어 크림</dt>
                                        <dd class="prd-txt">
                                            <span class="b-ingred">주요성분</span>
                                            <span class="t-ingred">EGF, 효모발효여과물, 펩타이드, 판테놀</span>
                                        </dd>
                                    </dl>
                                    <div class="price-box">
                                        <span class="txt-price">25,000원</span>
                                        <span class="txt-sale">21,000원</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-11">
                            <div class="prd-box">
                                <a href="#none" class="prd-link">
                                    <span class="sale-txt">9%</span>
                                    
                                    <figure class="img-prd">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/repair_skin.png" class="off" alt="포레스트 리페어 스킨">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/repair_skin_on.png" class="on" alt="포레스트 리페어 스킨">
                                    </figure>
                                    
                                    <div class="ico-box">
                                        <button type="button" class="ico-heart"><span>찜</span></button>
                                        <button type="button" class="ico-cart"><span>장바구니</span></button>
                                    </div>
                                </a>
                                
                                <div class="txt-box">
                                    <dl class="prd-txt-box">
                                        <dt class="prd-tit">포레스트 리페어 스킨</dt>
                                        <dd class="prd-txt">
                                            <span class="b-ingred">주요성분</span>
                                            <span class="t-ingred">EGF, 효모발효여과물, 나이아신아마이드, 아데노신</span>
                                        </dd>
                                    </dl>
                                    <div class="price-box">
                                        <span class="txt-price">40,000원</span>
                                        <span class="txt-sale">36,500원</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-12">
                            <div class="prd-box">
                                <a href="#none" class="prd-link">
                                    <span class="sale-txt">15%</span>
                                    
                                    <figure class="img-prd">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/formcleanser.png" class="off" alt="포레스트 녹삼초 폼클렌저">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/formcleanser_on.png" class="on" alt="포레스트 녹삼초 폼클렌저">
                                    </figure>
                                    
                                    <div class="ico-box">
                                        <button type="button" class="ico-heart"><span>찜</span></button>
                                        <button type="button" class="ico-cart"><span>장바구니</span></button>
                                    </div>
                                </a>
                                
                                <div class="txt-box">
                                    <dl class="prd-txt-box">
                                        <dt class="prd-tit">포레스트 녹삼초 폼클렌저</dt>
                                        <dd class="prd-txt">
                                            <span class="b-ingred">주요성분</span>
                                            <span class="t-ingred">녹차추출물, 삼백초잎/뿌리추출물, 어성초추출물, EGCG</span>
                                        </dd>
                                    </dl>
                                    <div class="price-box">
                                        <span class="txt-price">10,000원</span>
                                        <span class="txt-sale">8,500원</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-13">
                            <div class="prd-box">
                                <!-- 찜(하트)을 클릭하면 상단에 위치하게 되는 태그 / 찜 재클릭하면 사라짐 -->
                                <span class="ico-heart-sel"></span>
                                
                                <a href="#none" class="prd-link">
                                    <span class="sale-txt">45%</span>
                                    
                                    <figure class="img-prd">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/bb.png" class="off" alt="톤업 워너 비비크림">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/bb_on.png" class="on" alt="톤업 워너 비비크림">
                                    </figure>
                                    
                                    <div class="ico-box">
                                        <button type="button" class="ico-heart"><span>찜</span></button>
                                        <button type="button" class="ico-cart"><span>장바구니</span></button>
                                    </div>
                                </a>
                                
                                <div class="txt-box">
                                    <dl class="prd-txt-box">
                                        <dt class="prd-tit">[45% 공홈단독딜] 톤업 워너 비비크림<br>(exp:2019.12.17)</dt>
                                        <dd class="prd-txt">
                                            <span class="b-ingred">주요성분</span>
                                            <span class="t-ingred">알부틴, 티타늄디옥사이드, 징크옥사이드</span>
                                        </dd>
                                    </dl>
                                    <div class="price-box">
                                        <span class="txt-price">16,000원</span>
                                        <span class="txt-sale">8,800원</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-14">
                            <div class="prd-box">
                                <a href="#none" class="prd-link">
                                    <span class="sale-txt">16%</span>
                                    
                                    <figure class="img-prd">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/repair_cream.png" class="off" alt="포레스트 리페어 크림">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/repair_cream_on.png" class="on" alt="포레스트 리페어 크림">
                                    </figure>
                                    
                                    <div class="ico-box">
                                        <button type="button" class="ico-heart"><span>찜</span></button>
                                        <button type="button" class="ico-cart"><span>장바구니</span></button>
                                    </div>
                                </a>
                                
                                <div class="txt-box">
                                    <dl class="prd-txt-box">
                                        <dt class="prd-tit">포레스트 리페어 크림</dt>
                                        <dd class="prd-txt">
                                            <span class="b-ingred">주요성분</span>
                                            <span class="t-ingred">EGF, 효모발효여과물, 펩타이드, 판테놀</span>
                                        </dd>
                                    </dl>
                                    <div class="price-box">
                                        <span class="txt-price">25,000원</span>
                                        <span class="txt-sale">21,000원</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-15">
                            <div class="prd-box">
                                <a href="#none" class="prd-link">
                                    <span class="sale-txt">9%</span>
                                    
                                    <figure class="img-prd">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/repair_skin.png" class="off" alt="포레스트 리페어 스킨">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/repair_skin_on.png" class="on" alt="포레스트 리페어 스킨">
                                    </figure>
                                    
                                    <div class="ico-box">
                                        <button type="button" class="ico-heart"><span>찜</span></button>
                                        <button type="button" class="ico-cart"><span>장바구니</span></button>
                                    </div>
                                </a>
                                
                                <div class="txt-box">
                                    <dl class="prd-txt-box">
                                        <dt class="prd-tit">포레스트 리페어 스킨</dt>
                                        <dd class="prd-txt">
                                            <span class="b-ingred">주요성분</span>
                                            <span class="t-ingred">EGF, 효모발효여과물, 나이아신아마이드, 아데노신</span>
                                        </dd>
                                    </dl>
                                    <div class="price-box">
                                        <span class="txt-price">40,000원</span>
                                        <span class="txt-sale">36,500원</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-16">
                            <div class="prd-box">
                                <a href="#none" class="prd-link">
                                    <span class="sale-txt">15%</span>
                                    
                                    <figure class="img-prd">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/formcleanser.png" class="off" alt="포레스트 녹삼초 폼클렌저">
                                        <img src="http://static.nurisoop.co.kr/img/renew/product/item/formcleanser_on.png" class="on" alt="포레스트 녹삼초 폼클렌저">
                                    </figure>
                                    
                                    <div class="ico-box">
                                        <button type="button" class="ico-heart"><span>찜</span></button>
                                        <button type="button" class="ico-cart"><span>장바구니</span></button>
                                    </div>
                                </a>
                                
                                <div class="txt-box">
                                    <dl class="prd-txt-box">
                                        <dt class="prd-tit">포레스트 녹삼초 폼클렌저</dt>
                                        <dd class="prd-txt">
                                            <span class="b-ingred">주요성분</span>
                                            <span class="t-ingred">녹차추출물, 삼백초잎/뿌리추출물, 어성초추출물, EGCG</span>
                                        </dd>
                                    </dl>
                                    <div class="price-box">
                                        <span class="txt-price">10,000원</span>
                                        <span class="txt-sale">8,500원</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <!-- board-page -->
                <div class="page-area">
                    <div id="pagenation" class="page-box">
                        <a class="btn-m-prev" href=""><span></span></a>
                        <a class="btn-prev" href=""><span></span></a>
                        <!-- 해당 페이지일때 on -->
                        <a class="txt on" href=""><span>1</span></a>
                        <!--<a class="txt" href=""><span>2</span></a>-->
                        <a class="btn-next" href=""><span></span></a>
                        <a class="btn-m-next" href=""><span></span></a>
                    </div>
                </div>
            </div>
        </div>
	</div>
	
	@@include('../include/_footer.html') 
</div>

</body>
</html>