@@include('../include/_head.html', {
	"page": "product"
})

<body class="page-product">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="contents">
        <!-- 스킨케어 리스트 -->
        <div class="cont list">
            <div class="top-sect">
                <div class="container">
                    <figure class="top-bn">
                        <img src="http://static.nurisoop.co.kr/img/renew/product/bn_top_skinCare.jpg" alt="스킨케어 탑 배너">
                    </figure>
                </div>
            </div>
        </div>
	</div>
	
	@@include('../include/_footer.html') 
</div>

</body>
</html>