@charset "utf-8";

@import "./variables";
@import "./mixins";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* 초기화 */
input {
    @include bx;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    border: 0;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select::-ms-expand { 
    display: none; 
}
button {
    border: 0;
}
a {
    color: inherit;
}
img {
	max-width: 100%;
}