@charset "utf-8";

// 전달인자 설징이 없는 믹스인
@mixin reset-box-model {
	margin: 0;
	border: 0;
	padding: 0;
}
@mixin reset-table {
	border-collapse: collapse;
	border-spacing: 0;
}
// 전달인자가 설정된 믹스인
@mixin position($type:relative, $top:null, $left:null, $bottom:null, $right:null) {
	position: $type;
	top: $top;
	left: $left;
	bottom: $bottom;
	right: $right;
}

@mixin size($w:null, $h:null) {
	width: $w;
	height: $h;
}
@mixin transition($args...) {
	-webkit-transition: $args;
	transition: $args;
}
@mixin margin($t:null, $l:null) {
	margin-top: $t;
	margin-left: $l;
}
// 마이크로 클리어픽스(Micro Clearfix)
@mixin clearfix {
	&:before, &:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
	.ie8 & {
		zoom: 1;
	}
}

/* custom */
@mixin bx($p:relative) {
	position: $p;
	box-sizing: border-box;
}

//transiton base
@mixin trasBase($op:0.8, $fg:null, $bg:null, $time:0.4s, $fn:ease, $ds:0.1s){
    opacity: $op;
    filter: alpha(opacity=($op*100));
    color: $fg;
    background: $bg;
    -webkit-transition: all $time $fn $ds;
    -moz-transition: all $time $fn $ds;
    -ms-transition: all $time $fn $ds;
    -o-transition: all $time $fn $ds;
    transition: all $time $fn $ds;
}

//tab
@mixin tab($bor-w-on:2px, $bor-g-on:$bor-black-01, $tab-wd:100%, $tab-li-wd:null, $num:null, $bor-w:1px, $bor-g:$bor-gray-01, $a-pd:18px 0 17px, $fs:16px, $fg:$fg-gray-03, $fg-hover:$fg-gray-01, $fg-on:$fg-black){
    // num = li가 여러개일 경우, li가 한개일경우 $tab-li-wd 값 설정
    @if( $num  == null ){
        .tab-box {
            .tab-list {
                li {
                    width: $tab-li-wd;
                }
            }
            
        }
    }@else {
        .tab-box {
            .tab-list {
                width: $tab-wd;
                li {
                    @if( $num  == 3 ){
                        width: 33.3333333%;
                    }@else {
                        width: ($tab-wd/$num);
                    }
                }
            }
            
        }
    }
    
    .tab-box {
        @include bx;
        text-align: center;
        margin: 0 auto;
        line-height: 0;
        border-bottom: $bor-w-on solid $bor-g-on;
        
        .tab-list {
            @include bx;
            @include clearfix;
            display: inline-block;
            li {
                z-index: 1;
                @include bx;
                float: left;
                padding-top: ($bor-w-on)-($bor-w);
                border: $bor-w solid $bor-g;
                border-bottom: 0;
                border-left: 0;
                a {
                    @include bx;
                    display: block;
                    padding: $a-pd;
                    font-size: $fs;
                    line-height: 1.3;
                    color: $fg;
                    
                    &:hover {
                        @include trasBase(1, $fg-hover);
                    }
                }

                &:first-child {
                    border-left: $bor-w solid $bor-g;
                }

                &.on {
                    z-index: 2;
                    padding-top: 0;
                    border-left: $bor-w-on solid;
                    border-width: $bor-w-on;
                    border-color: $bor-g-on;
                    + li {
                        border-left: $bor-w solid $bor-g;
                    }
                    a {
                        @include trasBase(1, $fg-on);
                    }

                    &:before {
                        @include position(absolute, $left:0, $bottom: (-$bor-w-on));
                        content: '';
                        z-index: 3;
                        display: block;
                        width: 100%;
                        height: $bor-w-on;
                        background: #fff;
                    }
                }
            }
        }
    }
}

//line |
@mixin line($wd:1px, $ht:10px, $bg:$bor-gray-01){
    &:before {
        @include position(absolute, 50%, 0);
        content: '';
        width: $wd;
        height: $ht;
        margin-top: -($ht/2);
        background: $bg;
    }
}

//price line
@mixin line-row($wd:100%, $ht:1px, $mt:0, $bg:#fff){
    &:before {
        @include position(absolute, 50%, 0);
        content: '';
        width: $wd;
        height: $ht;
        margin-top: $mt;
        background: $bg;
    }
}

//button
/*@mixin btn-com($dis:inline-block, $wd:null, $ht:22px, $pd:0, $fs:13px, $t-line:center, $fg:$fg-gray-01, $bor-w:1px, $bor-g:$bor-gray-05, $bg:#fff){
    box-sizing: border-box;
    display: $dis;
    width: $wd;
    height: $ht;
    padding: $pd;
    font-size: $fs;
    text-align: $t-line;
    color: $fg;
    line-height: $ht;
    border: $bor-w solid $bor-g;
    background: $bg;
}*/
//btn base
@mixin btn-base($wd:null, $ht:22px, $fs:13px, $fg:$fg-gray-01){
    box-sizing: border-box;
    display: inline-block;
    width: $wd;
    height: $ht;
    font-size: $fs;
    line-height: $ht;
    vertical-align: middle;
    color: $fg;
    //padding: $pd;
    text-align: center;
}

//btn border 기본 border에 호버하면 회색배경
@mixin btn-bor-com($wd:null, $ht:22px, $fs:13px, $fg:$fg-gray-01, $bor-g:$bor-gray-09){
    @include btn-base($wd, $ht, $fs, $fg);
    border: 1px solid $bor-g;
    @include trasBase(1, $bg:#fff); 
    &:hover {
        @include trasBase(1, $bg:$bg-gray-02);
    }
}

//btn bor gray : hover black
@mixin btn-gray-bor($wd:130px, $ht:30px, $fs:14px, $fg:$fg-gray-01, $bor-g:$bor-gray-03){
    @include btn-base($wd, $ht, $fs, $fg);
    border: 1px solid $bor-g;
    @include trasBase(1, $bg:#fff);  
    &:hover {
        border-color: $bor-black-01;
        @include trasBase(1);
    }
    
}

//btn bor : hover gray bg & black bor
@mixin btn-gray-bor-02($wd:100px, $ht:28px, $fs:13px, $fg:$fg-gray-01, $bor-g:$bor-gray-09){
    @include btn-base($wd, $ht, $fs, $fg);
    border: 1px solid $bor-g;
    @include trasBase(1, $bg:#fff);  
    &:hover {
        color: $fg-black;
        border-color: $bor-black-01;
        @include trasBase(1, $bg:$bg-gray-07);
    }
    
}

//btn bg green
@mixin btn-green-bg($wd:254px, $ht:50px, $fs:18px, $fg:#fff){
    @include btn-base($wd, $ht, $fs, $fg);
    @include trasBase(1, $bg:$bg-green-01);
    &:hover {
        @include trasBase(1, $bg:$bg-green-02);
    }
}

//btn bg gray
@mixin btn-gary-bg($wd:180px, $ht:50px, $fs:18px, $fg:#fff){
    @include btn-base($wd, $ht, $fs, $fg);
    @include trasBase(1, $bg:$bg-gray-05);
    &:hover {
        @include trasBase(1, $bg:$bg-gray-06);
    }
}

//slide btn control 
@mixin btn-controls($top:50%, $left:50%, $mt:-22px, $wd:100%, $a-wd:23px, $a-ht:41px, $bx:0){
    .bx-controls {
        .bx-controls-direction {
            @include position(absolute, $top, $left);
            z-index: 51;
            margin-top: $mt;
            width: $wd;
            @if( $wd != 100% ){
                margin-left: -($wd/2);
            }
            @include trasBase(0);
            a {
                @include position(absolute, 0);
                display: inline-block;
                width: $a-wd;
                height: $a-ht;
                img {

                }
                &.bx-prev {
                    left: $bx;
                }
                &.bx-next {
                    right: $bx;
                }
            }
        }
    }
    &:hover {
        .bx-controls {
            .bx-controls-direction {
                @include trasBase(1);
            }
        }
    }
    @content
}

//text detail - 1+1, GIFT, SALE 
@mixin txtDt($wd:100px, $ht:60px, $fs:28px, $top:-1px, $left:null, $right:-1px){
    .txt-dt {
        z-index: 55;
        @include position(absolute, $top, $left, $right:$right);
        display: block;
        width: $wd;
        height: $ht;
        font-size: $fs;
        font-weight: 500;
        text-align: center;
        line-height: $ht;
        color: #fff;
        &.plus {
            background: #f175a4;
        }
        &.gift {
            background: #619a41;
        }
        &.sale {
            background: #528da8;
        }
    }
}

//checkbox
@mixin chkbox($wt:12px, $bor-bg:$bor-black-01){
    %chk {
        cursor: pointer;
        @include position(absolute, 50%, 0);
        display: block;
        box-sizing: border-box;
        width: $wt;
        height: $wt;
        margin-top: -($wt/2);
        vertical-align: middle;
    }
    
    input[type=checkbox] {
        display: none;
    }
    input[type=checkbox] + span {
        @extend %chk;
        border: 1px solid $bor-bg;
        background: #fff;
    }
    input[type=checkbox]:checked + span {
        background: #fff url(http://static.nurisoop.co.kr/img/renew/common/img_sprites.png) no-repeat;
        background-position: -1px -225px;
    }
    
    .ie8 & {
        input[type=checkbox] {
            @extend %chk;
        }
        
        input[type=checkbox] + span {
            display: none;
        }
    }
    
    @content
}

//ico heart + cert 
@mixin icon-box($bt:20px, $wt:30px, $bor-g:$bor-gray-03, $bor-g-on:$bor-green-01, $bg-on:$bg-green-01){
    .ico-box {
        z-index: 7;
        @include position(absolute, $left:50%, $bottom:$bt);
        margin-left: -$wt;
        [class*='ico-'] {
            @include bx;
            cursor: pointer;
            overflow: hidden;
            display: inline-block;
            float: left;
            width: $wt;
            height: $wt;
            border: 1px solid $bor-g;
            @include trasBase(1, $bg:#fff);

            span {
                display: block;
                width: 100%;
                height: 100%;
                font-size: 0;
                text-indent: -999px;
                background: url(http://static.nurisoop.co.kr/img/renew/common/icon_btn_pd.png) no-repeat;
            }
            &.ico-heart {
                span {
                    background-position: 0 -42px;
                }
            }
            &.ico-cart {
                span {

                    background-position: 0 -1px;
                }
            }

            &:hover {
                border-color: $bor-g-on;
                @include trasBase(1, $bg:$bg-on);
                &.ico-heart {
                    span {
                        background-position: -42px -42px;
                    }
                }
                &.ico-cart {
                    span {

                        background-position: -42px -1px;
                    }
                }
            }
        }
        @content
    }
}

//ico star
@mixin ico-star($wd:21px, $ht:20px){
    @include bx;
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
    span {
        display: inline-block;
        width: $wd;
        height: $ht;
        font-size: 0;
        text-indent: -999px;
        background: url(http://static.nurisoop.co.kr/img/renew/common/icon_gd.png) no-repeat center;
        background-size: cover;
        &.on {
            background: url(http://static.nurisoop.co.kr/img/renew/common/icon_gd_on.png) no-repeat center;
            background-size: cover;
        }
        
        .ie8 & {
            background: none;
            -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://static.nurisoop.co.kr/img/renew/common/icon_gd.png', sizingMethod='scale');
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://static.nurisoop.co.kr/img/renew/common/icon_gd.png', sizingMethod='scale');
            &.on {
                background: none;
                -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://static.nurisoop.co.kr/img/renew/common/icon_gd_on.png', sizingMethod='scale');
                filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://static.nurisoop.co.kr/img/renew/common/icon_gd_on.png', sizingMethod='scale');
            }
        }
    }
}

//ico prd info list 
@mixin ico-prd-info($pd:0 17px 0 27px, $fs:15px, $wt:20px){
    @include bx;
    @include clearfix;
    line-height: 0;
    .ico-prd-info {
        @include bx;
        float: left;
        padding: $pd;
        font-size: $fs;
        line-height: $wt;
        vertical-align: middle;
        span {
            @include position(absolute, 50%, 0);
            display: inline-block;
            width: $wt;
            height: $wt;
            margin-top: -($wt/2);
            vertical-align: middle;
            background: url(http://static.nurisoop.co.kr/img/renew/common/img_sprites.png) no-repeat;
        }

        &.pore {
            span {
                background-position: 0 -271px;
            }
        }
        &.blhead {
            span {
                background-position: -32px -271px;
            }
        }
        &.corneous {
            span {
                background-position: -64px -271px;
            }
        }
        &.sebum {
            span {
                background-position: -96px -271px;
            }
        }
    }
}

//btn search {
@mixin ip-srch($wd:163px, $bor-bg:$bor-gray-03, $ht:26px, $pd:0 30px 0 12px, $fs:14px, $fg:$fg-gray-01, $ico-wd:13px, $ico-ht:15px, $ico-r:9px){
    @include bx;
    width: $wd;
    border: 1px solid $bor-bg;
    .ip-txt {
        @include bx;
        width: 100%;
        height: $ht;
        padding: $pd;
        font-size: $fs;
        line-height: $ht;
        color: $fg;
        
        .safari & {
            padding-top: 6px;
            padding-bottom: 6px;
            line-height: 1;
        }
    }
    .btn-srch {
        @include position(absolute, 50%, $right:$ico-r);
        display: block;
        width: $ico-wd;
        height: $ico-ht;
        margin-top: -($ico-ht/2);
        background: url(http://static.nurisoop.co.kr/img/renew/common/bg_ip_sch.png) no-repeat center;
        span {
            font-size: 0;
            text-indent: -999px;
        }
    }
}

//select 
@mixin sel-com($wd:73px, $ht:28px, $mg:0, $pd:0 15px 0 6px, $fs:14px, $fg:$fg-gray-01, $bor-bg:$bor-gray-03){
    @include bx;
    width: $wd;
    height: $ht;
    margin: $mg;
    padding: $pd;
    font-size: $fs;
    font-weight: 300;
    line-height: $ht;
    color: $fg;
    border: 1px solid $bor-bg;
    background: url(http://static.nurisoop.co.kr/img/renew/common/bg_sel.png) no-repeat right center;
    
    .ie9 &, .ie8 & {
        padding-right: 0;
    }
}

//datepicker
@mixin cal($wd:94px, $ht:28px, $m-r:3px, $pd:0 8px, $fs:13px, $fg:$fg-gray-01, $bor-bg:$bor-gray-03){
    @include bx;
    cursor: pointer;
    display: inline-block;
    .ip-cal {
        @include bx;
        width: $wd;
        height: $ht;
        margin-right: $m-r;
        padding: $pd;
        font-size: $fs;
        line-height: $ht;
        color: $fg;
        border: 1px solid $bor-bg;
    }
}

//review top box - 상품상세, 상품후기-일반리뷰
@mixin rv-top-box($wd:73px, $ht:28px, $mg:0 8px 0 21px){
    @include bx;
    @include clearfix;
    padding: 5px 5px 4px;
    line-height: 0;
    border: 1px solid $bor-gray-03;
    .btn-list {
        a {
            @include bx;
            padding: 0 14px 0 13px;
            height: $ht;
            font-size: 14px;
            line-height: $ht;
            letter-spacing: 0;
            font-weight: 300;
            color: $fg-gray-01;
            &.on {
                font-weight: 400;
                color: $fg-black;
            }

            & + a {
                @include line($ht:12px, $bg:$bor-gray-03);
            }
        }
    }

    .srch-box {
        @include bx;
        @include clearfix;
        .p-1 {
            @include bx;
            float: left;
            line-height: $ht;
            .srch-txt {
                @include bx;
                padding-left: 20px;
                font-size: 14px;
                letter-spacing: 0;
                @include chkbox;
            }
        }
        
        //select
        .form-sel {
            float: left;
            @include sel-com($wd:$wd, $ht:$ht, $mg:$mg);
            
            &.w-1 {
                width: 112px;
            }
        }
    }
}

//time
@mixin timer($mg:37px auto 17px, $r-ml:28px, $r-pl-fir:4px, $p-ml:2px, $p-t-ml:1px, $wd:30px, $ht:40px, $n-fs:20px, $t-fs:18px){
    .time-box {
        @include bx;
        @include clearfix;
        display: inline-block;
        margin: $mg;
        .row {
            @include bx;
            display: inline-block;
            float: left;
            margin-left: $r-ml;
            &:first-child {
                padding-left: $r-pl-fir;
            }
            p {
                display: inline-block;
                margin-left: $p-ml;
                height: $ht;
                &.sq {
                    width: $wd;
                    text-align: center;
                    background: url(http://static.nurisoop.co.kr/img/renew/common/img_sprites.png) no-repeat;
                    background-position: -140px 0;
                    span {
                        font-size: $n-fs;
                        font-weight: 500;
                        line-height: $ht;
                    }
                }
                &.time-txt {
                    margin-left: $p-t-ml;
                    font-size: $t-fs;
                    line-height: $ht;
                    font-weight: 500;
                    color: $fg-gray-04;
                }
            }
        }
    }
}

//상품리스트 
@mixin prd-list($wd:25%, $ht:300px, $pt:46px, $t-ht:190px){
    .prd-area {
        @include bx;
        @include clearfix;

        .prd-list {
            @include bx;
            @include clearfix;
            margin: 0 -10px 0 -10px;
            li {
                @include bx;
                float: left;
                width: $wd;
                padding: $pt 10px 0;
                .prd-box {
                    @include bx;
                    .prd-link {
                        @include bx;
                        display: block;
                        width: 100%;
                        height: $ht;
                        .img-prd {
                            img {
                                @include position(absolute, 0, 0);
                                &.off {
                                }
                                &.on {
                                    @include trasBase(0);
                                }
                            }
                        }
                        @include icon-box(30px);
                        .ico-box {
                            @include trasBase(0);
                        }

                        &:hover {
                            .sale-txt {
                                @include trasBase(1, $bg:$bg-black-01);
                            }
                            .img-prd {
                                img {
                                    &.on {
                                        @include trasBase(1, $time:0.8s, $ds:0.6);
                                    }
                                }
                            }
                            .ico-box {
                                @include trasBase(1, $time:0.7s, $ds:0.3s);
                            }
                        }
                    }

                    .txt-box {
                        @include bx;
                        height: $t-ht;
                        .prd-txt-box {
                            @include bx;
                            padding: 15px 0 18px;
                            border-bottom: 1px solid $bor-gray-01;
                            .prd-tit {
                                padding-bottom:17px;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 1.5;
                            }
                            .prd-txt {
                                @include bx;
                                @include clearfix;
                                span {
                                    @include bx;
                                    float: left;
                                    display: inline-block;
                                    font-weight: 300;
                                    line-height: 20px;
                                    letter-spacing: -0.2px;
                                    &.b-ingred {
                                        width: 20%;
                                        height: 20px;
                                        font-size: 14px;
                                        text-align: center;
                                        color: #fff;
                                        background: $bg-green-02;
                                    }
                                    &.t-ingred {
                                        width: 80%;
                                        padding: 0 20px 0 5px;
                                        font-size: 15px;
                                        color: $fg-gray-04;
                                        word-break: keep-all;
                            
                                        .ie8 & {
                                            letter-spacing: -0.7px;
                                        }
                                    }
                                }
                            }
                        }
                        .price-box {
                            padding-top: 14px;
                            span {
                                @include bx;
                                display: inline-block;
                                font-size: 15px;
                                &.txt-price {
                                    color: $fg-gray-04;
                                    @include line-row($mt:0, $bg:$fg-gray-04);
                                }
                                &.txt-sale {
                                    margin-left: 18px;
                                    font-weight: 500;
                                    color: $fg-red-02;
                                }
                            }
                        }
                    }
                }

            }
        }
        
        @content
    }
}

//리뷰 
@mixin review-list($wd:25%, $ht:540px, $pt:50px){
    @include bx;
    @include clearfix;
    .review-list {
        @include bx;
        margin: 0 -10px 0 -10px;
        li {
            @include bx;
            float: left;
            width: $wd;
            padding: $pt 10px 0;
            .review-box {
                @include bx;
                display: block;
                height: $ht;
                padding: 9px;
                border: 1px solid transparent;
                @include trasBase(1);

                .img-review {
                    img {

                    }
                }

                .txt-box {
                    .rv-tit {
                        padding: 16px 0 8px;
                        font-size: 16px;
                    }

                    .rv-txt-box {
                        border-top: 1px solid $bor-gray-01;
                        border-bottom: 1px solid $bor-gray-01;
                        .rv-prd {
                            @include bx;
                            padding: 9px 0 6px;
                            border-bottom: 1px solid $bor-gray-01;
                            .img-rv-prd {
                                display: inline-block;
                                width: 40px;
                                height: 40px;
                                background: url(http://static.nurisoop.co.kr/img/renew/review/bg_prd.png)no-repeat;
                                background-size: cover;
                                img {

                                }   
                            }
                            .rv-prd-txt {
                                padding-left: 5px;
                                font-size: 14px;
                                font-weight: 300;
                                line-height: 40px;
                                color: $fg-gray-04;
                            }
                        }
                    }

                    //리뷰내용
                    .rv-txt {
                        @include bx;
                        overflow: hidden;
                        display: block;
                        height: 63px;
                        margin: 16px 0 17px 0;
                        font-size: 15px;
                        line-height: 1.4;
                        font-weight: 300;
                        word-break: keep-all;
                        color: $fg-gray-06;

                        .ie8 & {
                            letter-spacing: -0.7px;
                        }
                    }

                    //하단
                    .rv-bot {
                        @include bx;
                        @include clearfix;
                        padding-top: 13px;
                        p {
                            span {
                                display: inline-block;
                                font-size: 14px;
                                line-height: 1;
                                em {
                                    padding-left: 2px;
                                    color: $fg-black;
                                    font-weight: 500;
                                }
                                &.rv-user {
                                    font-weight: 500;
                                }

                                &.rv-gd {
                                    font-weight: 400;
                                    color: $fg-gray-04;
                                }

                                &.rv-desc {
                                    margin-left: 13px;
                                    font-weight: 300;
                                    color: $fg-gray-06;
                                }
                            }
                        }
                    }
                }
                &:hover {
                    border-color: $bor-black-01;
                    @include trasBase(1);
                }
            }

        }
    }
    
}
            
//weekly 상품 리스트 
@mixin wk-list($wd:50%, $ht:250px, $wd-r:368px, $pt:20px, $t-pd:45px 39px 30px 40px, $t-sub-pd:18px 0 28px, $wk-tit-fs:16px, $wk-txt-fs:15px, $price-pd-t:14px, $price-fs:15px){
    .weekly-area {
        @include bx;
        @include clearfix;
        .wk-list {
            @include bx;
            @include clearfix;
            margin: 0 -10px 0 -10px;
            li {
                @include bx;
                float: left;
                width: $wd;
                padding: $pt 10px 0;
                .wk-box {
                    @include bx;
                    @include clearfix;
                    display: block;
                    width: 100%;
                    height: $ht;
                    border: 1px solid $bor-gray-01;

                    .ico-heart-sel {
                        top : -1px;
                        left: -1px;
                    }

                    .img-box {
                        @include bx;
                        float: left;
                        display: inline-block;
                        width: ($ht)-(1);
                        height: ($ht)-(2);
                        overflow: hidden;
                        &:before {
                            @include position(absolute, 0, $right:0);
                            content: '';
                            width: 1px;
                            height: 100%;
                            background: $bor-gray-01;
                        }
                        .img-prd {
                            @include position(absolute, 0, 0);
                            img {
                                @include position(absolute, 0, 0);
                                &.off {
                                }
                                &.on {
                                    @include trasBase(0);
                                }
                            }
                        }
                        @include icon-box;
                        .ico-box {
                            @include trasBase(0);
                        }
                    }

                    .txt-box {
                        @include bx;
                        float: right;
                        display: inline-block; 
                        //width: calc(100% - #{$ht});
                        width: $wd-r;
                        height: ($ht)-(1);
                        text-align: left;
                        padding: $t-pd;
                        .wk-txt-box {
                            @include bx;
                            word-break: keep-all;
                            .wk-tit {
                                font-size: $wk-tit-fs;
                            }
                            .wk-txt {
                                padding: $t-sub-pd;
                                font-size: $wk-txt-fs;
                                font-weight: 300;
                                color: $fg-gray-04;
                            }
                        }

                        .price-box {
                            @include bx;
                            @include clearfix;
                            padding-top: $price-pd-t;
                            border-top: 1px solid $bor-gray-01;
                            span {
                                @include bx;
                                display: inline-block;
                                font-size: $price-fs;
                                letter-spacing: 0;

                                &.txt-price {
                                    color: $fg-gray-04;
                                    @include line-row($bg:$fg-gray-04);
                                }

                                &.txt-sale {
                                    float: right;
                                    color: $fg-black;
                                }
                            }
                        }
                    }

                    &:hover {
                        border-color: $bor-black-01;
                        @include trasBase(1);
                        .sale-txt {
                            @include trasBase(1, $bg:$bg-black-01);
                        }
                        .img-prd {
                            img {
                                &.on {
                                    @include trasBase(1, $time:0.8s, $ds:0.6);
                                }
                            }
                        }
                        .ico-box {
                            @include trasBase(1, $time:0.7s, $ds:0.3s);
                        }
                    }
                }
            }
        }
    }
}

//pagenation 
@mixin pagenation($pt:40px, $ht:12px, $fs:13px, $m-l:12px, $m-r:9px){
    padding-top: $pt;
    text-align: center;
    .page-box {
        display: inline-block;
        text-align: center;
        a {
            display: inline-block;
            height: $ht;
            font-size: $fs;
            text-align: center;
            vertical-align: middle;
            line-height: $ht;
            &.txt {
                color: $fg-gray-06;

                &.on {
                    color: $fg-green-01;
                }
            }
            &[class*='btn-']{
                width: 8px;
                background: url(http://static.nurisoop.co.kr/img/renew/common/img_sprites.png) no-repeat;
                &[class*='btn-m-']{
                    width: $ht;
                }
                &.btn-m-prev {
                    background-position: 0 -200px;
                }
                &.btn-prev {
                    margin-right: $m-r;
                    background-position: -23px -200px;
                }
                &.btn-next {
                    margin-left: ($m-l)+($m-r);
                    background-position: -42px -200px;
                }
                &.btn-m-next {
                    background-position: -61px -200px;
                }
            }
            & + a {
                margin-left: $m-l;
            }

        }
    }
}

//bottom banner - 메인 / 서브
@mixin bot-bn-sec($ht:285px, $pl:51px, $txt-pd:24px 0 29px){
    /* bot banner */
    .bot-bn-sect {
        margin-top: 80px;
        background: url(http://static.nurisoop.co.kr/img/renew/main/bot_bn.png) no-repeat center;
        background-size: cover;
        .container {
            display: table !important;
            height: $ht;
            .bot-bn-box {
                display: table-cell;
                padding-left: 51px;
                vertical-align: middle;
                text-align: left;
                color: #fff;
                
                .bn-tit {
                    padding-top: 2px;
                    letter-spacing: 0;
                    span {
                        font-size: 18px;
                        font-weight: 300;
                        word-spacing: 10px;
                        opacity: 0.5;
                        filter: alpha(opacity=50);
                    }
                    em {
                        display: block;
                        font-size: 32px;
                        opacity: 0.9;
                        filter: alpha(opacity=90);
                    }
                }
                .bn-txt {
                    padding: $txt-pd;
                    font-size: 22px;
                    font-weight: 300;
                    line-height: 1.2;
                    opacity: 0.5;
                    filter: alpha(opacity=50);
                }
                .btn-link {
                    @include btn-base(100px, 30px, $fs:16px, $fg:#302f3c);
                    font-weight: 500;
                    @include trasBase(1, $bg:rgba(240, 240, 240, 0.7));
                        
                    .ie8 & {
                        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#70f0f0f0,endColorstr=#70f0f0f0);
                    }
                    
                    &:hover {
                        @include trasBase(0.6);
                    }
                }
            }
        }
    }
}

//table row
@mixin tbl-row($bor-t-w:2px, $bor-t-bg:$bor-black-01, $fs:15px, $bor-b-bg:$bor-gray-03, $th-pd:19px 15px 17px 29px, $th-fg:$fg-black, $th-bg:$bg-gray-02, $td-pd:10px 15px 10px 29px, $td-fg:$fg-gray-09, $td-bg:#fff, $i-ht:28px, $i-fg:$fg-gray-01){
    .tbl-row {
        @include bx;
        width: 100%;
        .tbl {
            border-top: $bor-t-w solid $bor-t-bg;
            th, td {
                font-size: $fs;
                font-weight: 300;
                text-align: left;
                border-bottom: 1px solid $bor-b-bg;
            }
            th {
                padding: $th-pd;
                color: $th-fg;
                background: $th-bg;
            }
            td {
                padding: $td-pd;
                color: $td-fg;
                background: $td-bg;
                
                .row {
                    @include bx;
                    .form-sel, .ip-txt, .ta-txt {
                        @include bx;
                        color: $i-fg;
                        vertical-align: middle;
                        border: 1px solid $bor-b-bg;
                    }
                    .form-sel, .ip-txt {
                        height: $i-ht;
                        padding: 0 10px;
                        line-height: $i-ht;
                    }
                    
                    .form-sel, .ip-txt {
                        width: 197px;
                    }
                    .ip-txt {
                        width: 247px;
                        &.all {
                            width: 100%;
                        }
                        &.w-1 {
                            width: 66px;
                        }
                    }
                    .ta-txt {
                        width: 100%;
                        height: 256px;
                        padding: 10px;
                    }
                    
                    //텍스트
                    .p-point, .chk-txt {
                        @include bx;
                        display: inline-block;
                        font-size: 13px;
                        letter-spacing: 0;
                        vertical-align: middle;
                        line-height: $i-ht;
                        &.fg-red {
                            color: $fg-red-03;
                        }
                    }
                    .p-point {
                        padding-left: 9px;
                        &:before {
                            @include position(absolute, 3px, 0);
                            content: '*';
                            display: inline-block;
                        }
                    }
                    
                    .p-line {
                        @include bx;
                        padding-left: 10px;
                        font-size: 14px;
                        letter-spacing: 0;
                        vertical-align: middle;
                        line-height: 1.5;
                        color: $fg-gray-04;
                        &:before {
                            content: '';
                            @include position(absolute, 11px, 0);
                            width: 4px;
                            height: 1px;
                            background: $fg-gray-04;
                        }
                    }
                    
                    .chk-txt {
                        padding-left: 17px;
                        @include chkbox;
                    }
                    
                    .s-1{
                        padding: 0 6px;  
                        font-size: 20px;
                        vertical-align: middle;
                        letter-spacing: 0;
                        color: $i-fg;
                    }
                    
                    a, button {
                        &.btn-file-del {
                            margin-left: 25px;
                            font-size: 14px;
                        }
                        
                        /*@include trasBase(1);
                        &:hover {
                            @include trasBase(0.6);
                        }*/
                    }
                    
                    //간격 
                    input + .btn-com, input + label {
                        margin-left: 8px;
                    }
                    
                    .row-file {
                        margin-bottom: 13px;
                    }
                    
                   /* .row-file + .row-file {
                        margin-top: 3px;
                    }*/
                    
                    & + .row {
                        margin-top: 13px;
                    }
                    
                    & + .row.file-box {
                        margin-top: 0;
                    }
                }
            }
        }
        @content
    }    
}

//tbl col th gray
@mixin tbl-col-gray($bor-t-w:1px, $bor-t-bg:$bor-black-01, $fs:15px, $bor-b-bg:$bor-gray-03, $th-pd:17px 0, $th-fg:$fg-black, $th-bg:$bg-gray-02, $td-pd:15px 0, $td-fg:$fg-gray-04, $a-pd:0 70px){
    .tbl-col {
        @include bx;
        .tbl {
            border-top: $bor-t-w solid $bor-t-bg;
            th, td {
                font-size: $fs;
                border-bottom: 1px solid $bor-b-bg;
            }
            thead {
                tr {
                    th {
                        padding: $th-pd;
                        font-weight: 400;
                        color: $th-fg;
                        background: $th-bg;
                        @include line($ht:12px, $bg:$bor-gray-09);
                        &:first-child {
                            &:before {
                                content: none;
                            }
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: $td-pd;
                        color: $td-fg;
                        a {
                            display: block;
                            padding: $a-pd;
                            text-align: left;
                            color: inherit;
                            @include trasBase(1);
                            &:hover {
                                @include trasBase(0.6);
                            }
                        }
                    }
                }
            }
        }
        @content
    }
}

//table - prd detail
@mixin tbl-col-prd($bor-t-w:1px, $bor-t-bg:$bor-black-01, $th-pd:10px 22px, $th-fs:13px, $th-fg:$fg-gray-01, $th-bor-bg:$bor-gray-04, $td-pd:20px 20px, $td-fs:16px, $td-fg:$fg-gray-01, $td-bor-bg:$bor-gray-03){
    .tbl-col {
        @include bx;
        .tbl {
            border-top: $bor-t-w solid $bor-t-bg;

            thead {
                tr {
                    th {
                        padding: $th-pd;
                        font-size: $th-fs;
                        color: $th-fg;
                        border-bottom: 1px solid $th-bor-bg;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        padding: $td-pd;
                        font-weight: $td-fs;
                        border-bottom: 1px solid $td-bor-bg;
                    }
                }
            }
        }
    }
}

//sub - top tit / 이벤트, 상품후기, 고객센터
@mixin sub-top($pd:54px 0 62px, $fs:20px, $pd-t:12px, $txt-fs:15px, $txt-fg:$fg-gray-03){
    .top-sect {
        padding: $pd;
        .container {
            text-align: center;
            .evt-tit {
                font-size: $fs;
            }
            .evt-txt {
                padding-top: $pd-t;
                font-size: $txt-fs;
                line-height: 1.5;
                color: $txt-fg;
            }
        }
    }
}

//view - top
@mixin view-top($bor-t-w:2px, $bor-t-bg:$bor-black-01, $tit-pd:15px 0 20px, $tit-fs:17px, $num-pd:12px 0, $num-bor-bg:$bor-gray-03, $num-fs:15px, $num-tit-fg:$fg-gray-04, $num-txt-fg:$fg-black){
    @include bx;
    .view-tit {
        border-top: $bor-t-w solid $bor-t-bg;
        padding: $tit-pd;
        font-size: $tit-fs;
        line-height: 1;
        text-align: center;
    }
    .view-num-box {
        padding: $num-pd;
        border-top: 1px solid $num-bor-bg;
        border-bottom: 1px solid $num-bor-bg;
        .view-num {
            @include bx;
            display: inline-block;
            line-height: 1;
            span, a {
                font-size: $num-fs;
                line-height: 1;
                &.num-tit {
                    color: $num-tit-fg;
                }
                &.num-txt {
                    color: $num-txt-fg;
                }
            }
            a {
                font-size: ($num-fs)-(1);
                &.num-txt {
                    color: $fg-gray-06;
                }
                @include trasBase(1);
                &:hover {
                    @include trasBase(0.6);
                }
            }
            & + .view-num {
                margin-left: 17px;
                padding-left: 20px;
                @include line($bg:$bor-gray-09);
            }
        }
        
        & + .view-num-box {
            border-top: 0;
        }
    }
}

//view - page
@mixin view-page($pd:0 20px, $bor-bg:$bor-gray-03, $fs:14px, $ht:38px, $fg:$fg-gray-01){
    @include bx;
    div {
        @include bx;
        display: table;
        width: 100%;
        padding: $pd;
        border-bottom: 1px solid $bor-bg;
        * {
            font-size: $fs;
            line-height: $ht;
            color: $fg;
        }
        .txt {
            @include bx;
            display: table-cell;
            padding-left: 15px;
            width: 100px;
            height: $ht;
            span {
                $ht:5px;
                @include position(absolute, 50%, 0);
                display: block;
                width: 7px;
                height: $ht;
                margin-top: -($ht/2);
                background: url(http://static.nurisoop.co.kr/img/renew/common/img_sprites.png) no-repeat;
            }
        }
        .link {
            @include bx;
            display: table-cell;
            height: $ht;
            a {
                display: inline-block;
                @include trasBase(1);
                &:hover {
                    @include trasBase
                }
            }
        }
        &.prev {
            .txt {
                span {
                    background-position: -124px -227px;
                }
            }
        }
        &.next {
            .txt {
                span {
                    margin-top: -1px;
                    background-position: -137px -227px;
                }
            }
        }

        &:first-child {
            border-top: 1px solid $bor-bg;
        }
    }
}


