@charset "utf-8";

// 전달인자 설징이 없는 믹스인
@mixin reset-box-model {
	margin: 0;
	border: 0;
	padding: 0;
}
@mixin reset-table {
	border-collapse: collapse;
	border-spacing: 0;
}
// 전달인자가 설정된 믹스인
@mixin position($type:relative, $top:null, $left:null, $bottom:null, $right:null) {
	position: $type;
	top: $top;
	left: $left;
	bottom: $bottom;
	right: $right;
}

@mixin size($w:null, $h:null) {
	width: $w;
	height: $h;
}
@mixin transition($args...) {
	-webkit-transition: $args;
	transition: $args;
}
@mixin margin($t:null, $l:null) {
	margin-top: $t;
	margin-left: $l;
}
// 마이크로 클리어픽스(Micro Clearfix)
@mixin clearfix {
	&:before, &:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
	.ie8 & {
		zoom: 1;
	}
}

/* custom */
@mixin bx($p:relative) {
	position: $p;
	box-sizing: border-box;
}

//transiton base
@mixin trasBase($op:0.8, $fg:null, $bg:null, $time:0.4s, $fn:ease, $ds:0.1s){
    opacity: $op;
    filter: alpha(opacity=($op*100));
    color: $fg;
    background: $bg;
    -webkit-transition: all $time $fn $ds;
    -moz-transition: all $time $fn $ds;
    -ms-transition: all $time $fn $ds;
    -o-transition: all $time $fn $ds;
    transition: all $time $fn $ds;
}

//tab
@mixin tab($bor-w-on:2px, $bor-g-on:$bor-black-01, $tab-wd:100%, $tab-li-wd:null, $num:null, $bor-w:1px, $bor-g:$bor-gray-01, $a-pd:17px 0 16px, $fs:16px, $fg:$fg-gray-03, $fg-hover:$fg-gray-01, $fg-on:#333){
    // num = li가 여러개일 경우, li가 한개일경우 $tab-li-wd 값 설정
    @if( $num  == null ){
        .tab-box {
            .tab-list {
                li {
                    width: $tab-li-wd;
                }
            }
            
        }
    }@else {
        .tab-box {
            .tab-list {
                width: $tab-wd;
                li {
                    width: ($tab-wd/$num);
                }
            }
            
        }
    }
    
    .tab-box {
        @include bx;
        text-align: center;
        margin: 0 auto;
        line-height: 0;
        border-bottom: $bor-w-on solid $bor-g-on;
        
        .tab-list {
            @include bx;
            @include clearfix;
            display: inline-block;
            li {
                @include bx;
                float: left;
                padding-top: ($bor-w-on)-($bor-w);
                border: $bor-w solid $bor-g;
                border-bottom: 0;
                border-left: 0;
                a {
                    @include bx;
                    display: block;
                    padding: $a-pd;
                    font-size: $fs;
                    line-height: 1.3;
                    color: $fg;
                    
                    &:hover {
                        @include trasBase(1, $fg-hover);
                    }
                }

                &:first-child {
                    border-left: $bor-w solid $bor-g;
                }

                &.on {
                    padding-top: 0;
                    border-left: $bor-w-on solid;
                    border-width: $bor-w-on;
                    border-color: $bor-g-on;
                    + li {
                        border-left: $bor-w solid $bor-g;
                    }
                    a {
                        @include trasBase(1, $fg-on);
                    }

                    &:before {
                        @include position(absolute, $left:0, $bottom: (-$bor-w-on));
                        content: '';
                        display: block;
                        width: 100%;
                        height: $bor-w-on;
                        background: #fff;
                    }
                }
            }
        }
    }
}

//line |
@mixin line($wd:1px, $ht:10px, $bg:$bor-gray-01){
    &:before {
        @include position(absolute, 50%, 0);
        content: '';
        width: $wd;
        height: $ht;
        margin-top: -($ht/2);
        background: $bg;
    }
}

//price line
@mixin line-row($wd:100%, $ht:1px, $mt:3px, $bg:#fff){
    &:before {
        @include position(absolute, 50%, 0);
        content: '';
        width: $wd;
        height: $ht;
        margin-top: $mt;
        background: $bg;
    }
}

//button
@mixin btn-com($dis:inline-block, $wd:null, $ht:22px, $pd:0, $fs:13px, $t-line:center, $fg:$fg-gray-01, $bor-w:1px, $bor-g:$bor-gray-05, $bg:#fff){
    box-sizing: border-box;
    display: $dis;
    width: $wd;
    height: $ht;
    padding: $pd;
    font-size: $fs;
    text-align: $t-line;
    color: $fg;
    line-height: $ht;
    border: $bor-w solid $bor-g;
    background: $bg;
}

//btn more
@mixin btn-more($position:absolute, $fs:14px, $fg:$fg-gray-05){
    .btn-more {
        @include position($position, 0, $right:0);
        display: inline-block;
        font-size: $fs;
        font-weight: 400;
        letter-spacing: 0;
        color: $fg;
    }
}

//slide btn control 
@mixin btn-controls($top:50%, $left:50%, $mt:-22px, $wd:null, $a-wd:23px, $a-ht:41px, $bx:0){
    .bx-controls {
        .bx-controls-direction {
            @include position(absolute, $top, $left);
            z-index: 51;
            margin-top: $mt;
            width: $wd;
            @include trasBase(0);
            a {
                @include position(absolute, 0);
                display: inline-block;
                width: $a-wd;
                height: $a-ht;
                img {

                }
                &.bx-prev {
                    left: $bx;
                }
                &.bx-next {
                    right: $bx;
                }
            }
        }
    }
    &:hover {
        .bx-controls {
            .bx-controls-direction {
                @include trasBase(1);
            }
        }
    }
}

//ico heart + cert 
@mixin icon-box($bt:20px, $wt:30px, $bor-g:$bor-gray-03, $bor-g-on:$bor-green-01, $bg-on:$bg-green-01){
    .ico-box {
        z-index: 7;
        @include position(absolute, $left:50%, $bottom:$bt);
        margin-left: -$wt;
        a {
            @include bx;
            overflow: hidden;
            display: inline-block;
            float: left;
            width: $wt;
            height: $wt;
            border: 1px solid $bor-g;
            @include trasBase(1, $bg:#fff);

            span {
                display: block;
                width: 100%;
                height: 100%;
                font-size: 0;
                text-indent: -999px;
                background: url(http://static.nurisoop.co.kr/img/renew/common/icon_btn_pd.png) no-repeat;
            }
            &.ico-heart {
                span {
                    background-position: 0 -42px;
                }
            }
            &.ico-cart {
                span {

                    background-position: 0 -1px;
                }
            }

            &:hover {
                border-color: $bor-g-on;
                @include trasBase(1, $bg:$bg-on);
                &.ico-heart {
                    span {
                        background-position: -42px -42px;
                    }
                }
                &.ico-cart {
                    span {

                        background-position: -42px -1px;
                    }
                }
            }
        }
    }
}

//time
@mixin timer($mg:40px auto 20px, $r-ml:24px, $p-ml:4px, $wd:30px, $ht:40px, $n-fs:20px, $t-fs:18px){
    .time-box {
        @include bx;
        @include clearfix;
        margin: $mg;
        display: inline-block;
        .row {
            @include bx;
            display: inline-block;
            float: left;
            margin-left: $r-ml;
            &:first-child {
                margin-left: 0;
            }
            p {
                display: inline-block;
                margin-left: $p-ml;
                height: $ht;
                &.sq {
                    width: $wd;
                    text-align: center;
                    background: url(http://static.nurisoop.co.kr/img/renew/common/img_sprites.png) no-repeat;
                    background-position: -140px 0;
                    span {
                        font-size: $n-fs;
                        font-weight: 500;
                        line-height: $ht;
                    }
                }
                &.time-txt {
                    font-size: $t-fs;
                    line-height: $ht;
                    font-weight: 500;
                    color: $fg-gray-04;
                }
            }
        }
    }
}

//상품리스트 
@mixin prd-list($wd:25%, $ht:300px, $t-ht:190px){
    .prd-area {
        @include bx;
        @include clearfix;

        .prd-list {
            @include bx;
            @include clearfix;
            margin: 0 -10px 0 -10px;
            li {
                @include bx;
                float: left;
                width: $wd;
                padding: 50px 10px 0;
                .prd-box {
                    @include bx;
                    .prd-link {
                        @include bx;
                        cursor: pointer;
                        width: 100%;
                        height: $ht;
                        .img-prd {
                            img {
                                @include position(absolute, 0, 0);
                                &.off {
                                }
                                &.on {
                                    @include trasBase(0);
                                }
                            }
                        }
                        @include icon-box;
                        .ico-box {
                            @include trasBase(0);
                        }

                        &:hover {
                            .sale-txt {
                                @include trasBase(1, $bg:$bg-black-01);
                            }
                            .img-prd {
                                img {
                                    &.on {
                                        @include trasBase(1, $time:0.8s, $ds:0.6);
                                    }
                                }
                            }
                            .ico-box {
                                @include trasBase(1, $time:0.7s, $ds:0.3s);
                            }
                        }
                    }

                    .txt-box {
                        @include bx;
                        height: $t-ht;
                        .prd-txt-box {
                            @include bx;
                            padding-bottom: 15px;
                            border-bottom: 1px solid $bor-gray-01;
                            .prd-tit {
                                padding: 15px 0;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 1.5;
                            }
                            .prd-txt {
                                @include bx;
                                @include clearfix;
                                span {
                                    @include bx;
                                    float: left;
                                    display: inline-block;
                                    font-weight: 300;
                                    line-height: 20px;
                                    letter-spacing: -0.2px;
                                    &.b-ingred {
                                        width: 20%;
                                        height: 20px;
                                        font-size: 14px;
                                        text-align: center;
                                        color: #fff;
                                        background: $bg-green-02;
                                    }
                                    &.t-ingred {
                                        width: 80%;
                                        padding: 0 20px 0 5px;
                                        font-size: 15px;
                                        color: $fg-gray-04;
                                        word-break: keep-all;
                            
                                        .ie8 & {
                                            letter-spacing: -0.7px;
                                        }
                                    }
                                }
                            }
                        }
                        .price-box {
                            padding-top: 17px;
                            span {
                                @include bx;
                                display: inline-block;
                                font-size: 15px;
                                &.txt-price {
                                    color: $fg-gray-04;
                                    @include line-row($mt:0, $bg:$fg-gray-04);
                                }
                                &.txt-sale {
                                    margin-left: 15px;
                                    font-weight: 500;
                                    color: $fg-red-02;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

//리뷰 
@mixin review-list($wd:25%, $ht:540px){
    .review-area {
        @include bx;
        @include clearfix;
        .review-list {
            @include bx;
            margin: 0 -10px 0 -10px;
            li {
                @include bx;
                float: left;
                width: $wd;
                padding: 50px 10px 0;
                .review-box {
                    @include bx;
                    cursor: pointer;
                    display: block;
                    height: $ht;
                    padding: 10px;
                    border: 1px solid transparent;
                    @include trasBase(1);

                    .img-review {
                        img {

                        }
                    }

                    .txt-box {
                        .rv-tit {
                            padding: 14px 0 8px;
                            font-size: 16px;
                        }

                        .rv-txt-box {
                            border-top: 1px solid $bor-gray-01;
                            border-bottom: 1px solid $bor-gray-01;
                            .rv-prd {
                                @include bx;
                                padding: 10px 0;
                                border-bottom: 1px solid $bor-gray-01;
                                .img-rv-prd {
                                    display: inline-block;
                                    width: 40px;
                                    height: 40px;
                                    background: url(http://static.nurisoop.co.kr/img/renew/review/bg_prd.png)no-repeat;
                                    background-size: cover;
                                    img {

                                    }   
                                }
                                .rv-prd-txt {
                                    padding-left: 8px;
                                    font-size: 14px;
                                    font-weight: 300;
                                    line-height: 40px;
                                    color: $fg-gray-04;
                                }
                            }
                        }

                        //리뷰내용
                        .rv-txt {
                            @include bx;
                            overflow: hidden;
                            display: block;
                            height: 63px;
                            margin: 13px 0 11px 0;
                            font-size: 15px;
                            line-height: 1.4;
                            font-weight: 300;
                            word-break: keep-all;
                            color: $fg-gray-06;
                            
                            .ie8 & {
                                letter-spacing: -0.7px;
                            }
                        }

                        //하단
                        .rv-bot {
                            @include bx;
                            @include clearfix;
                            padding-top: 15px;
                            p {
                                span {
                                    display: inline-block;
                                    font-size: 14px;
                                    line-height: 1;
                                    em {
                                        padding-left: 2px;
                                        color: #333;
                                        font-weight: 500;
                                    }
                                    &.rv-user {
                                        font-weight: 500;
                                    }

                                    &.rv-gd {
                                        font-weight: 400;
                                        color: $fg-gray-04;
                                    }

                                    &.rv-desc {
                                        margin-left: 13px;
                                        font-weight: 300;
                                        color: $fg-gray-06;
                                    }
                                }
                            }
                        }
                    }
                    &:hover {
                        border-color: $bor-black-01;
                        @include trasBase(1);
                    }
                }

            }
        }
    }
}
            
//weekly 상품 리스트 
@mixin wk-list($wd:50%, $ht:250px, $t-pd:0 39px 0 40px, $t-sub-pd:15px 0 25px, $wk-tit-fs:16px, $wk-txt-fs:15px, $price-fs:15px){
    .weekly-area {
        @include bx;
        @include clearfix;
        .wk-list {
            @include bx;
            @include clearfix;
            margin: 0 -10px 0 -10px;
            li {
                @include bx;
                float: left;
                width: $wd;
                padding: 20px 10px 0;
                .wk-box {
                    @include bx;
                    cursor: pointer;
                    display: table;
                    width: 100%;
                    height: $ht;
                    border: 1px solid $bor-gray-01;

                    .ico-heart-sel {
                        top : -1px;
                        left: -1px;
                    }

                    .img-box {
                        @include bx;
                        display: table-cell;
                        vertical-align: middle;
                        width: ($ht)-(1);
                        overflow: hidden;
                        &:before {
                            @include position(absolute, 0, $right:0);
                            content: '';
                            width: 1px;
                            height: 100%;
                            background: $bor-gray-01;
                        }
                        .img-prd {
                            @include position(absolute, 0, 0);
                            img {
                                @include position(absolute, 0, 0);
                                &.off {
                                }
                                &.on {
                                    @include trasBase(0);
                                }
                            }
                        }
                        @include icon-box;
                        .ico-box {
                            @include trasBase(0);
                        }
                    }

                    .txt-box {
                        @include bx;
                        display: table-cell;
                        vertical-align: middle;
                        text-align: left;
                        padding: $t-pd;
                        .wk-txt-box {
                            @include bx;
                            word-break: keep-all;
                            border-bottom: 1px solid $bor-gray-01;
                            .wk-tit {
                                font-size: $wk-tit-fs;
                            }
                            .wk-txt {
                                padding: $t-sub-pd;
                                font-size: $wk-txt-fs;
                                font-weight: 300;
                                color: $fg-gray-04;
                            }
                        }

                        .price-box {
                            @include bx;
                            @include clearfix;
                            padding-top: 18px;
                            span {
                                display: inline-block;
                                font-size: $price-fs;
                                letter-spacing: 0;

                                &.txt-price {
                                    color: $fg-gray-04;
                                }

                                &.txt-sale {
                                    float: right;
                                    color: #333;
                                }
                            }
                        }
                    }

                    &:hover {
                        border-color: $bor-black-01;
                        @include trasBase(1);
                        .sale-txt {
                            @include trasBase(1, $bg:$bg-black-01);
                        }
                        .img-prd {
                            img {
                                &.on {
                                    @include trasBase(1, $time:0.8s, $ds:0.6);
                                }
                            }
                        }
                        .ico-box {
                            @include trasBase(1, $time:0.7s, $ds:0.3s);
                        }
                    }
                }
            }
        }
    }
}


//bottom banner - 메인 / 서브
@mixin bot-bn-sec($ht:285px){
    /* bot banner */
    .bot-bn-sect {
        margin-top: 80px;
        background: url(http://static.nurisoop.co.kr/img/renew/main/bot_bn.png) no-repeat center;
        background-size: cover;
        .container {
            display: table !important;
            height: $ht;
            .bot-bn-box {
                display: table-cell;
                vertical-align: middle;
                text-align: left;
                color: #fff;
                
                .bn-tit {
                    letter-spacing: 0;
                    span {
                        font-size: 18px;
                        font-weight: 300;
                        word-spacing: 10px;
                        opacity: 0.5;
                        filter: alpha(opacity=50);
                    }
                    em {
                        display: block;
                        font-size: 32px;
                        opacity: 0.9;
                        filter: alpha(opacity=90);
                    }
                }
                .bn-txt {
                    padding: 22px 0 26px;
                    font-size: 22px;
                    font-weight: 300;
                    line-height: 1.2;
                    opacity: 0.5;
                    filter: alpha(opacity=50);
                }
                .btn-link {
                    @include btn-com($wd:100px, $ht:30px, $fs:16px, $fg:#302f3c, $bor-w:0, $bg:rgba(240, 240, 240, 0.7));
                    font-weight: 500;
                    @include trasBase(1);
                        
                    .ie8 & {
                        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#70f0f0f0,endColorstr=#70f0f0f0);
                    }
                    
                    &:hover {
                        @include trasBase(0.6);
                    }
                }
            }
        }
    }
}
