@charset "utf-8";
// --------------
// Scss변수
// --------------
// 주요 폰트 및 벌러
$font-stack: "NanumSquareRound", "Nanum Square", "NanumSquare", "Nanum Gothic", sans-serif;
$primary-color: #5c5c5c;
// 폰트
$font-nnGothic: "Nanum Gothic", Sans-serif;
// $font-nnSquare: "Nanum Square", "NanumSquare", Sans-serif;
// $font-nnrSquare: "NanumSquareRound", Sans-serif;

// 색상
$fg-menu-color: #48433f;


// 배경
$bg-table: #fdfbed;



//보더
$bor-sub-menu: #d8d8d8;

