@charset "utf-8";
// --------------
// Scss변수
// --------------
// 주요 폰트 및 벌러
$font-stack: "Noto Sans KR", "Nanum Gothic", sans-serif;
$primary-color: #333;
// 폰트
$font-dotum: "돋움", Sans-serif;
//$font-nnGothic: "Nanum Gothic", Sans-serif;

// width
$wd: 1260px;

// 색상
$fg-gray-01: #646464;
$fg-gray-02: #bbb;
$fg-gray-03: #999;
$fg-gray-04: #888;
$fg-gray-05: #878787; //btn more
$fg-gray-06: #666; 
$fg-gray-07: #bababa; //input placeholder
$fg-gray-09: #777;

$fg-green-01: #4caca2;
$fg-green-02: #01787c;

$fg-red-01: #d20000; //ft red
$fg-red-02: #dc0000; //상품 가격 세일 
$fg-red-03: #e8657e; // 배송안내 강조 텍스트

$fg-black: #333;

$fg-brown: #6c4832;

// 배경
$bg-black-01: #333;

$bg-gray-01: #ebebeb;
$bg-gray-02: #f0f0f0; //ft event하단, prd bg
$bg-gray-03: #b2b2b2;
$bg-gray-04: #e6e6e6; //오늘하루열지않음
$bg-gray-05: #999; // btn gray
$bg-gray-06: #888; // btn gray hover
$bg-gray-07: #dcdcdc;

$bg-green-01: #75b8b1; //btn green
$bg-green-02: #4caca2; //주요성분, btn green hover
    
$bg-red-01: #e8657e; // 공지사항 공지 배경


//보더
$bor-gray-01: #e6e6e6;
$bor-gray-02: #ebebeb;
$bor-gray-03: #dcdcdc;
$bor-gray-04: #999;
$bor-gray-05: #bebebe; //ft bank
$bor-gray-06: #f0f0f0;
$bor-gray-07: #646464;
$bor-gray-08: #eaeaea;
$bor-gray-09: #bbb;
$bor-gray-10: #ededed; //prd detail

$bor-black-01: #333;

$bor-green-01: #75b8b1;

$bor-red-01: #e8657e;

