@charset "utf-8";
// --------------
// Scss변수
// --------------
// 주요 폰트 및 벌러
$font-stack: "Noto Sans KR", "Nanum Gothic", sans-serif;
$primary-color: #333;
// 폰트
//$font-nnGothic: "Nanum Gothic", Sans-serif;

// width
$wd: 1260px;

// 색상
$fg-gray-01: #646464;
$fg-gray-02: #bbb;
$fg-gray-03: #999;
$fg-gray-04: #888;
$fg-gray-05: #878787; //btn more
$fg-gray-06: #666; 

$fg-green-01: #4caca2;

$fg-red-01: #d20000; //ft red
$fg-red-02: #dc0000; //상품 가격 세일 

// 배경
$bg-black-01: #333;

$bg-gray-01: #ebebeb;
$bg-gray-02: #f0f0f0; //ft event하단, prd bg
$bg-gray-03: #b2b2b2;

$bg-green-01: #75b8b1;
$bg-green-02: #4caca2; //주요성분



//보더
$bor-gray-01: #e6e6e6;
$bor-gray-02: #ebebeb;
$bor-gray-03: #dcdcdc;
$bor-gray-04: #999;
$bor-gray-05: #bebebe; //ft bank
$bor-gray-06: #f0f0f0;

$bor-black-01: #333;

$bor-green-01: #75b8b1;

