@charset "utf-8";

@import "../parts/common";
//detail
@import "../include/detail";


/* 콘텐츠 영역 */
.contents { 
    /* 상품 리스트 영역 */
    &.prd-list {
        padding: 0 0 112px;
        
        .container {
            .prd-area {
                @include bx;
                padding-top: 10px;
                .prd-list {
                    $wt:300px;
                    @include bx;
                    @include clearfix;
                    margin: 0 -10px;
                    > li {
                        @include bx;
                        float: left;
                        width: 50%;
                        padding: 0 10px 39px;
                        .prd-list-box {
                            @include bx;
                            @include clearfix;
                            z-index: 1;
                            display: block;
                            border: 1px solid $bor-gray-01;
                            @include trasBase(1);
                            
                            .prd-link {
                                @include bx;
                                float: left;
                                width: ($wt)-(1);
                                height: ($wt)-(2);
                                
                                @include txtDt(80px, 40px, 20px, $right:0);
                                
                                .img-prd {
                                    width: 100%;
                                    img {
                                        @include position(absolute, 0, 0);
                                        &.off {
                                        }
                                        &.on {
                                            @include trasBase(0);
                                        }
                                    }
                                    
                                    &:hover {
                                        img {
                                            &.on {
                                                @include trasBase(1, $time:0.8s, $ds:0.6);
                                            }
                                        }
                                    }
                                }
                            }
                            
                            .prd-txt-box {
                                @include bx;
                                float: right;
                                width: $wt;
                                padding: 38px 39px 0px 19px;
                                .prd-name-box {
                                    @include bx;
                                    padding-bottom: 22px;
                                    * {
                                        letter-spacing: -0px;
                                    }
                                    .prd-info-txt, .prd-gift-txt {
                                        display: block;
                                        font-size: 15px;
                                        font-weight: 300;
                                    }
                                    .prd-info-txt {
                                        color: $fg-gray-04;
                                        i {
                                            font-style: italic;
                                        }
                                    }
                                    .prd-name-txt {
                                        display: block;
                                        min-height: 44px;
                                        padding: 14px 0 15px;
                                        font-size: 17px;
                                        line-height: 1.4;
                                        &:hover {
                                            @include trasBase;
                                        }
                                    }
                                }
                                .prd-price-box {
                                    $top:20px;
                                    @include bx;
                                    padding-top: $top;
                                    border-top: 1px solid $bor-gray-01;
                                    .sale-txt {
                                        top: $top;
                                        right: auto;
                                        left: 0;
                                    }
                                    .prd-price {
                                        padding-left: 54px;
                                        line-height: 0;
                                        span {
                                            @include bx;
                                            display: block;
                                            font-size: 15px;
                                            line-height: 1;
                                            letter-spacing: 0;
                                            &.txt-price {
                                                display: inline-block;
                                                color: $fg-gray-04;
                                                @include line-row($mt:0, $bg:$fg-gray-04);
                                            }
                                            &.txt-sale {
                                                margin-top: 9px;
                                                font-size: 20px;
                                                font-weight: 500;
                                                color: $fg-black;
                                            }
                                        }
                                    }
                                    
                                    .btn-cart {
                                        z-index: 3;
                                        @include position(absolute, 16px, $right:0);
                                        background: none;
                                        span {
                                            display: inline-block;
                                            width: 50px;
                                            height: 50px;
                                            font-size: 0;
                                            vertical-align: middle;
                                            text-indent: -999px;
                                            background: url(http://static.nurisoop.co.kr/img/renew/common/img_sprites.png) no-repeat;
                                            background-position: -140px -121px;
                                        }
                                        &:hover {
                                            @include trasBase;
                                        }
                                    }
                                }
                            }

                            &:hover {
                                border-color: $bor-black-01;
                                @include trasBase(1);
                                .prd-txt-box {
                                    .sale-txt {
                                        @include trasBase(1, $bg:$bg-black-01);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}