@@include('../include/_head.html', {
	"page": "main"
})

<body class="page-main">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="contents">
        <div class="main-visual">
            <ul id="mainVisual" class="main-visual-list">
                <li class="slide slide-1"><a href="#none"><img src="http://static.nurisoop.co.kr/img/renew/main/bn_01.jpg" alt="배너"></a></li>
                <li class="slide slide-2"><a href="#none"><img src="http://static.nurisoop.co.kr/img/renew/main/bn_02.jpg" alt="배너"></a></li>
                <li class="slide slide-3"><a href="#none"><img src="http://static.nurisoop.co.kr/img/renew/main/bn_03.jpg" alt="배너"></a></li>
                <li class="slide slide-4"><a href="#none"><img src="http://static.nurisoop.co.kr/img/renew/main/bn_04.jpg" alt="배너"></a></li>
                <li class="slide slide-5"><a href="#none"><img src="http://static.nurisoop.co.kr/img/renew/main/bn_05.jpg" alt="배너"></a></li>
            </ul>
            <div class="pager-box">
                <!-- 배너 이미지 바뀌면 텍스트도 수정해야함 -->
                <ul id="viualPager" class="pager-list">
                    <li class="nth-1"><a href="#none" data-slide-index="0">누리촉촉 밸런스 리뉴얼</a></li>
                    <li class="nth-2"><a href="#none" data-slide-index="1">홈페이지 리뉴얼 기념 할인</a></li>
                    <li class="nth-3"><a href="#none" data-slide-index="2">1+1 위클리 이벤트</a></li>
                    <li class="nth-4"><a href="#none" data-slide-index="3">친구와 함께 예뻐지자!</a></li>
                    <li class="nth-5"><a href="#none" data-slide-index="4">후기쓰고 적립금 받자!</a></li>
                </ul>
            </div>
        </div>
        
        <!-- banner 3 -->
        <div class="top-bn-sect">
            <div class="container">
                <a href="#none" class="row fir">
                    <figure class="img"><img src="http://static.nurisoop.co.kr/img/renew/main/img_top_review.png" alt="제품 리얼 리뷰"></figure>
                    <div class="txt-box">
                        <p class="top-tit">제품 리얼 리뷰</p>
                        <p class="top-txt">솔직한 후기를 남겨주시고<br>적립금 받아가세요.</p>
                    </div>
                </a>
                <a href="#none" class="row mid">
                    <figure class="img"><img src="http://static.nurisoop.co.kr/img/renew/main/img_top_membership.png" alt="누리숲 멤버십"></figure>
                    <div class="txt-box">
                        <p class="top-tit">누리숲 멤버십</p>
                        <p class="top-txt">누리숲 회원만을 위한 혜택과<br>사은품을 확인하세요.</p>
                    </div>
                </a>
                <a href="#none" class="row lst">
                    <figure class="img"><img src="http://static.nurisoop.co.kr/img/renew/main/img_top_free.png" alt="무료샘플 신청"></figure>
                    <div class="txt-box">
                        <p class="top-tit">무료샘플 신청</p>
                        <p class="top-txt">써보고 결정하세요.<br>회원가입 후 무료샘플 신청가능.</p>
                    </div>
                </a>
            </div>
        </div>
        
        <!-- 상품들 -->
        <div class="prd-sect">
            <div class="container">
                <div class="tab-box">
                    <ul class="tab-list">
                        <li class="nth-1 on"><a href="#prdBest">BEST 인기</a></li>
                        <li class="nth-2"><a href="#prdNew">NEW 신상</a></li>
                        <li class="nth-3"><a href="#prdSale">SET 할인</a></li>
                        <li class="nth-4"><a href="#prdPick">시즌 PICK</a></li>
                    </ul>
                </div>
                
                <!-- BEST 인기 -->
                <div id="prdBest" class="prd-area" style="display: block;">
                    <ul class="prd-list">
                        <li class="nth-1">
                            <div class="prd-box" onclick="">
                                <!-- 찜(하트)을 클릭하면 상단에 위치하게 되는 태그 / 찜 재클릭하면 사라짐 -->
                                <span class="ico-heart-sel"></span>

                                <span class="sale-txt">15%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/formcleanser.png" alt="포레스트 녹삼초 폼클렌저">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">포레스트 녹삼초 폼클렌저</p>
                                        <p class="prd-price">10,000원</p>
                                        <p class="prd-sale">8,500원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-2">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">15%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/formcleanser.png" alt="포레스트 녹삼초 폼클렌저">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">포레스트 녹삼초 폼클렌저</p>
                                        <p class="prd-price">10,000원</p>
                                        <p class="prd-sale">8,500원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-3">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">15%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/formcleanser.png" alt="포레스트 녹삼초 폼클렌저">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">포레스트 녹삼초 폼클렌저</p>
                                        <p class="prd-price">10,000원</p>
                                        <p class="prd-sale">8,500원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-4">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">15%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/formcleanser.png" alt="포레스트 녹삼초 폼클렌저">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">포레스트 녹삼초 폼클렌저</p>
                                        <p class="prd-price">10,000원</p>
                                        <p class="prd-sale">8,500원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-5">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">15%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/formcleanser.png" alt="포레스트 녹삼초 폼클렌저">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">포레스트 녹삼초 폼클렌저</p>
                                        <p class="prd-price">10,000원</p>
                                        <p class="prd-sale">8,500원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-6">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">15%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/formcleanser.png" alt="포레스트 녹삼초 폼클렌저">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">포레스트 녹삼초 폼클렌저</p>
                                        <p class="prd-price">10,000원</p>
                                        <p class="prd-sale">8,500원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-7">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">15%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/formcleanser.png" alt="포레스트 녹삼초 폼클렌저">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">포레스트 녹삼초 폼클렌저</p>
                                        <p class="prd-price">10,000원</p>
                                        <p class="prd-sale">8,500원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-8">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">15%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/formcleanser.png" alt="포레스트 녹삼초 폼클렌저">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">포레스트 녹삼초 폼클렌저</p>
                                        <p class="prd-price">10,000원</p>
                                        <p class="prd-sale">8,500원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <!-- NEW 신상 -->
                <div id="prdNew" class="prd-area" style="display: none;">
                    <ul class="prd-list">
                        <li class="nth-1">
                            <div class="prd-box" onclick="">
                                <!-- 찜(하트)을 클릭하면 상단에 위치하게 되는 태그 / 찜 재클릭하면 사라짐 -->
                                <span class="ico-heart-sel"></span>

                                <span class="sale-txt">45%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/bb.png" alt="톤업 워너 비비크림">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">톤업 워너 비비크림</p>
                                        <p class="prd-price">16,000원</p>
                                        <p class="prd-sale">8,800원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-2">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">45%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/bb.png" alt="톤업 워너 비비크림">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">톤업 워너 비비크림</p>
                                        <p class="prd-price">16,000원</p>
                                        <p class="prd-sale">8,800원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-3">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">45%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/bb.png" alt="톤업 워너 비비크림">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">톤업 워너 비비크림</p>
                                        <p class="prd-price">16,000원</p>
                                        <p class="prd-sale">8,800원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-4">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">45%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/bb.png" alt="톤업 워너 비비크림">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">톤업 워너 비비크림</p>
                                        <p class="prd-price">16,000원</p>
                                        <p class="prd-sale">8,800원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-5">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">45%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/bb.png" alt="톤업 워너 비비크림">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">톤업 워너 비비크림</p>
                                        <p class="prd-price">16,000원</p>
                                        <p class="prd-sale">8,800원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-6">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">45%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/bb.png" alt="톤업 워너 비비크림">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">톤업 워너 비비크림</p>
                                        <p class="prd-price">16,000원</p>
                                        <p class="prd-sale">8,800원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-7">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">45%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/bb.png" alt="톤업 워너 비비크림">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">톤업 워너 비비크림</p>
                                        <p class="prd-price">16,000원</p>
                                        <p class="prd-sale">8,800원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-8">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">45%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/bb.png" alt="톤업 워너 비비크림">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">톤업 워너 비비크림</p>
                                        <p class="prd-price">16,000원</p>
                                        <p class="prd-sale">8,800원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <!-- SET 할인 -->
                <div id="prdSale" class="prd-area" style="display: none;">
                    <ul class="prd-list">
                        <li class="nth-1">
                            <div class="prd-box" onclick="">
                                <!-- 찜(하트)을 클릭하면 상단에 위치하게 되는 태그 / 찜 재클릭하면 사라짐 -->
                                <span class="ico-heart-sel"></span>

                                <span class="sale-txt">53%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/nuriberry_emulsion.png" alt="누리베리 아로니아 로션 1+1">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">누리베리 아로니아 로션 1+1</p>
                                        <p class="prd-price">36,000원</p>
                                        <p class="prd-sale">16,900원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-2">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">53%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/nuriberry_emulsion.png" alt="누리베리 아로니아 로션 1+1">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">누리베리 아로니아 로션 1+1</p>
                                        <p class="prd-price">36,000원</p>
                                        <p class="prd-sale">16,900원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-3">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">53%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/nuriberry_emulsion.png" alt="누리베리 아로니아 로션 1+1">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">누리베리 아로니아 로션 1+1</p>
                                        <p class="prd-price">36,000원</p>
                                        <p class="prd-sale">16,900원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-4">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">53%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/nuriberry_emulsion.png" alt="누리베리 아로니아 로션 1+1">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">누리베리 아로니아 로션 1+1</p>
                                        <p class="prd-price">36,000원</p>
                                        <p class="prd-sale">16,900원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-5">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">53%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/nuriberry_emulsion.png" alt="누리베리 아로니아 로션 1+1">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">누리베리 아로니아 로션 1+1</p>
                                        <p class="prd-price">36,000원</p>
                                        <p class="prd-sale">16,900원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-6">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">53%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/nuriberry_emulsion.png" alt="누리베리 아로니아 로션 1+1">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">누리베리 아로니아 로션 1+1</p>
                                        <p class="prd-price">36,000원</p>
                                        <p class="prd-sale">16,900원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-7">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">53%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/nuriberry_emulsion.png" alt="누리베리 아로니아 로션 1+1">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">누리베리 아로니아 로션 1+1</p>
                                        <p class="prd-price">36,000원</p>
                                        <p class="prd-sale">16,900원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-8">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">53%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/nuriberry_emulsion.png" alt="누리베리 아로니아 로션 1+1">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">누리베리 아로니아 로션 1+1</p>
                                        <p class="prd-price">36,000원</p>
                                        <p class="prd-sale">16,900원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <!-- 시즌 PICK -->
                <div id="prdPick" class="prd-area" style="display: none;">
                    <ul class="prd-list">
                        <li class="nth-1">
                            <div class="prd-box" onclick="">
                                <!-- 찜(하트)을 클릭하면 상단에 위치하게 되는 태그 / 찜 재클릭하면 사라짐 -->
                                <span class="ico-heart-sel"></span>

                                <span class="sale-txt">53%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/repair_skin.png" alt="포레스트 리페어 스킨">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">포레스트 리페어 스킨</p>
                                        <p class="prd-price">36,000원</p>
                                        <p class="prd-sale">16,900원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-2">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">53%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/repair_skin.png" alt="포레스트 리페어 스킨">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">포레스트 리페어 스킨</p>
                                        <p class="prd-price">36,000원</p>
                                        <p class="prd-sale">16,900원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-3">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">53%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/repair_skin.png" alt="포레스트 리페어 스킨">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">포레스트 리페어 스킨</p>
                                        <p class="prd-price">36,000원</p>
                                        <p class="prd-sale">16,900원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-4">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">53%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/repair_skin.png" alt="포레스트 리페어 스킨">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">포레스트 리페어 스킨</p>
                                        <p class="prd-price">36,000원</p>
                                        <p class="prd-sale">16,900원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-5">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">53%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/repair_skin.png" alt="포레스트 리페어 스킨">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">포레스트 리페어 스킨</p>
                                        <p class="prd-price">36,000원</p>
                                        <p class="prd-sale">16,900원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-6">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">53%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/repair_skin.png" alt="포레스트 리페어 스킨">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">포레스트 리페어 스킨</p>
                                        <p class="prd-price">36,000원</p>
                                        <p class="prd-sale">16,900원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-7">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">53%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/repair_skin.png" alt="포레스트 리페어 스킨">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">포레스트 리페어 스킨</p>
                                        <p class="prd-price">36,000원</p>
                                        <p class="prd-sale">16,900원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-8">
                            <div class="prd-box" onclick="">
                                <span class="sale-txt">53%</span>

                                <figure class="img-prd">
                                    <img src="http://static.nurisoop.co.kr/img/renew/prd/repair_skin.png" alt="포레스트 리페어 스킨">
                                </figure>

                                <div class="hover-box">
                                    <div class="txt-box">
                                        <p class="prd-tit">포레스트 리페어 스킨</p>
                                        <p class="prd-price">36,000원</p>
                                        <p class="prd-sale">16,900원</p>
                                    </div>

                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <!-- mid img banner -->
        <div class="mid-bn-sect">
            <div class="container">
                <div class="mid-slide fl-left">
                    <ul id="midSilde" class="mid-slide-list">
                        <li class="slide-1">
                            <a href="#none" class="slide-box">
                                <div class="txt-box">
                                    <p class="slide-tit">01.히알루론산 성분 함유, 산뜻한 사용감<br>누리촉촉 라인</p>
                                    <p class="slide-txt">누리촉촉 원터밸런스 스킨 + 마스크팩 + 수딩크림</p>
                                </div>
                            </a>
                        </li>
                        <li class="slide-2">
                            <a href="#none" class="slide-box">
                                <div class="txt-box">
                                    <p class="slide-tit">02.히알루론산 성분 함유, 산뜻한 사용감<br>누리촉촉 라인</p>
                                    <p class="slide-txt">누리촉촉 원터밸런스 스킨 + 마스크팩 + 수딩크림</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mid-img-box fl-right">
                    <div class="img-top-box">
                        <a href="#none" class="row fl-left">
                            <img src="http://static.nurisoop.co.kr/img/renew/main/img_mid_01.jpg" alt="필링젤">
                        </a>
                        <a href="#none" class="row fl-right">
                            <img src="http://static.nurisoop.co.kr/img/renew/main/img_mid_02.jpg" alt="propolis">
                        </a>
                    </div>
                    <a href="#none" class="img-bot-box">
                        <img src="http://static.nurisoop.co.kr/img/renew/main/img_mid_03.jpg" alt="올리브">
                    </a>
                </div>
            </div>
        </div>
        
        <!-- 리얼 베스트 후기 -->
        <div class="review-sect">
            <div class="container">
                <h2 class="main-tit">리얼 베스트 후기 <a href="#none" class="btn-more">more +</a></h2>
                
                <!-- review area -->
                <div class="review-area">
                    <ul class="review-list">
                        <li class="nth-1">
                            <div class="review-box" onclick="">
                                <figure class="img-review">
                                    <img src="http://static.nurisoop.co.kr/img/renew/review/img_review_01.jpg" alt="이미지">
                                </figure>

                                <div class="txt-box">
                                    <p class="rv-tit">좋아좋아요♥</p>
                                    <p class="rv-prd">
                                        <span class="img-rv-prd"><img src="http://static.nurisoop.co.kr/img/renew/prd/formcleanser.png" alt="포레스트 녹삼초 폼클렌저"></span>
                                        <span class="rv-prd-txt">누리촉촉 딥 수딩크림</span>
                                    </p>
                                    <p class="rv-txt">
                                        사계절 내내 빼놓지 않고 사용하는 수딩크림 이에요! 산 지 얼마 안된 것 같은데 벌써 바닥을 드러내고 있어서 또 다시...
                                    </p>
                                    <div class="rv-bot">
                                        <p class="fl-left"><span class="rv-user">ste**</span></p>
                                        <p class="fl-right">
                                            <span class="rv-gd">평점<em>5.0</em></span>
                                            <span class="rv-desc">댓글<em>1</em></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-2">
                            <div class="review-box" onclick="">
                                <figure class="img-review">
                                    <img src="http://static.nurisoop.co.kr/img/renew/review/img_review_02.jpg" alt="이미지">
                                </figure>

                                <div class="txt-box">
                                    <p class="rv-tit">믿고 쓰는 리페어 로션:)</p>
                                    <p class="rv-prd">
                                        <span class="img-rv-prd"><img src="http://static.nurisoop.co.kr/img/renew/prd/repair_skin.png" alt="포레스트 리페어"></span>
                                        <span class="rv-prd-txt">포레스트 리페어 로션</span>
                                    </p>
                                    <p class="rv-txt">
                                        매번 포레스트 스킨로션 세트를 구입하는데 로션이 똑 떨어져버려서 포레스트 로션 단품만 구입했어요! 겨울에는 건성 피부...
                                    </p>
                                    <div class="rv-bot">
                                        <p class="fl-left"><span class="rv-user">ste**</span></p>
                                        <p class="fl-right">
                                            <span class="rv-gd">평점<em>5.0</em></span>
                                            <span class="rv-desc">댓글<em>1</em></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-3">
                            <div class="review-box" onclick="">
                                <figure class="img-review">
                                    <img src="http://static.nurisoop.co.kr/img/renew/review/img_review_03.jpg" alt="이미지">
                                </figure>

                                <div class="txt-box">
                                    <p class="rv-tit">지성피부에 딱맞는 폼클렌저</p>
                                    <p class="rv-prd">
                                        <span class="img-rv-prd"><img src="http://static.nurisoop.co.kr/img/renew/prd/formcleanser.png" alt="포레스트 녹삼초 폼클렌저"></span>
                                        <span class="rv-prd-txt">포레스트 녹삼초 폼클렌저</span>
                                    </p>
                                    <p class="rv-txt">
                                        6년째 사용 중인 기본 폼클렌저입니다 정말 예민하고 트러블 자주 있던 제 피부를 누리숲 녹삼초 폼클렌저 광고로 처음 6년전에...
                                    </p>
                                    <div class="rv-bot">
                                        <p class="fl-left"><span class="rv-user">지금**</span></p>
                                        <p class="fl-right">
                                            <span class="rv-gd">평점<em>5.0</em></span>
                                            <span class="rv-desc">댓글<em>1</em></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nth-4">
                            <div class="review-box" onclick="">
                                <figure class="img-review">
                                    <img src="http://static.nurisoop.co.kr/img/renew/review/img_review_04.jpg" alt="이미지">
                                </figure>

                                <div class="txt-box">
                                    <p class="rv-tit">이벤트하길 기다렸어요^^</p>
                                    <p class="rv-prd">
                                        <span class="img-rv-prd"><img src="http://static.nurisoop.co.kr/img/renew/prd/formcleanser.png" alt="포레스트 녹삼초 폼클렌저"></span>
                                        <span class="rv-prd-txt">대나무숲 효모에센스</span>
                                    </p>
                                    <p class="rv-txt">
                                        전에 샘플써보고 너무졸아서 원쁠원 이벤트 기다렸다 바로 구매했어요ㅎㅎㅎ 이미 로션이랑 크림은 구매해서 쓰고 있었...
                                    </p>
                                    <div class="rv-bot">
                                        <p class="fl-left"><span class="rv-user">takt****</span></p>
                                        <p class="fl-right">
                                            <span class="rv-gd">평점<em>5.0</em></span>
                                            <span class="rv-desc">댓글<em>1</em></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <!-- BEST SELLERS -->
        <div class="seller-sect">
            <div class="container">
                <h2 class="main-tit">BEST SELLERS <a href="#none" class="btn-more">more +</a></h2>
                
                <!-- prd-area -->
                <div class="prd-area">
                    <ul class="prd-list">
                        <li class="nth-1">
                            <div class="prd-box">
                                <!-- 찜(하트)을 클릭하면 상단에 위치하게 되는 태그 / 찜 재클릭하면 사라짐 -->
                                <span class="ico-heart-sel"></span>
                                
                                <a href="#none" class="prd-link">
                                    <span class="sale-txt">45%</span>
                                    
                                    <figure class="img-prd">
                                        <img src="http://static.nurisoop.co.kr/img/renew/prd/bb.png" class="off" alt="톤업 워너 비비크림">
                                        <img src="http://static.nurisoop.co.kr/img/renew/prd/bb_on.png" class="on" alt="톤업 워너 비비크림">
                                    </figure>
                                    
                                    <div class="ico-box">
                                        <a href="#none" class="ico-heart"><span>찜</span></a>
                                        <a href="#none" class="ico-cart"><span>장바구니</span></a>
                                    </div>
                                </a>
                                
                                <div class="prd-txt-box">
                                    텍스트으으
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <!-- WEEKLY 1+1 -->
        <div class="weekly-sect">
            <div class="container">
                <h2 class="main-tit">WEEKLY 1+1 <a href="#none" class="btn-more">more +</a></h2>
            </div>
        </div>
	</div>

	@@include('../include/_footer.html') 
</div>

</body>
</html>