@@include('../include/_head.html', {
	"page": "member"
})

<body class="page-member">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="contents login">
        <div class="top-sect">
            <div class="container">
                <h2 class="sub-tit">로그인</h2>
                <p class="sub-txt">로그인을 하시면 누리숲의 다양한 정보와 혜택을 누리실 수 있습니다.</p>
            </div>
        </div>
	
	    <div class="login-sect login-buy">
	        <div class="container">
	            <div class="row sns-login">
	                <h3 class="login-tit">간편 로그인</h3>
	                <ul class="sns-link">
	                    <li class="naver">
	                        <a href="#none" class="btn-link"><span></span>네이버 아이디로 로그인</a>
	                    </li>
	                    <li class="kakao">
	                        <a href="#none" class="btn-link"><span></span>카카오톡 아이디로 로그인</a>
	                    </li>
	                    <li class="facebook">
	                        <a href="#none" class="btn-link"><span></span>페이스북 아이디로 로그인</a>
	                    </li>
	                    <li class="google">
	                        <a href="#none" class="btn-link"><span></span>구글 아이디로 로그인</a>
	                    </li>
	                </ul>
	                <ul class="login-info-list">
	                    <li class="t-ast">내 소셜 아이디로 간편하게 가입과 로그인이 가능합니다.</li>
	                    <li class="t-ast fc-red">신규가입 시 5,000원 상당의 쿠폰 증정</li>
	                    <li class="t-ast fc-red">회원등급별 적립 다양한 사은품 및 회원쿠폰 발급</li>
	                    <li class="t-ast">로그인/회원 가입 시 이용약관, 개인정보취급방침에 동의하게 됩니다.</li>
	                </ul>
	            </div>
	            <div class="row member-login">
	                <h3 class="login-tit">누리숲 기존 회원 로그인</h3>
	                <div class="login-area">
                        <!-- 회원 로그인 -->
                        <div class="login-box member" style="display: block;">
                            <p class="p-row"><input type="text" id="id" class="ip-txt" placeholder="아이디" value=""></p>
                            <p class="p-row"><input type="password" id="pw" class="ip-txt" placeholder="비밀번호" value=""></p>
                            <p class="p-row"><a href="#none" class="btn-login">로그인</a></p>
                        </div>

                        <div class="login-txt-box">
                            <label class="chk-txt"><input type="checkbox" name="email" class="ip-chk"><span class="btn-chk"></span>로그인 상태 유지</label>
                            <p class="txt-lock"><span></span>보안접속</p>
                            <!-- 비회원으로 구매 -->
                            <div class="btn-box">
                                <a href="../order/index_02.html" class="btn-buy">비회원으로 구매</a>
                                <p class="non-info-txt">
                                    비회원 구매 시, 적립 및 쿠폰적용 등<br>
                                    다양한 혜택을 받으실 수 없습니다.
                                </p>
                            </div>
                        </div>
	                </div>
	                <div class="login-btn-box">
	                    <ul class="login-link-list">
	                        <li><a href="./find_id_01.html">아이디찾기</a></li>
	                        <li><a href="./find_pw_00.html">비밀번호찾기</a></li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	    </div>
	</div> 
	
	@@include('../include/_footer.html') 
</div>

</body>
</html>