@@include('../include/_head.html', {
	"page": "member"
})

<body class="page-member">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="contents mypage">
        <!-- navi -->
        <div class="lnb-sect">
            <div class="container">
                <div class="lnb-box">
                    <a href="../main/index.html" class="btn-link">홈</a>
                    <span class="txt">></span>
                    <a href="./maypage_list.html" class="btn-link">마이페이지</a>
                    <span class="txt">></span>
                    <a href="./maypage_qna.html" class="btn-link">상품 QnA</a>
                </div>
            </div>
        </div>
        
        <div class="top-sect">
            <div class="container">
                <h2 class="sub-tit">상품 QnA</h2>
                <p class="sub-txt">고객님의 문의사항을 신속하고 정확하게 해결해 드리겠습니다.</p>
            </div>
        </div>
        
        <!-- 마이페이지 서브메뉴 -->
	    @@include('../include/mypage/_lnb.html')
	
	    <div class="mypage-sect board view">
	        <div class="container">
                <div class="view-area">
                    <!-- 제목 -->
                    <div class="top-box">
                        <h3 class="view-tit">누리촉촉 워터밸런스 제품 문의</h3>
                        <div class="view-num-box">
                            <p class="view-num">
                                <span class="num-tit">작성자 :</span>
                                <span class="num-txt">누리숲</span>
                            </p>
                            <p class="view-num">
                                <span class="num-tit">작성일 :</span>
                                <span class="num-txt">2019.05.10</span>
                            </p>
                        </div>
                        <div class="view-num-box">
                            <p class="view-num">
                                <span class="num-tit">분류 :</span>
                                <span class="num-txt">상품정보문의</span>
                            </p>
                        </div>
                        <div class="view-num-box">
                            <p class="view-num">
                                <span class="num-tit">주문번호 :</span>
                                <span class="num-txt">20190521-46515642</span>
                            </p>
                        </div>
                        <div class="view-num-box">
                            <p class="view-num">
                                <span class="num-tit">이메일 :</span>
                                <span class="num-txt">abcdefgh12345@hanmail.net</span>
                            </p>
                            <p class="view-num">
                                <span class="num-tit">SMS :</span>
                                <span class="num-txt">010-0000-0000</span>
                            </p>
                        </div>
                    </div>
                    
                    <!-- 내용 -->
                    <div class="view-box">
                        <p class="txt">
                            문의합니다.  문의합니다.   문의합니다.  문의합니다.  문의합니다.  문의합니다.<br>
                            문의합니다.  문의합니다.   문의합니다.  문의합니다.  문의합니다.  문의합니다.<br>
                            문의합니다.  문의합니다.   문의합니다.  문의합니다.  문의합니다.  문의합니다.<br>
                            문의합니다.  문의합니다.   문의합니다.  문의합니다.  문의합니다.  문의합니다.
                        </p>
                    </div>
                    
                    <!-- 답변이 있을 경우 -->
                    <!--<div class="answer-box">
                        <div class="answer-top">
                            <span class="mmg-name">누리숲</span>
                            <span class="date">2019.05.09</span>
                        </div>
                        <p class="txt">
                            안녕하세요. <br>
                            숲이들려주는 피부이야기, 누리숲입니다.<br>
                            <br>
                            고객님, 문의주신 내용에 대한 답변 드립니다.<br>
                            <br>
                            누리촉촉 워터밸런스 스킨은 화학방부를 최소화하고 천연방부로 만든 순한 화장품으로 공인기관 임상실험을 통해 여드름피부 적합성 평가를 통과한 제품인만큼<br>
                            10대부터 전연령대 사용가능하답니다.  가벼운 사용감과 오일프리 물스킨 타입으로, 7스킨법이나 스킨팩용도로 사용하시기에도 적합한 제품이랍니다.<br>
                            <br>
                            예쁜 피부 가꾸시고 또 찾아주세요.<br>
                            <br>
                            누리숲은 고객님의 건강하고 아름다운 피부를 위해 더욱 노력하겠습니다.<br>
                            <br>
                            감사합니다.
                        </p>
                    </div>-->
                </div>

                <!-- 버튼 -->
                <div class="btn-area">
                    <div class="btn-box">
                        <a href="../member/maypage_qna.html" class="btn-list">목록</a>
                        <a href="#none" class="btn-del">삭제</a>
                    </div>
                </div>
	        </div>
	    </div>
	</div> 
   
	@@include('../include/_footer.html') 
</div>

</body>
</html>