@@include('../include/_head.html', {
	"page": "member"
})

<body class="page-member">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="contents membership">
        <div class="top-sect">
            <div class="container">
                <h2 class="sub-tit">회원혜택</h2>
                <p class="sub-txt">
                    누리숲 회원가입 하시고 다양한 혜택 받아가세요.<br>
                    회원등급은 배송완료 주문건 누적 결제 금액 기준으로 매일 자정 변경됩니다.
                </p>
        
                <h3 class="sub-tit-box">
                    <p class="sub-txt">NURISOOP MEMBERSHIP BENEFIT</p>
                    <p class="sub-tit">
                        <span class="img"><img src="http://static.nurisoop.co.kr/img/renew/member/tit_membership.png" alt="누리숲"></span><span>회원혜택 안내</span>
                    </p>
                </h3>
            </div>
        </div>
	
	    <div class="newmb-sect">
            <div class="container">
                <h4 class="sect-tit-box">
                    <p class="sub-txt">BENEFIT  01</p>
                    <p class="sub-tit">회원가입 혜택</p>
                </h4>
                
                <ul class="new-list">
                    <li class="nth-1">
                        <div class="txt-box">
                            <p class="new-tit">2,500원 할인쿠폰 지급</p>
                            <p class="new-txt">* 화장소품류 및 이벤트 상품<br>사용불가</p>
                        </div>
                    </li>
                    <li class="nth-2">
                        <div class="txt-box">
                            <p class="new-txt">모든 구매고객께</p>
                            <p class="new-tit">무료 샘플 증정</p>
                        </div>
                    </li>
                    <li class="nth-3">
                        <div class="txt-box">
                            <p class="new-txt">2만원 이상 구매시</p>
                            <p class="new-tit">무료배송 서비스</p>
                        </div>
                    </li>
                    <li class="nth-4">
                        <div class="txt-box">
                            <p class="new-txt">결제금액에 따른</p>
                            <p class="new-tit">다양한 사은품 증정</p>
                        </div>
                    </li>
                    <li class="nth-5">
                        <div class="txt-box">
                            <p class="new-txt">제품 사용 후기 작성시</p>
                            <p class="new-tit">적립금 지급</p>
                        </div>
                    </li>
                    <li class="nth-6">
                        <div class="txt-box">
                            <p class="new-txt">모든 구매 고객</p>
                            <p class="new-tit">적립금 및 할인 혜택</p>
                        </div>
                    </li>
                </ul>
            </div>
	    </div>
	
	    <div class="mbship-sect">
            <div class="container">
                <h4 class="sect-tit-box">
                    <p class="sub-txt">BENEFIT  02</p>
                    <p class="sub-tit">회원등급별 혜택</p>
                </h4>
                
                <div class="tbl-col">
                    <table class="tbl">
                        <colgroup>
                            <col style="width: 139px">
                            <col style="width: 140px">
                            <col style="width: 140px">
                            <col style="width: 140px">
                            <col style="width: 140px">
                            <col style="width: 140px">
                            <col style="width: 140px">
                            <col style="width: 140px">
                            <col style="width: 140px">
                        </colgroup>
                        <thead class="white">
                            <tr> 
                                <th class="bnk"><span class="line"></span></th>
                                <th scope="col" class="grd-01"><p class="ship-txt">WELCOME</p></th>
                                <th scope="col" class="grd-02"><p class="ship-txt">새싹</p></th>
                                <th scope="col" class="grd-03"><p class="ship-txt">잎새</p></th>
                                <th scope="col" class="grd-04"><p class="ship-txt">꽃잎</p></th>
                                <th scope="col" class="grd-05"><p class="ship-txt">열매</p></th>
                                <th scope="col" class="grd-06"><p class="ship-txt">나무</p></th>
                                <th scope="col" class="grd-07"><p class="ship-txt">숲</p></th>
                                <th scope="col" class="grd-08"><p class="ship-txt">숲매니아</p></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tr-grd-info">
                                <th scope="row"><em class="fg-grn">등급평가기준</em><span>(구매 실적 누적)</span></th>
                                <td>신규회원<br>~ 10만원 미만</td>
                                <td>10만원<br>~ 40만원 미만</td>
                                <td>40만원<br>~ 70만원 미만</td>
                                <td>70만원<br>~ 100만원 미만</td>
                                <td>100만원<br>~ 150만원 미만</td>
                                <td>150만원<br>~ 200만원 미만</td>
                                <td>200만원<br>~ 300만원 미만</td>
                                <td>300만원<br>~ 500만원 미만</td>
                            </tr>
                            <tr class="tr-cp-saving">
                                <th scope="row"><em class="fg-grn">구매 적립금</em><span>(1년 미사용 시<br>자동소멸)</span></th>
                                <td><img src="http://static.nurisoop.co.kr/img/renew/member/img_coupon_saving_01.png" alt="구매적립금 포인트"></td>
                                <td><img src="http://static.nurisoop.co.kr/img/renew/member/img_coupon_saving_02.png" alt="구매적립금 포인트"></td>
                                <td><img src="http://static.nurisoop.co.kr/img/renew/member/img_coupon_saving_03.png" alt="구매적립금 포인트"></td>
                                <td><img src="http://static.nurisoop.co.kr/img/renew/member/img_coupon_saving_04.png" alt="구매적립금 포인트"></td>
                                <td><img src="http://static.nurisoop.co.kr/img/renew/member/img_coupon_saving_05.png" alt="구매적립금 포인트"></td>
                                <td><img src="http://static.nurisoop.co.kr/img/renew/member/img_coupon_saving_06.png" alt="구매적립금 포인트"></td>
                                <td><img src="http://static.nurisoop.co.kr/img/renew/member/img_coupon_saving_07.png" alt="구매적립금 포인트"></td>
                                <td><img src="http://static.nurisoop.co.kr/img/renew/member/img_coupon_saving_08.png" alt="구매적립금 포인트"></td>
                            </tr>
                            <tr class="tr-cp-delivery">
                                <th scope="row"><em class="fg-grn">무료배송 쿠폰</em></th>
                                <!-- 공백 bnk -->
                                <td colspan="3" class="bnk"></td>
                                <td><img src="http://static.nurisoop.co.kr/img/renew/member/img_coupon_delivery_01.png" alt="무료배송 쿠폰"></td>
                                <td><img src="http://static.nurisoop.co.kr/img/renew/member/img_coupon_delivery_01.png" alt="무료배송 쿠폰"></td>
                                <td><img src="http://static.nurisoop.co.kr/img/renew/member/img_coupon_delivery_02.png" alt="무료배송 쿠폰"></td>
                                <td><img src="http://static.nurisoop.co.kr/img/renew/member/img_coupon_delivery_free.png" alt="무료배송 쿠폰"></td>
                                <td><img src="http://static.nurisoop.co.kr/img/renew/member/img_coupon_delivery_free.png" alt="무료배송 쿠폰"></td>
                            </tr>
                            <tr class="tr-cp-grd">
                                <th scope="row"><em class="fg-grn">등급별<br>할인쿠폰</em></th>
                                <td colspan="8">비정지적 (등급별 할인율 상이)</td>
                            </tr>
                            <tr class="tr-cp-up">
                                <th scope="row"><em class="fg-grn">승급축하 쿠폰</em><span>(최초 1회)</span></th>
                                <td colspan="4" class="bnk"></td>
                                <td><img src="http://static.nurisoop.co.kr/img/renew/member/img_coupon_up_01.png" alt="승급축하 쿠폰"></td>
                                <td><img src="http://static.nurisoop.co.kr/img/renew/member/img_coupon_up_02.png" alt="승급축하 쿠폰"></td>
                                <td><img src="http://static.nurisoop.co.kr/img/renew/member/img_coupon_up_03.png" alt="승급축하 쿠폰"></td>
                                <td><img src="http://static.nurisoop.co.kr/img/renew/member/img_coupon_up_04.png" alt="승급축하 쿠폰"></td>
                            </tr>
                            <tr class="tr-cp-birthday">
                                <th scope="row"><em class="fg-grn">생일혜택</em><span>(생일달 기준 매월 1일<br>일괄지급 : 발급일로부터<br>사용기한 한달)</span></th>
                                <td><img src="http://static.nurisoop.co.kr/img/renew/member/img_coupon_birthday_01.png" alt="생일혜택 쿠폰"></td>
                                <td><img src="http://static.nurisoop.co.kr/img/renew/member/img_coupon_birthday_01.png" alt="생일혜택 쿠폰"></td>
                                <td><img src="http://static.nurisoop.co.kr/img/renew/member/img_coupon_birthday_02.png" alt="생일혜택 쿠폰"></td>
                                <td><img src="http://static.nurisoop.co.kr/img/renew/member/img_coupon_birthday_02.png" alt="생일혜택 쿠폰"></td>
                                <td><img src="http://static.nurisoop.co.kr/img/renew/member/img_coupon_birthday_03.png" alt="생일혜택 쿠폰"></td>
                                <td><img src="http://static.nurisoop.co.kr/img/renew/member/img_coupon_birthday_03.png" alt="생일혜택 쿠폰"></td>
                                <td><img src="http://static.nurisoop.co.kr/img/renew/member/img_coupon_birthday_04.png" alt="생일혜택 쿠폰"></td>
                                <td><img src="http://static.nurisoop.co.kr/img/renew/member/img_coupon_birthday_04.png" alt="생일혜택 쿠폰"></td>
                            </tr>
                            <tr class="tr-new-prd">
                                <th scope="row"><em class="fg-grn">신제품<br>체험혜택</em></th>
                                <td colspan="4" class="bnk"></td>
                                <td colspan="4">체험단 신청 우선권</td>
                            </tr>
                            <tr class="tr-new-member">
                                <th scope="row"><em class="fg-grn">신규회원 혜택</em><span>(본인인증 최초1회)</span></th>
                                <td colspan="8">
                                    <ul class="tbl-list">
                                        <li class="f-bd">가입즉시 사용 가능한 적립금 1000원 (발급일로부터 일주일)</li>
                                        <li>샘플킷 신청 쿠폰(2500원 결제 배송 완료 후 적립금으로 환급)</li>
                                        <li>
                                            &#60;웰컴 쿠폰&#62; 가입 후 7일 이내 사용 가능한 10% 할인쿠폰<br>
                                            └ 조건 : 본인인증 완료되면 발급(1인 1회에 한함)
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="ship-info-box">
                    <div class="info-row w-1">
                        <p class="info-tit">안내사항</p>
                    </div>
                    <div class="info-row">
                        <ul class="info-list">
                            <li>1. 멤버십 등급 반영은 배송 완료일로부터 14일 이내 입니다.</li>
                            <li>2. 구매 적립금은 1년 미사용 시 자동 소멸됩니다. (추천인 적립금은 6개월 이내)</li>
                            <li>3. 제품 구매 시 적립금을 사용하시면 구매금액에 따른 적립금이 지급되지 않습니다.</li>
                            <li>4. 세일 카테고리 제품은 쿠폰 사용에서 제외됩니다. (적립금은 사용 가능)</li>
                            <li>5. 쿠폰 발급 안내는 SNS 수신 동의 체크를 해주셔야 받아보실 수 있습니다.</li>
                        </ul>
                        <p class="info-ast">멤버십 등급은 누적 금액 기준으로 선정되며, 추후 등급 평가 기준이 추가 될 수 있습니다.</p>
                    </div>
                </div>
            </div>
	    </div>
	</div> 
	
	@@include('../include/_footer.html') 
</div>

</body>
</html>