@charset "utf-8";

@import "../parts/common";


/* 콘텐츠 영역 */
.contents {
    .policy-sect {
        padding: 56px 0 140px;
        .container {
            .sub-tit {
                font-size: 20px;
                font-weight: 500;
                text-align: center;
            }
            
            //tab
            .tab-box {
                @include bx;
                overflow: hidden;
                margin: 38px -1px 0 0;
                line-height: 0;
                border-top: 2px solid $bor-black-01;
                .tab-list {
                    @include bx;
                    @include clearfix;
                    display: inline-block;
                    border-right: 1px solid $bor-gray-03;
                    li {
                        @include bx;
                        overflow: hidden;
                        float: left;
                        width: 33.3333333%;
                        height: 40px;
                        border-left: 1px solid $bor-gray-03;
                        border-bottom: 1px solid $bor-gray-03;
                        a {
                            @include bx;
                            display: block;
                            padding: 0 25px 0 48px;
                            font-size: 14px;
                            line-height: 40px;
                            letter-spacing: -0.2px;
                            font-weight: 300;
                            color: $fg-gray-04;
                            @include trasBase(1);
                            
                            &:hover {
                                @include trasBase(0.6);
                            }
                        }
                        &.on {
                            a {
                                color: $fg-green-01;
                            }
                        }
                        &.bnk {
                        }
                    }
                } 
            }
            
            //내용
            .policy-area {
                @include bx;
                margin-top: 50px;
                padding-top: 10px;
                border-top: 1px solid $bor-gray-03;
                .pcy-box {
                    @mixin pcy-fs{
                        @include bx;
                        font-size: 14px;
                        line-height: 1.3;
                        letter-spacing: 0;
                        word-break: keep-all;
                        color: $fg-gray-01;
                    }
                    @include bx;
                    margin-top: 18px;
                    .pcy-tit {
                        @include pcy-fs;
                    }
                    .pcy-txt-box {
                        * {
                            @include pcy-fs;
                        }
                        .t-hyphen {
                            position: relative;
                            padding-left: 5px;
                            &:before {
                                content: '';
                                @include position(absolute, 10px, 0);
                                width: 4px;
                                height: 1px;
                                background: $fg-gray-01;
                            }
                        }
                        .t-ast { 
                            @include txtAst;
                        }
                        .mt-15 {
                            margin-top: 15px;
                        }
                        .mt-20 {
                            margin-top: 20px;
                        }
                        
                        .pcy-txt {
                            
                        }
                        .pcy-list {
                            li {
                                .pcy-list-box {
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}