@@include('../include/_head.html', {
	"page": "hotdeal"
})

<body class="page-hotdeal">

<div class="wrapper">
	@@include('../include/_header.html')

    <!-- 핫딜존 리스트 -->
	<div class="contents prd-list">
        <div class="sub-top-sect">
            <div class="container">
                <figure class="top-bn">
                    <img src="http://static.nurisoop.co.kr/img/renew/hotdeal/bn_top.jpg" alt="핫딜존 탑 배너">
                </figure>
                
            </div>
        </div>
                
        <!-- 타이틀 -->
        <h2 class="sub-tit">핫딜존</h2>
        
        <!-- 상품 리스트 -->
        <div class="prd-sect">
            <div class="container">
            
                <div class="prd-area">
                    <ul class="prd-list">
                        <li>
                            <div class="prd-list-box">
                                <!-- 상세페이지 예시 링크 -->
                                <a href="./index_detail.html" class="prd-link">
                                    <p class="txt-dt plus">1+1</p>
                                    <!-- 다른유형 -->
                                    <!--<p class="txt-dt gift">GIFT</p>-->
                                    <!--<p class="txt-dt sale">SALE</p>-->

                                    <figure class="img-prd">
                                        <img src="http://static.nurisoop.co.kr/img/renew/common/product/item/repair_cream.png" class="off" alt="포레스트 리페어 크림">
                                        <img src="http://static.nurisoop.co.kr/img/renew/common/product/item/repair_cream_on.png" class="on" alt="포레스트 리페어 크림">
                                    </figure>
                                </a>
                                <div class="prd-txt-box">
                                    <div class="prd-name-box">
                                        <span class="prd-info-txt">
                                            히알루론산 35%함유<br>
                                            수분 팡팡 딥 수딩크림<i>!</i>
                                        </span>
                                        <a href="./index_detail.html" class="prd-name-txt">[1+1] 포레스트 리페어 크림<br>(exp:20.04.15/교환 및 환불불가)</a>
                                        <span class="prd-gift-txt">(증정) 누리촉촉 마스크팩 2매</span>
                                    </div>
                                    <div class="prd-price-box">
                                        <span class="sale-txt">53%</span>
                                        <div class="prd-price">
                                            <span class="txt-price">50,000원</span>
                                            <span class="txt-sale">21,000원</span>
                                        </div>
                                        <button type="button" class="btn-cart"><span>장바구니</span></button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="prd-list-box">
                                <a href="#none" class="prd-link">
                                    <p class="txt-dt sale">SALE</p>

                                    <figure class="img-prd">
                                        <img src="http://static.nurisoop.co.kr/img/renew/common/product/item/repair_cream.png" class="off" alt="포레스트 리페어 크림">
                                        <img src="http://static.nurisoop.co.kr/img/renew/common/product/item/repair_cream_on.png" class="on" alt="포레스트 리페어 크림">
                                    </figure>
                                </a>
                                <div class="prd-txt-box">
                                    <div class="prd-name-box">
                                        <span class="prd-info-txt">
                                            히알루론산 35%함유<br>
                                            수분 팡팡 딥 수딩크림<i>!</i>
                                        </span>
                                        <a href="#none" class="prd-name-txt">[1+1] 포레스트 리페어 크림<br>(exp:20.04.15/교환 및 환불불가)</a>
                                        <span class="prd-gift-txt">(증정) 누리촉촉 마스크팩 2매</span>
                                    </div>
                                    <div class="prd-price-box">
                                        <span class="sale-txt">53%</span>
                                        <div class="prd-price">
                                            <span class="txt-price">50,000원</span>
                                            <span class="txt-sale">21,000원</span>
                                        </div>
                                        <button type="button" class="btn-cart"><span>장바구니</span></button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="prd-list-box">
                                <a href="#none" class="prd-link">
                                    <p class="txt-dt gift">GIFT</p>

                                    <figure class="img-prd">
                                        <img src="http://static.nurisoop.co.kr/img/renew/common/product/item/repair_cream.png" class="off" alt="포레스트 리페어 크림">
                                        <img src="http://static.nurisoop.co.kr/img/renew/common/product/item/repair_cream_on.png" class="on" alt="포레스트 리페어 크림">
                                    </figure>
                                </a>
                                <div class="prd-txt-box">
                                    <div class="prd-name-box">
                                        <span class="prd-info-txt">
                                            히알루론산 35%함유<br>
                                            수분 팡팡 딥 수딩크림<i>!</i>
                                        </span>
                                        <a href="#none" class="prd-name-txt">[1+1] 포레스트 리페어 크림<br>(exp:20.04.15/교환 및 환불불가)</a>
                                        <span class="prd-gift-txt">(증정) 누리촉촉 마스크팩 2매</span>
                                    </div>
                                    <div class="prd-price-box">
                                        <span class="sale-txt">53%</span>
                                        <div class="prd-price">
                                            <span class="txt-price">50,000원</span>
                                            <span class="txt-sale">21,000원</span>
                                        </div>
                                        <button type="button" class="btn-cart"><span>장바구니</span></button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="prd-list-box">
                                <a href="#none" class="prd-link">
                                    <p class="txt-dt plus">1+1</p>

                                    <figure class="img-prd">
                                        <img src="http://static.nurisoop.co.kr/img/renew/common/product/item/repair_cream.png" class="off" alt="포레스트 리페어 크림">
                                        <img src="http://static.nurisoop.co.kr/img/renew/common/product/item/repair_cream_on.png" class="on" alt="포레스트 리페어 크림">
                                    </figure>
                                </a>
                                <div class="prd-txt-box">
                                    <div class="prd-name-box">
                                        <span class="prd-info-txt">
                                            히알루론산 35%함유<br>
                                            수분 팡팡 딥 수딩크림<i>!</i>
                                        </span>
                                        <a href="#none" class="prd-name-txt">[1+1] 포레스트 리페어 크림<br>(exp:20.04.15/교환 및 환불불가)</a>
                                        <span class="prd-gift-txt">(증정) 누리촉촉 마스크팩 2매</span>
                                    </div>
                                    <div class="prd-price-box">
                                        <span class="sale-txt">53%</span>
                                        <div class="prd-price">
                                            <span class="txt-price">50,000원</span>
                                            <span class="txt-sale">21,000원</span>
                                        </div>
                                        <button type="button" class="btn-cart"><span>장바구니</span></button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
	</div>
	
	@@include('../include/_footer.html') 
</div>

</body>
</html>